<div class="card border-0">
    <div class="card-img-wrapper">
        <a href="{{ article.url }}" class="full-unstyled-link" style="overflow: hidden;">
            <img
            src="{{ article.image | img_url: 'master' }}"
            alt="{{ article.title | escape }}"
            class="card-img-top img-fluid"
            >  
        </a>
    </div>
    <div class="card-body">
        <p class="card-title">
            <a href="{{ article.url }}" class="h4 fw-bold">
                {{ article.title | escape }}
            </a>
        </p>  
        <div class="card-desc">
            {{ article.content | strip_html | truncatewords: 25 }}
        </div>
        <p class="card-text">
            <span class="extra-small">{{ article.published_at | time_tag: format: 'date' }}</span>   
        </p>
    </div>
</div>
