{%- comment -%}
  Parameters:
  - product {Product}: Current product.
  - zoom_size {String}: The largest image size to load when zoomed in.

  Usage:
  {% render 'gallery-viewer', product: product, zoom_size: zoom_size %}
{%- endcomment -%}

{%- liquid
  assign image_media = product.media | where: 'media_type', 'image'
-%}
<template class="js-media-zoom-template">
  <gallery-modal-dialog class="modal gallery-viewer-modal fixed top-0 left-0 w-full h-full flex items-center justify-center" role="dialog" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" aria-modal="true" tabindex="-1">
    <div class="modal__window relative bg-theme-bg text-theme-text text-start overflow-hidden has-motion">
      <div class="modal__content flex-auto h-full rte">
        <gallery-viewer class="gallery-viewer{% if image_media.size == 1 %} gallery-viewer--single-image{% endif %}" tabindex="-1">
          <div class="gallery-viewer__zoom-container"></div>
          <div class="gallery-viewer__thumbs">
            {%- for media in image_media -%}
              <a class="gallery-viewer__thumb" href="#" data-zoom-url="{{ media.preview_image | image_url: width: zoom_size }}" data-media-id="{{ media.id }}">
                {{- media.preview_image | image_url: width: 138 | image_tag: class: 'gallery-viewer__thumb-img' -}}
              </a>
            {%- endfor -%}
          </div>
          <div class="gallery-viewer__controls">
            <a class="gallery-viewer__button gallery-viewer__prev has-ltr-icon" href="#">
              <span class="visually-hidden">previous</span>
              {% render 'icon-chevron-left' %}
            </a>
            <a class="gallery-viewer__button gallery-viewer__next has-ltr-icon" href="#">
              <span class="visually-hidden">next</span>
              {% render 'icon-chevron-right' %}
            </a>

            <div class="gallery-viewer__button gallery-viewer__close js-close-modal">
              {% render 'icon-close' %}
              <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
            </div>
          </div>
        </gallery-viewer>
      </div>
    </div>
  </gallery-modal-dialog>
</template>
