<nav class="Pagination">
  <div class="Pagination__List">
    {%- if paginate.previous -%}
      <span class="prev">
        <a
          class="Pagination__Item Pagination__Item--Next" 
          href="{{ paginate.previous.url }}"
          >
          < Previous
        </a>
      </span>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      <span>
        {%- if part.is_link -%}
          <a
            class="Pagination__Item"
            href="{{ part.url }}"
            >
            {{ part.title }}
          </a>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <span class="Pagination__Item Pagination__Item--Current">{{ part.title }}</span>
          {%- else -%}
            <span class="Pagination__Item">{{ part.title }}</span>
          {%- endif -%}
        {%- endif -%}
      </span>
    {%- endfor -%}

    {%- if paginate.next -%}
      <span class="next">
        <a
          class="Pagination__Item Pagination__Item--Prev"
          href="{{ paginate.next.url }}"
          >
          Next >
        </a>
      </span>
    {%- endif -%}
  </ul>
</div>