   <section id="shopify-section--{{ section.id }} " class="scrollAnimation wrap d-flex justify-content-center align-items-center ">

    

        
    <div class="container">
        <div class="row scroll-animation-desktop">

    <div class="scrollGroup">
        <div class="text-title">
            <div class="container-title">
                    <div class="content">
                        <h1 class="h1">Low Step-Thru Design</h1>
                        <p class="p">Integrated 6061 Alloy Frame,380mm bottom span</p>
                    </div>
                </div>

                <div class="container-title">
                    <div class="content">
                        <h1 class="h1">Removable Li-Ion Battery</h1>
                        <p class="p">48V14.4Ah Removable Lithium-ion Battery, LG Cells with UL certified</p>
                    </div>
                </div>

                <div class="container-title">
                    <div class="content">
                        <h1 class="h1">Mid-Drive Motor</h1>
                        <p class="p">Bafang M60048V/500W Mid-Drive Motor, 95 Nm</p>
                    </div>
                </div>

                <div class="container-title">
                    <div class="content">
                        <h1 class="h1">3.5-Inch TFT-LCD Full-Color Display</h1>
                        <p class="p"></p>
                    </div>
                </div>
                 <div class="container-title">
                    <div class="content">
                        <h1 class="h1">Suspension System</h1>
                        <p class="p">Zoom hydraulic suspension Fork with Lockout, 100 mm Trave <br><br> Suspension Seat Post Zoom 30mm travel suspension</p>
                    </div>
                </div>
            </div>
    <div class="animation_1 imagesScroll">
        <div class="rq">

             <div class="imgsSection">
                <img src="{{ 'frame100001.png' | asset_url }}" alt="" style="display: block;">
                <img src="{{ 'frame100002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame100016.png' | asset_url }}" alt="" style="display: none;">


                <img src="{{ 'frame200001.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200018.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200019.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200020.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200021.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200022.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200023.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200024.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200025.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200026.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200027.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200028.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200029.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200030.png' | asset_url }}" alt="" style="display: none;">


                <img src="{{ 'frame300001.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300018.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300019.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300020.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300021.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300022.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300023.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300024.png' | asset_url }}" alt="" style="display: none;">

                <img src="{{ 'frame400001.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400018.png' | asset_url }}" alt="" style="display: none;">

                <img src="{{ 'frame500001.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500018.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500019.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500020.png' | asset_url }}" alt="" style="display: none;">

            </div>
        </div>
    </div>
            </div>


    {% comment %} <div class="animation_2 imagesScroll">
        <div class="rq ">
            <div class="content">
                <h1>Low Step-Thru Design</h1>
                <p>Integrated 6061 Alloy Frame,380mm bottm span</p>
            </div>
            <div class="imgsSection">
                <img src="{{ 'frame200001.png' | asset_url }}" alt="" style="display: block;">
                <img src="{{ 'frame200002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200018.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200019.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200020.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200021.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200022.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200023.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200024.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200025.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200026.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200027.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200028.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200029.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame200030.png' | asset_url }}" alt="" style="display: none;">
            </div>
        </div>
    </div>  

  <div class="animation_3 imagesScroll">
        <div class="rq ">
            <div class="content">
                <h1>Low Step-Thru Design</h1>
                <p>Integrated 6061 Alloy Frame,380mm bottm span</p>
            </div>
            <div class="imgsSection">
                <img src="{{ 'frame300001.png' | asset_url }}" alt="" style="display: block;">
                <img src="{{ 'frame300002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300018.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300019.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300020.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300021.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300022.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300023.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame300024.png' | asset_url }}" alt="" style="display: none;">
            </div>
        </div>
    </div>  

    
    <div class="animation_4 imagesScroll">
        <div class="rq ">
            <div class="content">
                <h1>Low Step-Thru Design</h1>
                <p>Integrated 6061 Alloy Frame,380mm bottm span</p>
            </div>
            <div class="imgsSection">
               <img src="{{ 'frame400001.png' | asset_url }}" alt="" style="display: block;">
                <img src="{{ 'frame400002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame400018.png' | asset_url }}" alt="" style="display: none;">
            </div>
        </div>
    </div> 

    <div class="animation_5 imagesScroll">
        <div class="rq ">
            <div class="content">
                <h1>Low Step-Thru Design</h1>
                <p>Integrated 6061 Alloy Frame,380mm bottm span</p>
            </div>
            <div class="imgsSection">
                <img src="{{ 'frame500001.png' | asset_url }}" alt="" style="display: block;">
                <img src="{{ 'frame500002.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500003.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500004.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500005.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500006.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500007.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500008.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500009.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500010.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500011.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500012.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500013.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500014.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500015.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500016.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500017.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500018.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500019.png' | asset_url }}" alt="" style="display: none;">
                <img src="{{ 'frame500020.png' | asset_url }}" alt="" style="display: none;">
            </div>
        </div>
    </div>
   {% endcomment %}
        </div>
    </div> 
</section>