<section id="CustomizeHeaderBanner" class="feature-slider position-relative">
    <div class="container">
        <div class="container-data position-relative">
            {% assign counter = 1 %}
            <div class="data">
                {% for block in section.blocks %}
                    <p {%  if counter == 1  %}class="active"{% endif %}
                    data-title="{{ block.settings.productTitle }}"
                    data-image="{{ block.settings.product_image | img_url: 'master' }}">
                    </p>
                    {% assign counter = counter | plus: 1 %}
                {%- endfor -%}
            </div>

            {%- if section.settings.productTitle != blank -%}
                <h2 class="title mb-0 text-title">
                    {{ section.settings.productTitle }}
                </h2>
            {% endif %}

            <div class="slide-wrapper-inner">
                <div class="slide">
                    <div class="featProduct-content">
                        {%- if section.settings.product_url != blank -%}
                            <a href="{{ section.settings.product_url }}" class="btn btn-dark text-capitalized d-table mobile-button">Learn more</a>
                        {% endif %}

                    </div>

                    {%- if section.settings.product_image != blank -%}
                        <div class="product-image">
                            {{ section.settings.product_image | image_url: width: 1024 | image_tag: srcset: nil }}
                        </div>
                    {% endif %}
                </div>
            </div>
             {% comment %} <div class="variant-colors-wrapper">
                {% render 'product-variant-colors', product: product %}
            </div> {% endcomment %}
                             
            <div class="floating-btn">
                <div class="sliderButton-wrapper">
                    {% for block in section.blocks %}
                        <div class="sliderbutton-wrapper" data-page="{{ forloop.index }}">
                            <button class="slider-button slider-button page" style="background-color: {{ block.settings.variant_color }} !important;"></button>
                        </div>
                    {% endfor %}
                </div>
                
                <!--button class="prev"><img src="{{ 'left-arrow.png' | asset_url }}" alt="Left Arrow"></button>
                <button class="next"><img src="{{ 'right-arrow.png' | asset_url }}" alt="Right Arrow"></button-->
            </div>
        </div>
        <div class="buttons" >
            <a href="{{ section.settings.buyNow_url }}" class="btn btn-dark text-capitalized  mobile-button">Buy Now</a>
            <a  id="videoButton" class="btn border text-capitalized">
                <div class="videoArrow-right"></div> Watch Video
            </a>
        </div>

        {%- if section.settings.product_image != blank -%}
            <div class="description">
                {{ section.settings.description }}
            </div>
        {% endif %}
        
    </div>

     <div id="videoPopup">
        <div class="videoPopup-inner">
            <button id="closeButton">&times;</button>
            <div id="videoContainer">
                {{ section.settings.video | video_tag: controls: false, autoplay: true, loop: true, id: "videoIframe" }}
            </div>
        </div>
    </div>
</section>
