<section id="shopify-section--{{ section.id }}" class="fourColumn-blockIcon">
    <div class="container">
        <div class="fourColumn-outerWrapper fourColumn-desktop row">
            {%- for block in section.blocks -%}
                <div class="fourColumn-item col-xl-3 col-sm-6">
                    {%- if block.settings.column_icon != blank -%}
                        <div class="column-icon mb-3 d-flex justify-content-center">
                            {{ block.settings.column_icon | image_url: width: 68 | image_tag: srcset: nil }}
                        </div>
                    {% endif %}

                    {%- if block.settings.column_text != blank -%}
                        <div class="column_text d-table mx-auto">
                            {{ block.settings.column_text }}
                        </div>
                    {% endif %}
                </div>
            {%- endfor -%}
        </div>

        <div class="fourColumn-outerWrapper fourColumn-mobile">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    <div class="fourColumn-item swiper-slide">
                        {%- if block.settings.column_icon != blank -%}
                            <div class="column-icon mb-3 d-flex justify-content-center">
                                {{ block.settings.column_icon | image_url: width: 68 | image_tag: srcset: nil }}
                            </div>
                        {% endif %}

                        {%- if block.settings.column_text != blank -%}
                            <div class="column_text d-table mx-auto">
                                {{ block.settings.column_text }}
                            </div>
                        {% endif %}
                    </div>
                {%- endfor -%}
            </div>

             <!-- Add Pagination -->
             <div class="swiper-pagination"></div>

        </div>

    </div>
</section>