<section id="shopify-section--{{ section.id }}" class="fullWidth-verticalSlider">
    <div class="fullVertical-slider swiper-container">
        <div class="slider swiper-wrapper">
            {%- for block in section.blocks -%}
                <div class="fullBanner-sliderItem swiper-slide">
                    <div class="slide-inner">
                        <img src="{{ block.settings.slider_image | img_url: 'master' }}" alt="{{ block.settings.banner_title }}">
                        <div class="banner-content {{ section.settings.sliderContent_alignment }}">
                            <div class="bannerContent-inner">
                                {%- if block.settings.banner_title != blank -%}
                                    <div class="banner-headingText">
                                        {{ block.settings.banner_headingTags }}{{ block.settings.banner_title }}
                                    </div>
                                {% endif %} 

                                {%- if block.settings.banner_text != blank -%}
                                    <div class="banner-texts">
                                        {{ block.settings.banner_text }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
        
        {%- if section.settings.showSlider_pagination != blank -%}
            <div class="swiperPagination-container">
                <div class="swiper-pagination"></div>
            </div>
        {% endif %}

    </div>
</section>