<section id="featureSlider" class="feature-slider position-relative">
    <div class="container">
        <div class="container-data position-relative">
            {% assign counter = 1 %}
            <div class="data">
                {% for block in section.blocks %}
                    <p {%  if counter == 1  %}class="active"{% endif %}
                    data-title="{{ block.settings.productTitle }}" 
                    data-description="{{ block.settings.product_description }}"
                    data-price="{{ block.settings.product_price }}"
                    data-body="{{ block.settings.product_body }}"
                    data-motor="{{ block.settings.product_motor }}"
                    data-battery="{{ block.settings.product_battery }}"
                    data-image="{{ block.settings.product_image | img_url: 'master' }}">
                    </p>
                    {% assign counter = counter | plus: 1 %}
                {%- endfor -%}
            </div>

            <div class="text-data">
                {%- if section.settings.product_price != blank -%}
                    <div class="text price">
                        <div class="textData-label">Price</div>
                        <span class="data-value">{{ section.settings.product_price }}</span>
                    </div>
                {% endif %}

                {%- if section.settings.product_body != blank -%}
                    <div class="text body">
                        <div class="textData-label">Body</div>
                        <span class="data-value">{{ section.settings.product_body }}</span>
                    </div>
                {% endif %}

                {%- if section.settings.product_motor != blank -%}
                    <div class="text motor">
                        <div class="textData-label">Motor</div>
                        <span class="data-value">{{ section.settings.product_motor }}</span>
                    </div>
                {% endif %}

                {%- if section.settings.product_battery != blank -%}
                    <div class="text battery">
                        <div class="textData-label">Battery</div>
                        <span class="data-value">{{ section.settings.product_battery }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="slide-wrapper-inner">
                <div class="slide">
                    <div class="featProduct-content">
                        {%- if section.settings.productTitle != blank or section.settings.productDescription != blank or section.settings.product_url != blank -%}
                            <div class="feat-info d-table">
                                {%- if section.settings.productTitle != blank -%}
                                    <h2 class="title mb-0">
                                        {{ section.settings.productTitle }}
                                    </h2>
                                {% endif %}

                                {%- if section.settings.productDescription != blank -%}
                                    <p class="description">
                                        {{ section.settings.productDescription }}
                                    </p>
                                {% endif %}

                                {%- if section.settings.product_url != blank -%}
                                    <a href="{{ section.settings.product_url }}" class="btn btn-dark text-capitalized d-table">Learn more</a>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="text-data mobile">
                            {%- if section.settings.product_price != blank -%}
                                <div class="text price">
                                    <div class="textData-label">Price</div>
                                    <span class="data-value">{{ section.settings.product_price }}</span>
                                </div>
                            {% endif %}

                            {%- if section.settings.product_body != blank -%}
                                <div class="text body">
                                    <div class="textData-label">Body</div>
                                    <span class="data-value">{{ section.settings.product_body }}</span>
                                </div>
                            {% endif %}

                            {%- if section.settings.product_motor != blank -%}
                                <div class="text motor">
                                    <div class="textData-label">Motor</div>
                                    <span class="data-value">{{ section.settings.product_motor }}</span>
                                </div>
                            {% endif %}

                            {%- if section.settings.product_battery != blank -%}
                                <div class="text battery">
                                    <div class="textData-label">Battery</div>
                                    <span class="data-value">{{ section.settings.product_battery }}</span>
                                </div>
                            {% endif %}
                        </div>

                        {%- if section.settings.product_url != blank -%}
                            <a href="{{ section.settings.product_url }}" class="btn btn-dark text-capitalized d-table mobile-button">Learn more</a>
                        {% endif %}

                    </div>

                    {%- if section.settings.product_image != blank -%}
                        <div class="product-image">
                            {{ section.settings.product_image | image_url: width: 1024 | image_tag: srcset: nil }}
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="floating-btn">
                <button class="prev"><img src="{{ 'left-arrow.png' | asset_url }}" alt="Left Arrow"></button>
                <button class="next"><img src="{{ 'right-arrow.png' | asset_url }}" alt="Right Arrow"></button>
            </div>
        </div>
    </div>
</section>