<section id="shopify-section--{{ section.id }}" class="sliderBan slider-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sliderBanner-wrapper position-relative">
                    <div class="sliderBanner-images">
                        <div class="swiper-container banner-slider">
                            <div class="swiper-wrapper">
                                {%- for block in section.blocks -%}
                                    {%- if block.settings.slider_bannerBg != blank -%}
                                        <div class="swiper-slide">
                                            <div class="slider-bannerImageWrapper" data-swiper-parallax="50%">
                                                <img class="slider-bannerImage swiper-lazy" src="{{ block.settings.slider_bannerBg | img_url: 'master'}}" data-src="{{ block.settings.slider_bannerBg | img_url: 'master'}}" alt="image-slider">
                                            </div>
                                        </div>
                                    {% endif %}
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                    
                    <div class="sliderBanner-contents">
                        <div class="swiper-container sliderBanner-contentsInner">
                            <div class="swiper-wrapper">
                                {%- for block in section.blocks -%}
                                    <div class="swiper-slide sliderBanner-content">
                                        <div class="quote-text-wrap">
                                            <div class="quote-text">
                                                {%- if block.settings.slider_title != blank -%}
                                                    <div class="slider-title">
                                                        {{ block.settings.slider_headingTag }}{{ block.settings.slider_title }}
                                                    </div>
                                                {% endif %}

                                                {%- if block.settings.slider_paragraph != blank -%}
                                                    <div class="slider-paragraph">
                                                        {{ block.settings.slider_paragraph }}
                                                    </div>
                                                {% endif %}

                                                {%- if block.settings.button_link != blank -%}
                                                    <a href="{{ block.settings.button_link }}" class="btn btn-light mt-4">
                                                        Learn more
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>