<div class="ifa-join-us">
  <div class="content-wrapper">
    <div class="content-inner">
      {% for block in section.blocks %}
        <div class="content-item">
          <h3 class="title">{{ block.settings.title }}</h3>
          <p class="desc">{{ block.settings.desc }}</p>
        </div>
      {% endfor %}
      <!-- <div class="button">Join Us</div> -->
    </div>
  </div>
</div>
<style>
  .ifa-join-us {
       aspect-ratio: {{ section.settings.bg_pc.aspect_ratio }};
      background-image: url('{{ section.settings.bg_pc | image_url}}');
      background-size: 100%;
      background-repeat: no-repeat;
    padding-left: 4%;
  }
  .ifa-join-us .content-wrapper {
      width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .ifa-join-us .content-item {
    margin-bottom: 30px;
  }
  .ifa-join-us .title {
    color: #A8D0FF;
    font-size:20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .ifa-join-us .desc {
    color: #ffffff;
    font-size: 15px;
  }
  .ifa-join-us .button {
    width: 240px;
    height: 43px;
    line-height: 43px;
    border-radius: 46px;
    background-color: var(--primary);
    color:  #ffffff;
    text-align: center;
    cursor: pointer;
  }
  @media screen and (max-width:480px) {
      .ifa-join-us {
       aspect-ratio: {{ section.settings.bg_m.aspect_ratio }};
        background-image: url('{{ section.settings.bg_m | image_url}}');
        padding: 0 4%;
      }
    .ifa-join-us .content-wrapper {
      width: 100%;
      flex-direction: column-reverse;
    }
    .ifa-join-us .content-inner {
      width: 100%;
      word-break: break-word;
      margin-bottom: 20px;
    }
    .ifa-join-us .title {
      font-size: 16px;
    }
    .ifa-join-us .desc {
      font-size: 13px;
    }
    .ifa-join-us .button {
      width: 100%;
    }
  }
</style>
{% schema %}
{
  "name": "Join Us 2",
  "settings": [
    {
    "type": "image_picker",
    "id": "bg_pc",
    "label": "Background PC"
  },
  {
    "type": "image_picker",
    "id": "bg_m",
    "label": "Background M"
  }
  ],
  "blocks": [{
    "type":"text",
    "name": "Text",
    "settings": [{
      "type": "text",
      "id": "title",
      "label": "Title"
    },{
      "type": "text",
      "id": "desc",
      "label": "Description"
    }]
  }],
  "presets": [{"name": "Join Us 2"}]
}
{% endschema %}
