{%style%}
  .custom-judgme-product-reviews {
    padding-bottom: 75px;
  }
  .section-custom-judgme-product-reviews .custom-judgme-product-reviews {
    background-color: #fff;
  }
  .custom-judgme-product-reviews .jdgm-rev-widg__title{
    display: none;
  }
  .custom-judgme-product-reviews .section-title{
    padding-top: 99px;
    padding-bottom: 40px;
  }
  .section-{{section.id}}-margin{
      margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
      .section-{{section.id}}-margin{
          margin-top: {{ section.settings.margin_top}}px;
          margin-bottom: {{ section.settings.margin_bottom}}px;
      }
  }
  
{%endstyle%}
{% assign product = all_products[section.settings.product] %}
<div class="{{section.id}} custom-judgme-product-reviews section-{{section.id}}-margin bg-lightgray">
  <div class="container container-panel">

    {%if section.settings.title!=blank%}
      <div class="section-title text-center">
            <h2 class="van-large-title fw-bold">{{section.settings.title}}</h2>
      </div>
    {%endif%}
    <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}'
        data-from-snippet='{% if concierge_install != nil  %}{{ concierge_install }}{% else %}true{% endif %}'
        data-auto-install='{% if auto_install != nil %}{{ auto_install }}{% else %}false{% endif %}'>
        {{ product.metafields.judgeme.widget }}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Product Reviews",
    "class": "section-custom-judgme-product-reviews",
    "settings": [
        {
                
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "What Our Client Say's"
               
        },
        {
                
            "type": "product",
            "id": "product",
            "label": "Select Bike Product"
               
        },
        {
          "type": "header",
          "content": "Margin Section"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Margin Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        }
    ],
  "presets": [
    {
      "name": "Custom Product Reviews",
      "settings": {
        "title": "What Our Client Say's"
      }
    }
  ],
  "locales": {
    "en": {
      "title": "What Our Client Say's"
    }
  }
  }
{% endschema %}
