{{ 'drawer.css' | asset_url | stylesheet_tag }}
{{ 'drawer.js' | asset_url | script_tag }}

<section d="{{ object.name }}" class="drawer" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">
        {{ 'cart.general.title' | t }}
      </div>
      <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
      
    </div>
    <!-- <div class="notify__cart">
        <p><img src="{{'Gift.svg' | asset_url}}" width="20" height="20" class="icon-header__search" alt="icon search"> Get a FREE helmet when you place an order</p>
      </div> -->
    <div class="drawer__content" id="cart__drawer">
      
      <div id="cart__drawer_items" class="cart__drawer_items">
      </div>
       <div class="drawer__you-may-also-like ">
       
        {% comment %} <input type="submit" value="Add to Cart" class="btn" onclick="dataLayer.push({ 'ecommerce': null });dataLayer.push({ 'event': 'add_to_cart', 'ecommerce': { 'items': [{ 'item_id': '{{ product.id }}', 'item_name': '{{ product.title | remove: "'" | remove: '"' }}', 'item_brand': '{{ product.vendor | remove: "'" | remove: '"' }}', 'item_category': '{{ product.collections.title | remove: "'" | remove: '"' }}', 'item_variant': '{{ product.selected_variant.sku }}', 'currency': '{{ shop.currency }}', 'price': '{{ product.price | times: 0.01}}' }] } });" /> {% endcomment %}
        <div class="tems-wrapper pt-3">
        {% assign cross_sells = section.settings.cross_sells %}
        {% assign cross_sells_products = cross_sells.products %}
          {% comment %} {% for product in cross_sells_products limit: 10%}
          <div class="also-like-items cart__drawer_item">
              <a href="{{product.url}}" title="{{product.title}}" style="text-decoration:none">
                 <div class="product-img">
                    <img src="{{ product.featured_image | product_img_url: 'master' }}"  width="115">
                 </div>
              </a>
               <div class="info">
               <a href="{{product.url}}" title="{{product.title}}" style="text-decoration:none">
                  <h6 class="drawer-cart-title v-large pt-2 fw-600 mb-1 no-break ellipsis">{{product.title}} </h6>
                 <p class="transcy-money fw-bold"> {{ product.price | money }}</p>
              </a>
                 </div>
               <div class="info-2">
               <form action="/cart/add" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                   <button type="submit" class="btn btn-dark"  style="padding:2px 15px 4px;" ><span class="v-extra-small text-white fw-600">Add</span></button>
              </form>
                 </div>
          </div>
          {%endfor%} {% endcomment %}

        </div>
      </div>
    {% comment %} </div>

    <div class="drawer__content2" id="cart__drawer"> {% endcomment %}
    <div class="drawer__you-may-also-like ">
       <div class="cart__drawer_items_heading">
        <h6 class="v-large fw-bold" style="text-transform: capitalize; margin-top:-30px;">You may also like </h6>
        </div>
        {% comment %} <input type="submit" value="Add to Cart" class="btn" onclick="dataLayer.push({ 'ecommerce': null });dataLayer.push({ 'event': 'add_to_cart', 'ecommerce': { 'items': [{ 'item_id': '{{ product.id }}', 'item_name': '{{ product.title | remove: "'" | remove: '"' }}', 'item_brand': '{{ product.vendor | remove: "'" | remove: '"' }}', 'item_category': '{{ product.collections.title | remove: "'" | remove: '"' }}', 'item_variant': '{{ product.selected_variant.sku }}', 'currency': '{{ shop.currency }}', 'price': '{{ product.price | times: 0.01}}' }] } });" /> {% endcomment %}
        <div class="tems-wrapper pt-3">
        {% assign cross_sells = section.settings.cross_sells %}
        {% assign cross_sells_products = cross_sells.products %}
          {% for product in cross_sells_products limit: 10%}
            {% if product.available %}
                <div class="also-like-items cart__drawer_item">
                  <a href="{{ product.url }}" title="{{ product.title }}" style="text-decoration:none">
                    <div class="product-img">
                        <img src="{{ product.featured_image | product_img_url: 'master' }}"  width="96">
                    </div>
                  </a>
                  <div class="info">
                    <a href="{{ product.url }}" title="{{ product.title }}" style="text-decoration:none">
                        <h6 class="drawer-cart-title v-medium pt-2 fw-600 mb-1 no-break ellipsis">{{ product.title }} </h6>
                      <p class="transcy-money fw-bold"> {{ product.price | money }}</p>
                    </a>
                  </div>
                  <div class="info-2">
                    <form action="javascript:void(0)" class="ymal-form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                        <button type="submit" class="btn-dark btn-s"  style="padding:2px 5px 4px; " ><span class="v-extra-small text-white fw-600">Add</span></button>
                    </form>
                  </div>
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>
      </div>

    <div class="drawer_cart__summary">
    {% render 'reusableComponent-discount-code-updated' %}
    <p id="saved" ></p>
    <p id="saved_code" ></p>
    <p id="saved_total" ></p>
        <p class="d-flex">
            <span class="fw-500 v-small font__size">Discount Applied</span>
            <span><span id="cart__total_discount" class="transcy-money fw-bold v-large"></span></span>
        </p>

        <p class="d-flex">
            <span class="fw-bold v-large ">{{ 'cart.general.subtotal' | t }}</span>
            <span><span id="cart__total_price" class="transcy-money fw-bold v-large"></span></span>
        </p>
    </div>
    <div class="drawer-btn-box">

      <span style="display: none">
        <a href="{{ routes.cart_url }}" class="btn to_cart__btn">{{ 'cart.general.add_a_bike' | t }}</a>
      </span>
      <span id="drawer_cart__checkout_btn">
        <a href="/checkout" class="btn checkout__btn">{{ 'cart.general.checkout' | t  }}</a>
      </span>
      <span id="drawer_cart__shop_btn">
        <a href="{{section.settings.continue_shopping}}" class="btn">{{ 'cart.general.continue_shopping' | t  }}</a>
      </span>
      <div class="savings_shipping">
        <p class="savings pt-4 text-center mb-0">
            <span class="fw-600 v-small font__size" id="showsavings">{{ 'cart.general.savings' | t }} <span class="transcy-money fw-600 " id="saving">$0.00</span></span>
        </p>
        <p class="shipping pt-3 text-center">
            <span class="txt-light fw-600 v-x-small small-text">{{ 'cart.general.shipping_at_checkout' | t }}</span>
        </p>
      </div>
    </div> 
  </div>
    
</section>
<script>
  var saving_total = 0, cart_total=0;
  var drawerCart = {};
  function formatMoney_dicimal(amount) {
      return "$" + (amount / 100).toFixed(2);
  }
  function formatMoney_dicimal_nodollar(amount) {
      return   (amount / 100).toFixed(2);
  }
  
  drawerCart = {};

    drawerCart.loadCart = function() {
      $.get(window.Shopify.routes.root + 'cart.js', {}, function(data) {
        let saving_total = 0;
        let cart_total = 0;

        if (data.items.length > 0) {
          let cartHtml = '';
          let requests = [];

          data.items.forEach(function(product, index) {
            if (product.variant_title == null) {
              product.variant_title = '';
            }

            let compare_price = '';

            let request = $.getJSON('/products/' + product.handle + '.js', function(products) {
              let variant = products.variants.find(function(variant) {
                return variant.id == product.variant_id;
              });
              if (variant) {
                compare_price = variant.compare_at_price;
              }
            }).then(function() {

              if (compare_price != null)
                compare_price = formatMoney(compare_price);
              else
                compare_price = '';

              cartHtml += '<div class="cart__drawer_item">\
                  <div class="product-img"><img width="96" src="' + product.featured_image.url + '" alt="' + product.featured_image.alt + '"></div>\
                  <div class="info">\
                      <div class="drawer-cart-title">' + product.product_title + '<br><span class="variation-title v-x-small fw-600">'+product.variant_title+'</span> </div>\
                      <div class="qty d-flex">\
                          <div class="qty-wrapper"><button class="btn--naked btn-quantity reduce">-</button>\
                          <span>\
                              <input type="number" class="cart-quantity-input fw-600 v-x-small" data-id="' + product.id +'" value="' + product.quantity +'">\
                          </span>\
                          <button class="btn--naked btn-quantity plus">+</button></div>\
                            <a class="remove-cart-item v-extra-small fw-600 txt-light" data-id="' + product.id +'"><img src="{{'Trash.svg' | asset_url}}" width="24" height="24" class="icon-header__search" alt="icon search"></a>\
                      </div>\
                  </div>\
                  <div>\
                  <div class="fw-bold v-small" style="color:gray;text-decoration: line-through;">'+ compare_price +'</div>\
                  <div class="transcy-money v-medium fw-bold">'+ formatMoney(product.line_price) +'</div>\
                  </div>\
              </div>';

              saving_total += product.total_discount;
              cart_total += product.line_price;
            });

            requests.push(request);
          });

          $.when.apply($, requests).then(function() {
            $('.drawer__content').removeClass("empty");
            $('#cart__drawer_items').html(cartHtml);
            $('#saved').html(formatMoney_dicimal_nodollar(saving_total));
            $('#saving').html(formatMoney_dicimal_nodollar(saving_total));
            $("#drawer_cart__checkout_btn").show();
            $("#drawer_cart__shop_btn").hide();
            $(".drawer_cart__summary").show();
            $(".drawer__you-may-also-like").show();
            $(".savings_shipping").show();

            $('#saving').html(formatMoney(saving_total));
            $('#cart__total_discount').html(formatMoney(saving_total));
            $("span[data-cart-count]").text(data.item_count);

            if (data.items_subtotal_price != cart_total) {
              $('#cart__total_price').html("<s style='color:#999999; margin-right:10px; font-weight: lighter; font-size: .8em;'>" + formatMoney(data.items_subtotal_price) + "</s>" + formatMoney(cart_total));
              $('.applied-discount-code-value').html(data.cart_level_discount_applications[0].title + ' ('+formatMoney(data.cart_level_discount_applications[0].total_allocated_amount)+')');
              $('.applied-discount-code-wrapper').css('display', 'inline');
            } else {
              $('#cart__total_price').html(formatMoney(cart_total));
            }
          });
        } else {
          $('.drawer__content').addClass("empty");
          $('#cart__drawer_items').html('<div class="drawer_cart_empty">{{ "cart.general.empty" | t }}</div>');
          $(".drawer_cart__summary").hide();
          $(".cart__drawer_items_heading").hide();
          $("#drawer_cart__checkout_btn").hide();
          $("#drawer_cart__shop_btn").show();
          $(".drawer__you-may-also-like").hide();
          $(".savings_shipping").hide();

          localStorage.removeItem("discountCode"); 
          fetch(`${window.location.origin}/checkout?discount=CLEAR`);

          $('#discount-code-input').val('');
          $('.applied-discount-code-wrapper').hide();
        }
      }, 'json');
    }

    $(function() {
      drawerCart.init = function(){
        $(document).on("change", ".cart-quantity-input", function(){
          var id = $(this).attr('data-id');
          var data = {'updates': {}};
          data['updates'][id] = $(this).val();
          $.post(window.Shopify.routes.root + 'cart/update.js', data, function(){
            drawerCart.loadCart();
          }, 'json');
        });
        $(document).on("click", ".remove-cart-item", function(){
          var id = $(this).attr('data-id');
          var data = {'updates': {}};
          data['updates'][id] = 0;
          $.post(window.Shopify.routes.root + 'cart/update.js', data, function(){
            drawerCart.loadCart();
          }, 'json');
        });
        $(document).on("click", ".site-header__cart", function(){
          drawerCart.loadCart();
        });
        $(document).on("click", ".btn-quantity", function(){
          var input = $(this).closest('.qty').find('input');
          var qty = parseInt(input.val()) ? parseInt(input.val()) : 1;
          if($(this).hasClass('plus')){
            qty +=1;
          }
          if($(this).hasClass('reduce')){
            qty -=1;
          }
          if(qty<0){
            qty = 0;
          }
          input.val(qty);
          var id = input.attr('data-id');
          var data = {'updates': {}};
          data['updates'][id] = qty;
          $.post(window.Shopify.routes.root + 'cart/update.js', data, function(){
            drawerCart.loadCart();
          }, 'json');
        });
      }
      drawerCart.init();
      drawerCart.loadCart();
    });

</script>
 
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  let clearBtn = document.querySelector("#clear-discount-btn");
  let applyBtn = document.querySelector("#apply-discount-btn");
  let showDiscount = document.querySelector(".applied-discount-code-wrapper");
  let discountCodeError = document.querySelector("#discount-code-error");
  let discountCodeWrapper = document.querySelector("#cart__total_discount");
  let discountCodeValue = document.querySelector(".applied-discount-code-value");
  let discountCodeInput = document.querySelector("#discount-code-input");
  let totalCartSelector = document.querySelector("#cart__total_price"); // Total Cart Selector to update the total amount. 
  let savingpluscode = document.querySelector("#saving");
  let savingCode = document.querySelector("#saved");
  let savedCode = document.querySelector("#saved_code");
  let savedTotal = document.querySelector("#saved_total");

  let authorization_token;
  
  let checkoutContainer = document.createElement('div');
  document.body.appendChild(checkoutContainer);
  if (localStorage.discountCode) applyDiscount( JSON.parse(localStorage.discountCode).code);
  if(applyBtn)
  applyBtn.addEventListener("click", function(e){
    e.preventDefault()
    applyDiscount(discountCodeInput.value);
  });
  if(clearBtn)
  clearBtn.addEventListener("click", function(e){
    e.preventDefault()
    // Find the closest `.applied-discount-code-value` relative to the button
    let codeElement = e.target.closest(".applied-discount-code-value") || 
                      e.target.previousElementSibling?.classList.contains("applied-discount-code-value") ? 
                      e.target.previousElementSibling : null;

    if (codeElement) {
        let code = codeElement.innerHTML.trim(); // Get and trim the text
        clearDiscount(code);
    }
  });
  function clearDiscount(code) {
    discountCodeValue.innerHTML = "";
    discountCodeError.innerHTML = "";
    clearLocalStorage(code);
    showDiscount.style.display = "none";
    /* fetch('/checkout?discount=CLEAR');
      let total_plus_code = parseFloat(savedTotal.textContent) - parseFloat(savedCode.textContent);
          savingpluscode.innerHTML =  formatMoney(total_plus_code); */
  }
  function clearLocalStorage(code) {
    //if(discountCodeWrapper) discountCodeWrapper.innerHTML = "$0.00";
    //if(totalCartSelector) totalCartSelector.innerHTML = formatMoney(JSON.parse(localStorage.discountCode).totalCart);
    localStorage.removeItem("discountCode"); 
    removeDiscount(code);
  }
  function applyDiscount(code) {

    if (code) {
      if(applyBtn) {
        applyBtn.innerHTML = "APPLYING <div class='loader'></div>";
        applyBtn.style.pointerEvents = "none";
      }

      let discountApplyUrl = `${window.location.origin}/discount/${code}?redirect=/cart/`;
      $('#discount-code-input').val('');
        
      fetch(discountApplyUrl, {
          method: "GET",
          credentials: "include"
      })
      .then(() => {
          return fetch(`${window.location.origin}/cart.json`, { method: "GET" });
      })
      .then(response => response.json())
      .then(data => {
        
          let discountTitles = data.items
                                .map(item => item.discounts.map(discount => discount.title))
                                .flat()
                                .filter(title => title);
            
          if (discountTitles.length > 0) {
              if (discountTitles.includes(code)) {
                  showDiscount.style.display = "inline";
            
                  if(discountCodeWrapper) discountCodeWrapper.style.display = "inline";
                  if(discountCodeError) discountCodeError.innerHTML = "";
                
                  discountCodeValue.innerHTML = code;
                  discountCodeWrapper.innerHTML =  formatMoney(data.total_discount);
                  savedCode.innerHTML =  data.total_discount ;
                
                  let localStorageValue = {
                    'code': code.trim(),
                    'totalCart': data.total_price
                  };
                
                  localStorage.setItem("discountCode", JSON.stringify(localStorageValue));
                  if(totalCartSelector) totalCartSelector.innerHTML = "<s style='color:#999999; margin-right:10px; font-weight: lighter; font-size: .8em;'>" + formatMoney(data.total_price) + "</s>" + formatMoney(data.total_price);
                 
                  let total_plus_code = parseFloat(data.total_price);
                  savingpluscode.innerHTML =  formatMoney(data.total_discount);
                  savedTotal.innerHTML = formatMoney(data.total_discount);

                  drawerCart.loadCart();
              } 
              else {
                  if(discountCodeValue) discountCodeValue.innerHTML = "";
                  if(discountCodeError) discountCodeError.innerHTML = "Code Invalid.";
                  showDiscount.style.display = "none";
                  clearLocalStorage(code);
              }
          } else {
              if(discountCodeValue) discountCodeValue.innerHTML = "";
              if(discountCodeError) discountCodeError.innerHTML = "Code Invalid.";
              showDiscount.style.display = "none";
              clearLocalStorage(code);
          }
        
      })
      .catch(function() {
          if(discountCodeValue) discountCodeValue.innerHTML = "";
          if(discountCodeError) discountCodeError.innerHTML = "Code Invalid.";
          showDiscount.style.display = "none";
          clearLocalStorage(code);
      })
      .finally(() => {
          if(applyBtn){
            applyBtn.innerHTML = "APPLY";
            applyBtn.style.pointerEvents = "all";
          }
      });

    }
  }

  function removeDiscount(code) {
        const discountToRemove = code;
  
        fetch(`${window.location.origin}/cart.json`)
          .then(response => response.json())
          .then(cartData => {
              let discountTitles = cartData.items
                  .map(item => item.discounts.map(discount => discount.title))
                  .flat()
                  .filter(title => title); // Get applied discount codes
  
              let remainingDiscounts = discountTitles.filter(title => title !== discountToRemove);
  
              if (remainingDiscounts.length > 0) {
                  remainingDiscounts.forEach(discount => {
                      fetch(`${window.location.origin}/checkout?discount=${discount}`);
                  });
              } else {
                  fetch(`${window.location.origin}/checkout?discount=CLEAR`);
              }
          })
          .catch(error => console.error("Error fetching cart:", error))
          .finally(function() {
              setTimeout(function() {
                drawerCart.loadCart();
              }, 500)
          })
    }

});
</script>


{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    {
      "type": "url",
      "id": "continue_shopping",
      "label": "Continue Shopping Link"
    },
    {
      "type": "collection",
      "id": "cross_sells",
      "label": "You may also like Collection"
    }
  ]
}
{% endschema %}
