<div class="pre-footer">
    <div class="container container-panel pre-footer-wrapper">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h2 class="text-white fw-bold">Sign up for new stuff and special offers.</h2>
                <h6 class="v-large text-white fw-normal" style="padding-top: 10px;">We promise not to be jerks about it.</h6>
            </div>
            <div class="col-lg-5 col-md-6  col-12 offset-lg-1">
                <form action="/contact#contact_form" method="post" id="contact_form" class="contact-form">
                    <div class="input-group--vanpowers position-relative">
                        <div class="form-outline">
                            <input class="form-control v-large" type="email" id="Email" name="contact[email]" placeholder="Enter your email" required>
                        </div>
                        <button type="submit" class="btn btn--secondary desktop-position-btn position-absolute"  aria-label="Subscribe Our Newsletter">Sign Me Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container container-panel">
        <div class="row footer-firstRow">
            <div class="footer-infos col-xl-4 col-lg-4 col-md-12 col-sm-12">
                {%- if settings.footer_logo != blank -%}
                    <a href="https://{{ shop.permanent_domain }}" class="footer-logo d-table">
                        {{ settings.footer_logo | image_url: width: 250 | image_tag: srcset: nil }}
                    </a>
                {% endif %}
                <div class="social-links socialLinks-Desktop mb-4 d-flex">
                    <a href="{{settings.instagram_url}}"  class="text-decoration-none" target="_blank">
                        <img src="{{  'instagram-icon.svg' | asset_url }}"  width="25" height="auto" alt="Instagram">
                    </a>
                    <a href="{{settings.facebook_url}}" target="_blank"  class="text-decoration-none">
                        <img src="{{  'Facebook-icon.svg' | asset_url }}" width="25" height="auto" alt="Facebook">
                    </a>
                    <a href="{{settings.tiktok_url}}" target="_blank"  class="text-decoration-none">
                        <img src="{{  'tiktok-icon.svg' | asset_url }}" width="25" height="auto" alt="Tiktok">
                    </a>
                    <a href="{{settings.youtube_url}}"target="_blank"  class="text-decoration-none">
                        <img src="{{  'Youtube-icon.svg' | asset_url }}" width="25" height="auto" alt="Youtube">
                    </a>
                </div>
                {%- if settings.footer_address != blank -%}
                    <div class="footer-address">
                        {{ settings.footer_address }}
                    </div>
                {% endif %}
            </div>
            <div class="footer-menus col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="row">
                    <!-- Product -->
                    {% for link in linklists.vanpowers-footer-menu.links %}
                        {% if link.title == 'Product' %}
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 position-relative overflow-hidden">
                                <input type="checkbox" id="toggle-menu-product" class="toggle-input d-none">
                                <label for="toggle-menu-product" class="footer-menu-title"><h6>Shop</h6></label>
                                <ul class="menu-items">
                                    {% assign parent_menu = link %}
                                    {% for child_link in parent_menu.links %}
                                        <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- End Product -->

                    <!-- Community -->
                    {% for link in linklists.vanpowers-footer-menu.links %}
                        {% if link.title == 'Community' %}
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 overflow-hidden">
                                <input type="checkbox" id="toggle-menu-community" class="toggle-input d-none">
                                <label for="toggle-menu-community" class="footer-menu-title"><h6>Community</h6></label>
                                <ul class="menu-items">
                                    {% assign parent_menu = link %}
                                    {% for child_link in parent_menu.links %}
                                        <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- End Community -->

                    <!-- Policy -->
                    {% for link in linklists.vanpowers-footer-menu.links %}
                        {% if link.title == 'Policy' %}
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 overflow-hidden">
                                <input type="checkbox" id="toggle-menu-policy" class="toggle-input d-none">
                                <label for="toggle-menu-policy" class="footer-menu-title"><h6>Policy</h6></label>
                                <ul class="menu-items">
                                    {% assign parent_menu = link %}
                                    {% for child_link in parent_menu.links %}
                                        <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- End Policy -->

                    <!-- Company -->
                    {% for link in linklists.vanpowers-footer-menu.links %}
                        {% if link.title == 'Company' %}
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 overflow-hidden">
                                <input type="checkbox" id="toggle-menu-company" class="toggle-input d-none">
                                <label for="toggle-menu-company" class="footer-menu-title"><h6>Company</h6></label>
                                <ul class="menu-items">
                                    {% assign parent_menu = link %}
                                    {% for child_link in parent_menu.links %}
                                        <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- End Company -->
                </div>
                  
            </div>
        </div>
        
        
        <div class="row">
            <div class="footer-attributes">
                <div class="footerAttributes-wrapper d-flex justify-content-between align-items-center">
                    {%- if settings.footer_copyright != blank -%}
                        <div class="footer-copyright">
                            {{ settings.footer_copyright }}
                        </div>
                    {% endif %}

                    <div class="payment-methods">
                        <ul class="payment-icons">
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'paypal.svg' | asset_url }}" alt="Paypal">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'visa.svg' | asset_url }}" alt="Visa">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'master-card.svg' | asset_url }}" alt="Master Card">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'klarna.svg' | asset_url }}" alt="Klarna">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'amex.svg' | asset_url }}" alt="Amex">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'jcb-color-large.svg' | asset_url }}" alt="Jcb Card">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'discover.png' | asset_url }}" alt="Discover">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'diners-club.webp' | asset_url }}" alt="Diners Club">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'shop-pay.webp' | asset_url }}" alt="Shop Pay">
                            </li>
                            <li class="payment-icon">
                                <img class="img-fluid" src="{{ 'apple-pay.webp' | asset_url }}" alt="Apple Pay">
                            </li>
                        </ul>
                    </div>

                    <div class="social-links socialLinks-mobile mb-4 d-flex">
                        <a href="{{settings.instagram_url}}"  class="text-decoration-none" target="_blank">
                            <img src="{{  'instagram-icon.svg' | asset_url }}"  width="25" height="auto" alt="Instagram">
                        </a>
                        <a href="{{settings.facebook_url}}" target="_blank"  class="text-decoration-none">
                            <img src="{{  'Facebook-icon.svg' | asset_url }}" width="25" height="auto" alt="Facebook">
                        </a>
                        <a href="{{settings.tiktok_url}}" target="_blank"  class="text-decoration-none">
                            <img src="{{  'tiktok-icon.svg' | asset_url }}" width="25" height="auto" alt="Tiktok">
                        </a>
                        <a href="{{settings.youtube_url}}"target="_blank"  class="text-decoration-none">
                            <img src="{{  'Youtube-icon.svg' | asset_url }}" width="25" height="auto" alt="Youtube">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        

    </div>
</footer>

<style>
.desktop-position-btn{
    top:13px !important; 
    right:13px !important;
}
    .pre-footer{
        background: #333 url({{'pre_footer_bg.png' | asset_url}}) no-repeat center ;
        background-size: cover
    }
    .pre-footer .input-group--vanpowers{
        margin-right: 23px;
        width: 93%;
        float: right;
        background: white;
        border-radius: 42px;
        overflow: hidden;
    }
    .pre-footer h2{
        text-transform: capitalize;
        line-height: 1.4
    }
    .socialLinks-mobile {
        display: none !important;
    }
    @media (max-width: 768px){
        .pre-footer .row{
            flex-direction: column;
            row-gap: 13px;
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }
        .pre-footer h2{
            font-size: 40px;
        }
        .pre-footer .input-group--vanpowers{
            width: 100%;
            margin-right: 0;
        }
        .contact-form .form-control{
            padding: 14px 21px !important;
        }
        .contact-form .btn{
            padding: 10px 14px !important;
        }

    }
    @media (min-width: 768px){
        .pre-footer{
          
        }
         .pre-footer .row{
            height: 200px;
        }
        .pre-footer h2{
            font-size: 22px;
        }
    }
     @media (min-width: 102px){
        .pre-footer h2{
            font-size: 30px;
        }
    }
    @media (min-width: 1200px){
        .pre-footer{
            height: 264px;
        }
        .pre-footer .row{
            height: 264px;
        }
        .pre-footer h2{
         font-size: 40px;
        }
    }
   
    .social-links{
        gap: 15px;
    }
    .social-links .img{
        transition: 0.4s ease;
    }
    .social-links a:hover img {
        opacity: 0.4;
    }
    .contact-form .form-control{
        padding:23px 38px;
        width: 73%;
        border: 0;
        box-shadow: none;
    }
    .contact-form .btn{
        right: 6px;
        top: 5px;
        padding: 19px 29px;
        border-radius: 42px;
    }
    footer.footer {
        padding-top: {{ settings.footer_paddingTop }}px;
        padding-bottom: {{ settings.footer_paddingBottom }}px;
        background-color: {{ settings.background_color }};
    }
    footer.footer .footer-firstRow {
        padding-bottom: 70px;
    }
    footer.footer .footer-firstRow .footer-logo {
        margin-bottom: 35px;
    }
    footer.footer .footer-firstRow .footer-address ul {
        padding-left: 0;
        list-style: none;
    }
    footer.footer .footer-firstRow .footer-address ul li {
        margin-bottom: 7px;
        color: {{ settings.footer_textColor }};
        font-size: 15px;
    }
    footer.footer .footer-firstRow .footer-menus {
        padding-left: 14px;
    }
    footer.footer .footer-firstRow .footer-menus .col-xl-3 {
        padding-left: 100px;
    }
    footer.footer .footer-firstRow .footer-menus .col-xl-3 h6 {
        margin-bottom: 25px;
    }
    footer.footer .footer-firstRow .footer-menus .col-xl-3 ul {
        padding: 0;
        list-style: none;
    }
    footer.footer .footer-firstRow .footer-menus .col-xl-3 ul li {
        margin-bottom: 7px;
    }
    footer.footer .footer-firstRow .footer-menus .col-xl-3 ul li a {
        text-decoration: none;
        color: {{ settings.footer_textColor }};
        font-size: 15px;
        transition: 0.4s ease;
    }
    footer.footer .footer-firstRow .footer-menus .col-xl-3 ul li a:hover {
        text-decoration: underline;
    }
    footer.footer .footer-attributes .footerAttributes-wrapper {
        border-top: 1px solid #D2D2D7;
        padding-top: 30px;
        font-size: 15px;
    }
    footer.footer .footer-attributes .footerAttributes-wrapper .payment-icons {
        margin-bottom: 0;
        padding-left: 0;
    }
    footer.footer .footer-attributes .footerAttributes-wrapper .payment-icons .payment-icon {
        display: inline-flex;
    }

    /* Responsive */
    @media (max-width: 1599px) {
        footer.footer .footer-firstRow .footer-menus .col-lg-3 {
            padding-left: 58px;
        }
    }

    @media (max-width: 1399px) {
        footer.footer .footer-firstRow .footer-menus .col-lg-3 {
            padding-left: 28px;
        }
    }
    
    @media (max-width: 1199px) {
        footer.footer .footer-firstRow .footer-menus .col-lg-3 {
            padding-left: 20px;
        }
    }

    @media (max-width: 991px) {
        .footer-infos {
            display: block;
        }
        .footer-infos .footer-address {
            text-align: left;
        }

        .footer-menus {
            margin-top: 20px;
        }
    }

    @media (max-width: 767px) {
        footer.footer .footer-firstRow {
            padding-bottom: 10px;
        }
        footer.footer .footer-firstRow .footer-logo {
            margin-bottom: 30px;
        }
        footer.footer .footer-firstRow .footer-menus .col-xl-3 h6 {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: 700;
        }
        footer.footer .footer-firstRow .footer-menus .col-lg-3 {
            padding-left: 12px;
        }

        .footer-attributes {
            text-align: center;
        }
        .footer-attributes .footer-copyright {
            padding-top: 17px;
            width: 100%;
        }
        .footer-attributes .footerAttributes-wrapper {
            border-top: none !important;
            padding-top: 30px !important;
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
        }
        .footer-attributes .footerAttributes-wrapper .payment-icons .payment-icon {
            width: 37px;
        }
     
        /* convert menu to accordion for mobile view **/
        /*@charset "UTF-8";*/
        .footer-menus .toggle-input:checked ~ .menu-items {
            /*border-bottom: 1px solid rgba(112, 112, 112, 0.31);*/
            max-height: 100vh;
        }
        .footer-menus .toggle-input:checked ~ .footer-menu-title::after, .footer-menus .toggle-input:not(:checked) ~ .footer-menu-title::after {
            font-size: 20px;
            font-weight: bold;
            transition: all 0.35s;
        }
        .footer-menus .toggle-input:checked ~ .footer-menu-title::after {
            content: "";
            background-image: url('{{ 'fa-down.png' | asset_url }}');
            display: block;
            height: 23px;
            width: 23px;
            float: right;
            margin-left: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            transform: rotate(180deg);
        }
        .footer-menus .toggle-input:not(:checked) ~ .footer-menu-title::after {
            content: "";
            background-image: url('{{ 'fa-down.png' | asset_url }}');
            display: block;
            height: 23px;
            width: 23px;
            float: right;
            margin-left: 5px;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 0.4s ease;
        }
        .footer-menus .footer-menu-title {
            cursor: pointer;
            width: 100%;
            border-bottom: 1px solid rgba(112, 112, 112, 0.31);
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-bottom: 9px;
            align-items: center;
            /*transition: border-bottom 0.5s ease-out;*/
        }
        .footer-menus .toggle-input:checked ~ .footer-menu-title {
            border-bottom: 0;
        }
        .footer-menus .menu-items {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            border-bottom: 0;
        }
        .pre-footer .row {
            text-align: left;
        }
        .pre-footer h2{
            font-size: 18px;
            margin-bottom: 3px;
        }
        .pre-footer h6 {
            font-size: 16px !important;
        }
        footer.footer .footer-firstRow .footer-menus .col-xl-3 ul li a {
            font-size: 14px;
        }
        .footer-infos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer-infos .footer-address {
            text-align: center;
        }
        .social-links.socialLinks-mobile {
            display: block !important;
        }
        .socialLinks-Desktop {
            display: none !important;
        }
        footer.footer .footer-attributes .footerAttributes-wrapper .payment-icons {
            display: grid;
            grid-template-columns: repeat(5,minmax(50px,1fr));
            grid-row-gap: 10px;
            grid-column-gap: 10px;
        }
        footer.footer .footer-attributes .footerAttributes-wrapper .payment-icons .payment-icon {
            width: auto !important;
        }
        footer.footer .footer-attributes .footerAttributes-wrapper .payment-icons .payment-icon img {
            width: 100%;
        }
        .social-links.socialLinks-mobile a {
            margin: 0 7px;
        }
       
    }
    @media (max-width: 414px) {
        .desktop-position-btn{
            top:6px !important; 
            right:6px !important;
        }
        .footerAttributes-wrapper .payment-icons .payment-icon {
            width: 29px !important;
        }
    }
    
    @media (min-width: 576px) and (max-width: 630px) {
        .payment-methods {
            padding-left: 66px;
        }
    }

    @media (max-width: 575px) {
        footer.footer .footer-firstRow .footer-menus div {
            text-align: left;
        }
        footer.footer .footer-firstRow .footer-menus .col-xl-3 {
            margin-bottom: 15px;
        }
        footer.footer .footer-firstRow .footer-menus .col-xl-3 h6 {
            margin-bottom: 0px;
        }
        footer.footer .footer-firstRow .footer-menus .col-xl-3 ul {
            margin-bottom: 0;
        }
        footer.footer .footer-firstRow .footer-menus .col-xl-3:last-child {
            margin-bottom: 0;
        }
    }

</style>