{%- style -%}
    .gallery-carousel.{{section.id}} .fixed-height{
        height: 442px;
    }
   
    .section-{{section.id}}-margin{
        margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
        margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }
    .section-{{section.id}}-margin .section-title{
        padding-bottom: 85px;
    }
  
    @media screen and (max-width: 768px) {
        .gallery-carousel.{{section.id}} .fixed-height{
            height: 300px;
        }
    }
    @media screen and (min-width: 769px) {
        .gallery-carousel.{{section.id}} .fixed-height{
            height: 400px;
        }
        .section-{{section.id}}-margin{
            margin-top: {{ section.settings.margin_top}}px;
            margin-bottom: {{ section.settings.margin_bottom}}px;
        }
    }
     @media screen and (min-width: 1536px) {
        .gallery-carousel.{{section.id}} .fixed-height{
            height: 442px;
        }
        .section-{{section.id}}-margin{
            margin-top: {{ section.settings.margin_top}}px;
            margin-bottom: {{ section.settings.margin_bottom}}px;
        }
    }
{%- endstyle -%}

<section class="{{section.id}} gallery-carousel section-{{section.id}}-margin overflow-hidden">
	<div class="container container-panel">
		<div class="section-title text-center">
			<h2 class="van-large-title fw-bold">{{section.settings.title}}</h2>
		</div>
	</div>
	<div class="container container-panel fixed-height position-relative">
        <div class="swiper-container d-flex gallery-carousel-container position-absolute">
            <div class="swiper-wrapper gallery-carousel-wrapper">
                {%- for block in section.blocks -%}
                  {%if block.settings.image !=nil %}
                    <div class="gallery-item swiper-slide">
                            {{ block.settings.image | image_url: width: 442 | image_tag : class: 'img-fluid'  }}
                    </div>
                  {%endif%}
                {%- endfor -%}
            </div>
        </div>
        <div class="van--gallery-nav-buttons swiper-navigations d-none d-lg-block">
            <div class="swiper-button-prev navigation-button"></div>
            <div class="swiper-button-next navigation-button"></div>
        </div>
        <div class="swiper-pagination position-absolute bottom-0"></div>
	</div>
</section>

{% javascript %}
	   
    // swiper js
        return new Swiper('.gallery-carousel-container', {
            direction: 'horizontal',
            speed: 1000,
            spaceBetween: 30,
            autoplay: false,
            loop: true,
            navigation: {
                nextEl: '.gallery-carousel .swiper-button-next',
                prevEl: '.gallery-carousel  .swiper-button-prev',
            },
            breakpoints: {
                200: { width: 300, spaceBetween: 15 },
                768: { width: 300 , spaceBetween: 15},
                1024: { width: 400, spaceBetween: 20 },
                1280: { width: 400 , spaceBetween: 20},
                1536: { width: 442, spaceBetween: 30 },
                1600: { width: 442, spaceBetween: 30 },
                1920: { width: 442, spaceBetween: 30 },
            }
        });
{%endjavascript%}
	
{% schema %}
{
  "name": "Images Gallery",
  "tag": "div",
  "class": "shopify-section-images-gallery",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "See It In Action"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "default": "text-start",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
         {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ]
    },
     {
      "type": "header",
      "content": "Margin Section"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    }
   
  ],
   "blocks": [
     {
       "name": "Image",
       "type": "column",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": " Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Images Gallery",
      "settings": {
        "title": "See It In Action"
      }
    }
  ],
  "locales": {
    "en": {
      "title": "See It In Action"
    }
  }
}
{% endschema %}
