

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555508953937609505.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-555508953937609505.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555508953937609505.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555508953937609505.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555508953937609505.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555508953937609505.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555508953937609505.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555508953937609505.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555508953937609505.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555508953937609505.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555508953937609505.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-555508953937609505.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555508953937609505.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555508953937609505.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555508953937609505.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555508953937609505.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555508953937609505.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555508953937609505.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555508953937609505.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555508953937609505.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555508953937609505.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555508953937609505.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555508953937609505.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555508953937609505.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555508953937609505.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555508953937609505.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-555508953937609505.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555508953937609505.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555508953937609505.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555508953937609505.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-555508953937609505.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-555508953937609505.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-555508953937609505.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555508953937609505.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555508953937609505.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555508953937609505.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555508953937609505.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555508953937609505.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555508953937609505.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555508953937609505.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555508953937609505.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-555508953937609505.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-555508953937609505.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555508953937609505.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-555508953937609505.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-555508953937609505.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555508953937609505.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-555508953937609505.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-555508953937609505.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-555508953937609505.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-555508953937609505.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555508953937609505.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-555508953937609505.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555508953937609505.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-555508953937609505.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-555508953937609505.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-555508953937609505.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555508953937609505.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555508953937609505.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-555508953937609505.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-555508953937609505.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-555508953937609505.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-555508953937609505.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-555508953937609505.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-555508953937609505.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-555508953937609505.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555508953937609505.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555508953937609505.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555508953937609505.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555508953937609505.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-555508953937609505.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-555508953937609505.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555508953937609505.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555508953937609505.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555508953937609505.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555508953937609505.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-555508953937609505.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-555508953937609505.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-555508953937609505 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-555508953937609505 .gp-relative{position:relative}.gps-555508953937609505 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555508953937609505 .gp-mb-0{margin-bottom:0}.gps-555508953937609505 .gp-block{display:block}.gps-555508953937609505 .gp-flex{display:flex}.gps-555508953937609505 .gp-inline-flex{display:inline-flex}.gps-555508953937609505 .gp-grid{display:grid}.gps-555508953937609505 .\!gp-hidden{display:none!important}.gps-555508953937609505 .gp-hidden{display:none}.gps-555508953937609505 .gp-max-w-full{max-width:100%}.gps-555508953937609505 .gp-flex-none{flex:none}.gps-555508953937609505 .gp-shrink-0{flex-shrink:0}.gps-555508953937609505 .gp-flex-col{flex-direction:column}.gps-555508953937609505 .gp-items-center{align-items:center}.gps-555508953937609505 .gp-justify-start{justify-content:flex-start}.gps-555508953937609505 .gp-justify-center{justify-content:center}.gps-555508953937609505 .gp-gap-y-0{row-gap:0}.gps-555508953937609505 .gp-overflow-hidden{overflow:hidden}.gps-555508953937609505 .gp-text-left{text-align:left}.gps-555508953937609505 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555508953937609505 .gp-duration-200{transition-duration:.2s}.gps-555508953937609505 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-555508953937609505 .tablet\:gp-block{display:block}.gps-555508953937609505 .tablet\:\!gp-hidden{display:none!important}.gps-555508953937609505 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555508953937609505 .mobile\:gp-block{display:block}.gps-555508953937609505 .mobile\:\!gp-hidden{display:none!important}.gps-555508953937609505 .mobile\:gp-hidden{display:none}.gps-555508953937609505 .mobile\:gp-justify-center{justify-content:center}}.gps-555508953937609505 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-555508953937609505 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-555508953937609505 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-555508953937609505 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-555508953937609505 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-555508953937609505 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-555508953937609505 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555508953937609505 .\[\&_p\]\:gp-inline p{display:inline}.gps-555508953937609505 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-555508953937609505 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gPPL-KRO8P" data-id="gPPL-KRO8P"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:118px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FEFDF8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPPL-KRO8P gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBvBcLnPdQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guJgEZyj27" data-id="guJgEZyj27"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guJgEZyj27 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtYsz7VaiW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnHESnNry9">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gnHESnNry9 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:32px;--mb:32px;--mt-mobile:28px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnHESnNry9_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gbIO0mMdmu" data-id="gbIO0mMdmu"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--mb-mobile:42px;--cg:30px;--cg-tablet:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbIO0mMdmu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:space-between"
      class="gP7ZD8CwaB gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gJ5hcZESXx ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gJ5hcZESXx"
      data-id="gJ5hcZESXx"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":26,"mobile":25,"tablet":25}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:8px;--mb-tablet:12px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gJ5hcZESXx"
            style="--cg:12px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:25px;--size-mobile:25px"
              >
               <svg data-id="517944344645207190" xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
<circle cx="12.5" cy="13.1016" r="12.5" fill="#FF8852"/>
<path d="M13.9233 6.9652V18.6016H11.8153V9.01633H11.7472L9.02557 10.755V8.82315L11.9176 6.9652H13.9233Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:17px;--size-mobile:17px;--c:#242424">
                {{ section.settings.ggJ5hcZESXx_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g4M5v-wk15 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g4M5v-wk15"
      data-id="g4M5v-wk15"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"baseline"},"iconWidth":{"desktop":4,"mobile":4,"tablet":5}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:8px;--mb-mobile:21px;--pl-mobile:8px;--mt-tablet:0px;--pt-tablet:0px;--pl-tablet:8px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:11px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g4M5v-wk15"
            style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ section.settings.gg4M5v-wk15_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g4M5v-wk15"
            style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ section.settings.gg4M5v-wk15_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:space-between"
      class="gxP85ap1Af gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gPdLPMbPcs ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gPdLPMbPcs"
      data-id="gPdLPMbPcs"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":26,"mobile":25,"tablet":25}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:8px;--mb-tablet:12px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gPdLPMbPcs"
            style="--cg:12px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:25px;--size-mobile:25px"
              >
               <svg data-id="517944355600729238" xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
<circle cx="12.5" cy="13.1016" r="12.5" fill="#FF8852"/>
<path d="M8.06534 18.6016V17.0788L12.1051 13.1186C12.4915 12.7285 12.8134 12.3819 13.071 12.0788C13.3286 11.7758 13.5218 11.4822 13.6506 11.1982C13.7794 10.9141 13.8438 10.611 13.8438 10.2891C13.8438 9.92164 13.7604 9.60724 13.5938 9.34588C13.4271 9.08073 13.1979 8.87618 12.9062 8.73224C12.6146 8.5883 12.2831 8.51633 11.9119 8.51633C11.5294 8.51633 11.1941 8.59588 10.9062 8.75497C10.6184 8.91027 10.3949 9.13187 10.2358 9.41974C10.0805 9.70762 10.0028 10.0504 10.0028 10.4482H7.99716C7.99716 9.70952 8.16572 9.06747 8.50284 8.52202C8.83996 7.97656 9.30398 7.55421 9.89489 7.25497C10.4896 6.95573 11.1714 6.80611 11.9403 6.80611C12.7206 6.80611 13.4063 6.95194 13.9972 7.24361C14.5881 7.53527 15.0464 7.9349 15.3722 8.44247C15.7017 8.95005 15.8665 9.52959 15.8665 10.1811C15.8665 10.6167 15.7831 11.0447 15.6165 11.4652C15.4498 11.8857 15.1563 12.3516 14.7358 12.8629C14.3191 13.3743 13.7339 13.9936 12.9801 14.7209L10.9744 16.7607V16.8402H16.0426V18.6016H8.06534Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:17px;--size-mobile:17px;--c:#242424">
                {{ section.settings.ggPdLPMbPcs_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gtnpO0i_-5 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gtnpO0i_-5"
      data-id="gtnpO0i_-5"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"baseline"},"iconWidth":{"desktop":4,"mobile":4,"tablet":5}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:8px;--mb-mobile:21px;--pl-mobile:8px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:11px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gtnpO0i_-5"
            style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ section.settings.ggtnpO0i_-5_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gtnpO0i_-5"
            style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ section.settings.ggtnpO0i_-5_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pt:12px;--pb:12px;--pt-mobile:0px;--pb-mobile:0px" class="g-RMpOxw-k ">
      
    <div
    data-id="g-RMpOxw-k"
      class="gp-flex gp-justify-start mobile:gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#9E9E9E"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#9E9E9E;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#9E9E9E;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#9E9E9E;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-555508953937609505 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555508919728866547&sectionId=555508953937609505)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggnHESnNry9_text","label":"ggnHESnNry9_text","default":"Road Bike Testing Specs"},{"type":"html","id":"ggJ5hcZESXx_childItem_0","label":"ggJ5hcZESXx_childItem_0","default":"<p>Frame Testing</p>"},{"type":"html","id":"gg4M5v-wk15_childItem_0","label":"gg4M5v-wk15_childItem_0","default":"<p><strong>Impact:</strong> The frame strength test reaches 150% of ISO 4210 standard.&nbsp;</p><p>Passed ISO 4210 Frame Fatigue Test with 150,000 cycles. (Standard requirement: 100,000 cycles)</p>"},{"type":"html","id":"gg4M5v-wk15_childItem_1","label":"gg4M5v-wk15_childItem_1","default":"<p><strong>Load:</strong> 265lbs (120kg)</p>"},{"type":"html","id":"ggPdLPMbPcs_childItem_0","label":"ggPdLPMbPcs_childItem_0","default":"<p>Battery Testing</p>"},{"type":"html","id":"ggtnpO0i_-5_childItem_0","label":"ggtnpO0i_-5_childItem_0","default":"<p><strong>Certified:</strong> UL-certified (UL-certified)</p>"},{"type":"html","id":"ggtnpO0i_-5_childItem_1","label":"ggtnpO0i_-5_childItem_1","default":"<p><strong>Waterproof:</strong> IPX5</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
