

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548122004654654411.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-548122004654654411.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548122004654654411.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-548122004654654411.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548122004654654411.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548122004654654411.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548122004654654411.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548122004654654411.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548122004654654411.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548122004654654411.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548122004654654411.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-548122004654654411.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-548122004654654411.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548122004654654411.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-548122004654654411.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-548122004654654411.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548122004654654411.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-548122004654654411.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-548122004654654411.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-548122004654654411.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548122004654654411.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548122004654654411.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548122004654654411.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-548122004654654411.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548122004654654411.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548122004654654411.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548122004654654411.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548122004654654411.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-548122004654654411.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548122004654654411.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548122004654654411.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548122004654654411.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-548122004654654411.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-548122004654654411.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548122004654654411.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548122004654654411.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-548122004654654411.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-548122004654654411.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548122004654654411.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548122004654654411.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548122004654654411.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548122004654654411.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548122004654654411.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548122004654654411.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548122004654654411.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548122004654654411.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548122004654654411.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-548122004654654411.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-548122004654654411.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548122004654654411.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-548122004654654411.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-548122004654654411.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548122004654654411.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548122004654654411.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-548122004654654411.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-548122004654654411.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548122004654654411.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548122004654654411.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-548122004654654411.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-548122004654654411.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-548122004654654411.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548122004654654411.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-548122004654654411.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548122004654654411.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-548122004654654411.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-548122004654654411.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-548122004654654411.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-548122004654654411.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548122004654654411.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548122004654654411.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-548122004654654411.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-548122004654654411.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-548122004654654411.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-548122004654654411 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-548122004654654411 .gp-relative{position:relative}.gps-548122004654654411 .gp-z-1{z-index:1}.gps-548122004654654411 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548122004654654411 .gp-mb-0{margin-bottom:0}.gps-548122004654654411 .gp-flex{display:flex}.gps-548122004654654411 .gp-inline-flex{display:inline-flex}.gps-548122004654654411 .gp-grid{display:grid}.gps-548122004654654411 .gp-contents{display:contents}.gps-548122004654654411 .\!gp-hidden{display:none!important}.gps-548122004654654411 .gp-hidden{display:none}.gps-548122004654654411 .gp-h-full{height:100%}.gps-548122004654654411 .gp-w-full{width:100%}.gps-548122004654654411 .gp-max-w-full{max-width:100%}.gps-548122004654654411 .gp-shrink-0{flex-shrink:0}.gps-548122004654654411 .gp-flex-col{flex-direction:column}.gps-548122004654654411 .gp-items-center{align-items:center}.gps-548122004654654411 .gp-justify-center{justify-content:center}.gps-548122004654654411 .gp-gap-y-0{row-gap:0}.gps-548122004654654411 .gp-overflow-hidden{overflow:hidden}.gps-548122004654654411 .gp-break-words{overflow-wrap:break-word}.gps-548122004654654411 .gp-rounded-none{border-radius:0}.gps-548122004654654411 .gp-text-center{text-align:center}.gps-548122004654654411 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-548122004654654411 .gp-no-underline{text-decoration-line:none}.gps-548122004654654411 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548122004654654411 .gp-duration-200{transition-duration:.2s}.gps-548122004654654411 .gp-duration-300{transition-duration:.3s}.gps-548122004654654411 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548122004654654411 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-548122004654654411 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-548122004654654411 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-548122004654654411 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-548122004654654411 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-548122004654654411 .tablet\:\!gp-hidden{display:none!important}.gps-548122004654654411 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-548122004654654411 .mobile\:\!gp-hidden{display:none!important}.gps-548122004654654411 .mobile\:gp-hidden{display:none}}.gps-548122004654654411 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-548122004654654411 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-548122004654654411 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-548122004654654411 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-548122004654654411 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548122004654654411 .\[\&_p\]\:gp-inline p{display:inline}.gps-548122004654654411 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-548122004654654411 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548122004654654411 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gDk-00_ZIB" data-id="gDk-00_ZIB"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pb:var(undefined);--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#D14949;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDk-00_ZIB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="go8YVgTVO0 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gMbGXEP74_" data-id="gMbGXEP74_"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pl:0px;--pr:0px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMbGXEP74_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVkpDvQ_-1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDl8o5F0Ck">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDl8o5F0Ck "
        style="--tt:default;--ta:left;--ta-mobile:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:11px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDl8o5F0Ck_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_kS6XbwS2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_kS6XbwS2 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_kS6XbwS2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:18px;--mb-mobile:var(undefined);--ta:center"
    
  >
    <style>
    .gVr0S5ExEU.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gVr0S5ExEU:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #93A688;
  
      
    }

    .gVr0S5ExEU:hover .gp-button-icon {
      color: #93A688;
    }

     .gVr0S5ExEU .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gVr0S5ExEU:hover .gp-button-price {
      color: #93A688;
    }

    .gVr0S5ExEU .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gVr0S5ExEU .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gVr0S5ExEU:hover .gp-product-dot-price {
      color: #93A688;
    }
  </style>
    <a
      href="https://af.uppromote.com/vanpowers-bike/register" target="_self" data-id="gVr0S5ExEU" aria-label="<p><span style='font-size:16px;'>Earn as a Referrer&nbsp;</span></p>"
      
      data-state="idle"
      class="gVr0S5ExEU gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pl:72px;--pr:72px;--pt:12px;--pb:12px;--pl-tablet:72px;--pr-tablet:72px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:72px;--pr-mobile:72px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#93A688;--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550823719272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.49,119.51l-96-96A12,12,0,0,0,124,32V68H48A20,20,0,0,0,28,88v80a20,20,0,0,0,20,20h76v36a12,12,0,0,0,20.49,8.49l96-96A12,12,0,0,0,240.49,119.51ZM148,195V176a12,12,0,0,0-12-12H52V92h84a12,12,0,0,0,12-12V61l67,67Z" /></svg></span>
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#93A688;--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.ggVr0S5ExEU_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(undefined);--ta:center"
    
  >
    <style>
    .gkXeLJCL-z.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gkXeLJCL-z:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #93A688;
  
      
    }

    .gkXeLJCL-z:hover .gp-button-icon {
      color: #93A688;
    }

     .gkXeLJCL-z .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gkXeLJCL-z:hover .gp-button-price {
      color: #93A688;
    }

    .gkXeLJCL-z .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gkXeLJCL-z .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gkXeLJCL-z:hover .gp-product-dot-price {
      color: #93A688;
    }
  </style>
    <a
      href="https://app.impact.com/campaign-promo-signup/Vanpowers-Bike.brand?execution=e1s1#/?viewkey=signUpContractPreview" target="_self" data-id="gkXeLJCL-z" aria-label="<p><span style='font-size:16px;'>Earn as a Creator</span></p>"
      
      data-state="idle"
      class="gkXeLJCL-z gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pl:72px;--pr:72px;--pt:12px;--pb:12px;--pl-tablet:72px;--pr-tablet:72px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:72px;--pr-mobile:72px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#93A688;--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550823719272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M240.49,119.51l-96-96A12,12,0,0,0,124,32V68H48A20,20,0,0,0,28,88v80a20,20,0,0,0,20,20h76v36a12,12,0,0,0,20.49,8.49l96-96A12,12,0,0,0,240.49,119.51ZM148,195V176a12,12,0,0,0-12-12H52V92h84a12,12,0,0,0,12-12V61l67,67Z" /></svg></span>
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#93A688;--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.ggkXeLJCL-z_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNKnruHy66">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNKnruHy66 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNKnruHy66_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(undefined);--ta:center"
    
  >
    <style>
    .gfWHqgwwlw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 2px 2px 2px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gfWHqgwwlw:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #93A688;
  
      
    }

    .gfWHqgwwlw:hover .gp-button-icon {
      color: #93A688;
    }

     .gfWHqgwwlw .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gfWHqgwwlw:hover .gp-button-price {
      color: #93A688;
    }

    .gfWHqgwwlw .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gfWHqgwwlw .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gfWHqgwwlw:hover .gp-product-dot-price {
      color: #93A688;
    }
  </style>
    <a
      href="https://af.uppromote.com/vanpowers-bike/login" target="_self" data-id="gfWHqgwwlw" aria-label="<p><span style='color:rgba(255,255,255,0.47);'>Login</span></p>"
      
      data-state="idle"
      class="gfWHqgwwlw gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3 gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:72px;--pr-tablet:72px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:72px;--pr-mobile:72px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#93A688;--c:var(--g-c-bg-3, bg-3);--size:14px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:14px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#93A688;--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.ggfWHqgwwlw_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjUHUBaZlS gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gVMhAqGrQZ"
    role="presentation"
    class="gp-group/image gVMhAqGrQZ"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_538962750320149290-2651f8cb-cb96-45f3-842e-8ec094831a89_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MiIgaGVpZ2h0PSIzMTY4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUyLTMxNjgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTIiIGhlaWdodD0iMzE2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MiIgaGVpZ2h0PSIzMTY4IiBmaWxsPSJ1cmwoI2ctNDc1Mi0zMTY4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MiIgdG89IjQ3NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_538962750320149290-2651f8cb-cb96-45f3-842e-8ec094831a89_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MiIgaGVpZ2h0PSIzMTY4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUyLTMxNjgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTIiIGhlaWdodD0iMzE2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MiIgaGVpZ2h0PSIzMTY4IiBmaWxsPSJ1cmwoI2ctNDc1Mi0zMTY4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MiIgdG89IjQ3NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MiIgaGVpZ2h0PSIzMTY4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUyLTMxNjgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTIiIGhlaWdodD0iMzE2OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MiIgaGVpZ2h0PSIzMTY4IiBmaWxsPSJ1cmwoI2ctNDc1Mi0zMTY4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MiIgdG89IjQ3NTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_538962750320149290-2651f8cb-cb96-45f3-842e-8ec094831a89.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-548122004654654411 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=548122004570506187&sectionId=548122004654654411)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDl8o5F0Ck_text","label":"ggDl8o5F0Ck_text","default":"Ready to Start Earning with Vanpowers?"},{"type":"html","id":"gg_kS6XbwS2_text","label":"gg_kS6XbwS2_text","default":"<p>Whether you're a referrer or a creator, our affiliate program is designed for you! With user-friendly tools and materials, earn 8% to 12% commissions by sharing the products you trust.</p>"},{"type":"html","id":"ggVr0S5ExEU_label","label":"ggVr0S5ExEU_label","default":"<p><span style=\"font-size:16px;\">Earn as a Referrer&nbsp;</span></p>"},{"type":"html","id":"ggkXeLJCL-z_label","label":"ggkXeLJCL-z_label","default":"<p><span style=\"font-size:16px;\">Earn as a Creator</span></p>"},{"type":"html","id":"ggNKnruHy66_text","label":"ggNKnruHy66_text","default":"<p><span style=\"color:rgba(255,255,255,0.54);\"><strong>Already have an account?&nbsp;</strong></span></p>"},{"type":"html","id":"ggfWHqgwwlw_label","label":"ggfWHqgwwlw_label","default":"<p><span style=\"color:rgba(255,255,255,0.47);\">Login</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
