<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-556402754449310913.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-556402754449310913.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-556402754449310913.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-556402754449310913.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-556402754449310913.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-556402754449310913.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-556402754449310913.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-556402754449310913.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-556402754449310913.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-556402754449310913.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-556402754449310913.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-556402754449310913.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-556402754449310913.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-556402754449310913.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-556402754449310913.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-556402754449310913.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-556402754449310913.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-556402754449310913.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-556402754449310913.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-556402754449310913.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-556402754449310913.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-556402754449310913.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-556402754449310913.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-556402754449310913.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-556402754449310913.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-556402754449310913.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-556402754449310913.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-556402754449310913.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-556402754449310913.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-556402754449310913.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-556402754449310913.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-556402754449310913.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-556402754449310913.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-556402754449310913.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-556402754449310913.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-556402754449310913.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-556402754449310913.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-556402754449310913.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-556402754449310913.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-556402754449310913.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-556402754449310913.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-556402754449310913.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-556402754449310913.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-556402754449310913.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-556402754449310913.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-556402754449310913.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-556402754449310913.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-556402754449310913.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-556402754449310913.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-556402754449310913.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-556402754449310913.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-556402754449310913.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-556402754449310913.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-556402754449310913.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-556402754449310913.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-556402754449310913.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-556402754449310913.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-556402754449310913.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-556402754449310913.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-556402754449310913.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-556402754449310913.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-556402754449310913.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-556402754449310913.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-556402754449310913.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-556402754449310913.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-556402754449310913.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-556402754449310913.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-556402754449310913.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-556402754449310913.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-556402754449310913.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-556402754449310913.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-556402754449310913.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-556402754449310913.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-556402754449310913.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-556402754449310913.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-556402754449310913.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-556402754449310913.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-556402754449310913.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-556402754449310913.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-556402754449310913 .-gp-rotate-90,.gps-556402754449310913 .gp-rotate-180,.gps-556402754449310913 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-556402754449310913 .gp-relative{position:relative}.gps-556402754449310913 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-556402754449310913 .gp-mb-0{margin-bottom:0}.gps-556402754449310913 .gp-flex{display:flex}.gps-556402754449310913 .gp-inline-flex{display:inline-flex}.gps-556402754449310913 .gp-grid{display:grid}.gps-556402754449310913 .\!gp-hidden{display:none!important}.gps-556402754449310913 .gp-hidden{display:none}.gps-556402754449310913 .gp-min-h-0{min-height:0}.gps-556402754449310913 .gp-w-full{width:100%}.gps-556402754449310913 .gp-max-w-full{max-width:100%}.gps-556402754449310913 .-gp-rotate-90{--tw-rotate:-90deg}.gps-556402754449310913 .-gp-rotate-90,.gps-556402754449310913 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-556402754449310913 .gp-rotate-180{--tw-rotate:180deg}.gps-556402754449310913 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-556402754449310913 .gp-cursor-pointer{cursor:pointer}.gps-556402754449310913 .gp-flex-col{flex-direction:column}.gps-556402754449310913 .gp-items-center{align-items:center}.gps-556402754449310913 .gp-justify-center{justify-content:center}.gps-556402754449310913 .gp-gap-y-0{row-gap:0}.gps-556402754449310913 .gp-overflow-hidden{overflow:hidden}.gps-556402754449310913 .gp-overflow-clip{overflow:clip}.gps-556402754449310913 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-556402754449310913 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-556402754449310913 .gp-duration-200{transition-duration:.2s}.gps-556402754449310913 .gp-duration-500{transition-duration:.5s}.gps-556402754449310913 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-556402754449310913 .tablet\:\!gp-hidden{display:none!important}.gps-556402754449310913 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-556402754449310913 .mobile\:\!gp-hidden{display:none!important}.gps-556402754449310913 .mobile\:gp-hidden{display:none}}.gps-556402754449310913 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-556402754449310913 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-556402754449310913 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-556402754449310913 .\[\&_p\]\:gp-inline p{display:inline}.gps-556402754449310913 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-556402754449310913 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gbehYezltN" data-id="gbehYezltN"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:linear-gradient(180deg, #FFFFFF 2%, #C9C9C9 84%);--bgc-mobile:linear-gradient(180deg, #FFFFFF 2%, #CECECE 84%);--bgi:linear-gradient(180deg, #FFFFFF 2%, #C9C9C9 84%);--bgi-mobile:linear-gradient(180deg, #FFFFFF 2%, #CECECE 84%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gbehYezltN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc0wYZGrfH gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="giRW9mvgL1" data-id="giRW9mvgL1"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:32px;--mb-mobile:28px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giRW9mvgL1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGACIQcVkO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtsbdAUiEO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtsbdAUiEO "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:57px;--size-tablet:57px;--size-mobile:50px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtsbdAUiEO_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gP6s4fWJ3j" data-id="gP6s4fWJ3j"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:16px;--mb-mobile:14px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP6s4fWJ3j gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBRIP8y0ZS gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px" class="gUB5kaWoEv ">
      
    <gp-accordion
      data-id="gUB5kaWoEv"
     uid="gUB5kaWoEv"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:24px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","iconCollapseSize":14,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gUB5kaWoEv","childListNumber":[],"chidlrenUid":["gHN-poI0uU","ggj3ChTcEL","gfl9tRll5u"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#242424"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"24px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"21px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"21px","left":"14px","right":"14px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gUB5kaWoEv"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#F6F6F6;--shadow:none;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px">
    <div
      data-index="0"
      class="gUB5kaWoEv gp-accordion-item gp-overflow-hidden gp-child-item-gUB5kaWoEv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gHN-poI0uU"
        id="gHN-poI0uU"
        data-index="0"
        class="gUB5kaWoEv gp-accordion-item-gUB5kaWoEv-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gUB5kaWoEv.gp-accordion-item-gUB5kaWoEv-0:hover .gp-collapsible-icon, .gUB5kaWoEv.gp-accordion-item-gUB5kaWoEv-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:14px;height:14px"
            data-index="0"
            class="gUB5kaWoEv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUB5kaWoEv_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gHN-poI0uU"
        data-index="0"
        data-show="false"
        class="gUB5kaWoEv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gHN-poI0uU"
        data-index="0"
        class="gUB5kaWoEv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gS-zN9ZTZR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0JQ1R5zQ1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0JQ1R5zQ1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0JQ1R5zQ1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#F6F6F6;--shadow:none;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px">
    <div
      data-index="1"
      class="gUB5kaWoEv gp-accordion-item gp-overflow-hidden gp-child-item-gUB5kaWoEv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="ggj3ChTcEL"
        id="ggj3ChTcEL"
        data-index="1"
        class="gUB5kaWoEv gp-accordion-item-gUB5kaWoEv-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gUB5kaWoEv.gp-accordion-item-gUB5kaWoEv-1:hover .gp-collapsible-icon, .gUB5kaWoEv.gp-accordion-item-gUB5kaWoEv-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:14px;height:14px"
            data-index="1"
            class="gUB5kaWoEv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUB5kaWoEv_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="ggj3ChTcEL"
        data-index="1"
        data-show="false"
        class="gUB5kaWoEv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="ggj3ChTcEL"
        data-index="1"
        class="gUB5kaWoEv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gsf6FBldAV gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwsUP5uiCA">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwsUP5uiCA "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwsUP5uiCA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gUB5kaWoEv-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#F6F6F6;--shadow:none;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px">
    <div
      data-index="2"
      class="gUB5kaWoEv gp-accordion-item gp-overflow-hidden gp-child-item-gUB5kaWoEv"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gfl9tRll5u"
        id="gfl9tRll5u"
        data-index="2"
        class="gUB5kaWoEv gp-accordion-item-gUB5kaWoEv-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gUB5kaWoEv.gp-accordion-item-gUB5kaWoEv-2:hover .gp-collapsible-icon, .gUB5kaWoEv.gp-accordion-item-gUB5kaWoEv-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:14px;height:14px"
            data-index="2"
            class="gUB5kaWoEv gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUB5kaWoEv_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gfl9tRll5u"
        data-index="2"
        data-show="false"
        class="gUB5kaWoEv gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gfl9tRll5u"
        data-index="2"
        class="gUB5kaWoEv gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gr-pP7ZGPD gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4GBDyQjlN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4GBDyQjlN "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4GBDyQjlN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS9eJlp00M gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px" class="gNPMhNSdfX ">
      
    <gp-accordion
      data-id="gNPMhNSdfX"
     uid="gNPMhNSdfX"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:24px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","iconCollapseSize":14,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gNPMhNSdfX","childListNumber":[],"chidlrenUid":["gk1F6rBb9P","g7z2YKZHEV","gaFbVZlAVG"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#242424"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"24px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"21px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"21px","left":"14px","right":"14px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gNPMhNSdfX"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#F6F6F6;--shadow:none;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px">
    <div
      data-index="0"
      class="gNPMhNSdfX gp-accordion-item gp-overflow-hidden gp-child-item-gNPMhNSdfX"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gk1F6rBb9P"
        id="gk1F6rBb9P"
        data-index="0"
        class="gNPMhNSdfX gp-accordion-item-gNPMhNSdfX-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gNPMhNSdfX.gp-accordion-item-gNPMhNSdfX-0:hover .gp-collapsible-icon, .gNPMhNSdfX.gp-accordion-item-gNPMhNSdfX-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:14px;height:14px"
            data-index="0"
            class="gNPMhNSdfX gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNPMhNSdfX_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gk1F6rBb9P"
        data-index="0"
        data-show="false"
        class="gNPMhNSdfX gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gk1F6rBb9P"
        data-index="0"
        class="gNPMhNSdfX gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g5p6ktr5cm gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8Fp75CEpC">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8Fp75CEpC "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8Fp75CEpC_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#F6F6F6;--shadow:none;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px">
    <div
      data-index="1"
      class="gNPMhNSdfX gp-accordion-item gp-overflow-hidden gp-child-item-gNPMhNSdfX"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g7z2YKZHEV"
        id="g7z2YKZHEV"
        data-index="1"
        class="gNPMhNSdfX gp-accordion-item-gNPMhNSdfX-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gNPMhNSdfX.gp-accordion-item-gNPMhNSdfX-1:hover .gp-collapsible-icon, .gNPMhNSdfX.gp-accordion-item-gNPMhNSdfX-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:14px;height:14px"
            data-index="1"
            class="gNPMhNSdfX gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNPMhNSdfX_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g7z2YKZHEV"
        data-index="1"
        data-show="false"
        class="gNPMhNSdfX gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g7z2YKZHEV"
        data-index="1"
        class="gNPMhNSdfX gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gtwKYjZiI0 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVwa-o27pw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gVwa-o27pw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVwa-o27pw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNPMhNSdfX-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#F6F6F6;--shadow:none;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px">
    <div
      data-index="2"
      class="gNPMhNSdfX gp-accordion-item gp-overflow-hidden gp-child-item-gNPMhNSdfX"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gaFbVZlAVG"
        id="gaFbVZlAVG"
        data-index="2"
        class="gNPMhNSdfX gp-accordion-item-gNPMhNSdfX-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:24px;--pb:24px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:21px;--pb-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#242424;--c:#242424;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gNPMhNSdfX.gp-accordion-item-gNPMhNSdfX-2:hover .gp-collapsible-icon, .gNPMhNSdfX.gp-accordion-item-gNPMhNSdfX-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:14px;height:14px"
            data-index="2"
            class="gNPMhNSdfX gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNPMhNSdfX_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gaFbVZlAVG"
        data-index="2"
        data-show="false"
        class="gNPMhNSdfX gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gaFbVZlAVG"
        data-index="2"
        class="gNPMhNSdfX gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:16px;--pr:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g2qdVSHmHP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUMqtlhltz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUMqtlhltz "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUMqtlhltz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-556402754449310913 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=556390775231873826&sectionId=556402754449310913)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggtsbdAUiEO_text","label":"ggtsbdAUiEO_text","default":"FAQs"},{"type":"html","id":"ggUB5kaWoEv_childItem_0","label":"ggUB5kaWoEv_childItem_0","default":"<p><strong>How can I ensure when I will receive the bike?</strong></p>"},{"type":"html","id":"ggUB5kaWoEv_childItem_1","label":"ggUB5kaWoEv_childItem_1","default":"<p><strong>What should I do if my e-bike needs repairs?</strong></p>"},{"type":"html","id":"ggUB5kaWoEv_childItem_2","label":"ggUB5kaWoEv_childItem_2","default":"<p><strong>What should I do if I need to return the product?</strong></p>"},{"type":"html","id":"gg0JQ1R5zQ1_text","label":"gg0JQ1R5zQ1_text","default":"<p><span style=\"color:#4D4D4D;\"><strong>We will deliver your e-bike to your door within 4 to 7 days from the day you place your order. To ensure your gifts arrive in time and delight your family, friends, children, or partner, we recommend placing your order 7 days in advance.</strong></span></p><p>&nbsp;</p><p><span style=\"color:#4D4D4D;\"><strong>Handling&nbsp;Time</strong></span></p><p><span style=\"color:#4D4D4D;\">For electric bikes that are in stock at our US warehouses, it usually takes 1-2 business days to process your order.</span></p><p><span style=\"color:#4D4D4D;\"><strong>Transit&nbsp;Time</strong></span></p><p><span style=\"color:#4D4D4D;\">For shipments from our East/West US warehouses to destinations within the United States, the transit time is 3-7 business days.</span></p><p>&nbsp;</p><p><a href=\"https://www.vanpowers.com/pages/3r-after-sales-system\" target=\"_blank\"><span style=\"color:#000FE1;\"><u>Learn More</u></span></a></p>"},{"type":"html","id":"ggwsUP5uiCA_text","label":"ggwsUP5uiCA_text","default":"<p><span style=\"color:#4D4D4D;\">Depending on the nature of the issue, well provide tailored solutions:</span></p><ul><li><span style=\"color:#4D4D4D;\"><strong>Self-Repair (Under Warranty):</strong></span><br><span style=\"color:#4D4D4D;\">Comfortable with tools? Well send you free replacement parts and step-by-step instructions to guide you through the repair process.</span></li><li><span style=\"color:#4D4D4D;\"><strong>Professional Repair (Under Warranty):</strong></span><br><span style=\"color:#4D4D4D;\">Prefer to leave it to the pros? Well help you connect with a trusted technician or authorized repair shop and reimburse labor costs up to $50.</span></li><li><span style=\"color:#4D4D4D;\"><strong>Core Component Issues (Under Warranty):</strong></span><br><span style=\"color:#4D4D4D;\">If critical parts like the battery, motor, or controller system fail, well replace the entire eBike. No hassle, no delaysjust a seamless solution.</span></li><li><span style=\"color:#4D4D4D;\"><strong>Out-of-Warranty Repairs:</strong></span><br><span style=\"color:#4D4D4D;\">Even if your eBike is no longer under warranty, well provide replacement parts at near-cost prices and offer detailed guidance for both DIY repairs and professional assistance.</span></li></ul><p><a href=\"https://www.vanpowers.com/pages/3r-after-sales-system\" target=\"_blank\"><span style=\"color:#000FE1;\"><u>Learn More</u></span></a></p>"},{"type":"html","id":"gg4GBDyQjlN_text","label":"gg4GBDyQjlN_text","default":"<p><span style=\"color:#4D4D4D;\">We accept returns and exchanges within 30 days of receipt. Please contact our support team for assistance with returns and exchanges.</span></p><p><span style=\"color:#4D4D4D;\">You will typically receive your refund within 3-5 business days after returning the item, depending on your payment bank.</span></p><p>&nbsp;</p><p><a href=\"https://www.vanpowers.com/pages/return-policy\" target=\"_blank\"><span style=\"color:#000FE1;\"><u>Learn More</u></span></a></p>"},{"type":"html","id":"ggNPMhNSdfX_childItem_0","label":"ggNPMhNSdfX_childItem_0","default":"<p><strong>Where can I find after-sales support?</strong></p>"},{"type":"html","id":"ggNPMhNSdfX_childItem_1","label":"ggNPMhNSdfX_childItem_1","default":"<p><strong>How long is the warranty period for my e-bike?</strong></p>"},{"type":"html","id":"ggNPMhNSdfX_childItem_2","label":"ggNPMhNSdfX_childItem_2","default":"<p><strong>What&nbsp;should&nbsp;I&nbsp;do&nbsp;if&nbsp;there&nbsp;are&nbsp;no&nbsp;e-bike&nbsp;repair&nbsp;shops&nbsp;near&nbsp;me?</strong></p>"},{"type":"html","id":"gg8Fp75CEpC_text","label":"gg8Fp75CEpC_text","default":"<p><span style=\"color:#4D4D4D;\">You can submit a report through our website by providing the vehicle's Ebike ID, along with pictures and videos of the issue. After reviewing the information, we'll confirm if it's covered under warranty and promptly inform you of the next steps.</span></p><p>&nbsp;</p><p><a href=\"https://www.vanpowers.com/pages/3r-after-sales-system\" target=\"_blank\"><span style=\"color:#000FE1;\"><u>Learn More</u></span></a></p>"},{"type":"html","id":"ggVwa-o27pw_text","label":"ggVwa-o27pw_text","default":"<p>Vanpowers bikes come with a limited warranty of up to 6 years from the date the customer receives the bike. This warranty is still valid if the bike is transferred to another owner.</p><p>&nbsp;</p><p><a href=\"https://www.vanpowers.com/pages/warranty\" target=\"_blank\"><span style=\"color:#000FE1;\"><u>Learn More</u></span></a></p>"},{"type":"html","id":"ggUMqtlhltz_text","label":"ggUMqtlhltz_text","default":"<p><span style=\"color:#4D4D4D;\">Please report it on the official website. We have provided a series of videos on the website to assist you with repairing your e-bike, and we can also offer remote assistance.</span></p><p>&nbsp;</p><p><a href=\"https://www.vanpowers.com/pages/3r-after-sales-system\" target=\"_blank\"><span style=\"color:#000FE1;\"><u>Learn More</u></span></a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
