

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-560281265996039024.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-560281265996039024.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-560281265996039024.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-560281265996039024.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-560281265996039024.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-560281265996039024.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-560281265996039024.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-560281265996039024.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-560281265996039024.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-560281265996039024.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-560281265996039024.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-560281265996039024.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-560281265996039024.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-560281265996039024.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-560281265996039024.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-560281265996039024.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-560281265996039024.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-560281265996039024.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-560281265996039024.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-560281265996039024.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-560281265996039024.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-560281265996039024.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-560281265996039024.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-560281265996039024.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-560281265996039024.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-560281265996039024.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-560281265996039024.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-560281265996039024.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-560281265996039024.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-560281265996039024.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-560281265996039024.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-560281265996039024.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-560281265996039024.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-560281265996039024.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-560281265996039024.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-560281265996039024.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-560281265996039024.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-560281265996039024.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-560281265996039024.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-560281265996039024.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-560281265996039024.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-560281265996039024.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-560281265996039024.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-560281265996039024.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-560281265996039024.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-560281265996039024.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-560281265996039024.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-560281265996039024.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-560281265996039024.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-560281265996039024.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-560281265996039024.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-560281265996039024.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-560281265996039024.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-560281265996039024.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-560281265996039024.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-560281265996039024.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-560281265996039024.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-560281265996039024 .gp-invisible{visibility:hidden}.gps-560281265996039024 .gp-absolute{position:absolute}.gps-560281265996039024 .gp-relative{position:relative}.gps-560281265996039024 .gp-top-0{top:0}.gps-560281265996039024 .gp-z-1{z-index:1}.gps-560281265996039024 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-560281265996039024 .gp-mb-0{margin-bottom:0}.gps-560281265996039024 .gp-flex{display:flex}.gps-560281265996039024 .gp-grid{display:grid}.gps-560281265996039024 .\!gp-hidden{display:none!important}.gps-560281265996039024 .gp-hidden{display:none}.gps-560281265996039024 .gp-h-full{height:100%}.gps-560281265996039024 .gp-w-full{width:100%}.gps-560281265996039024 .gp-max-w-full{max-width:100%}.gps-560281265996039024 .gp-flex-col{flex-direction:column}.gps-560281265996039024 .gp-items-center{align-items:center}.gps-560281265996039024 .\!gp-justify-center{justify-content:center!important}.gps-560281265996039024 .gp-gap-y-0{row-gap:0}.gps-560281265996039024 .gp-overflow-hidden{overflow:hidden}.gps-560281265996039024 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-560281265996039024 .gp-duration-200{transition-duration:.2s}.gps-560281265996039024 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-560281265996039024 .tablet\:gp-relative{position:relative}.gps-560281265996039024 .tablet\:\!gp-hidden{display:none!important}.gps-560281265996039024 .tablet\:gp-hidden{display:none}.gps-560281265996039024 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-560281265996039024 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-560281265996039024 .mobile\:gp-absolute{position:absolute}.gps-560281265996039024 .mobile\:\!gp-hidden{display:none!important}.gps-560281265996039024 .mobile\:gp-hidden{display:none}.gps-560281265996039024 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-560281265996039024 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-560281265996039024 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-560281265996039024 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-560281265996039024 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-560281265996039024 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gX9pl3rTqW" data-id="gX9pl3rTqW"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gX9pl3rTqW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gv1qqhZfR0 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:350px;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0625/2684/9277/files/gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png","width":4875,"height":1950,"backupFileKey":"gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0625/2684/9277/files/gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png","width":4875,"height":1950,"backupFileKey":"gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"image":{"src":"https://cdn.shopify.com/s/files/1/0625/2684/9277/files/gempages_538962750320149290-a54857c3-e8ad-4fb2-a4d9-4305400dd335.png","width":2250,"height":3375,"backupFileKey":"gempages_538962750320149290-a54857c3-e8ad-4fb2-a4d9-4305400dd335.png","storage":"FILE_CONTENT"},"type":"image","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","color":"bg-2"}},"uid":"gfNfZDrcbk","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gfNfZDrcbk gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:350px;--h-mobile:auto;--w:100%;--w-tablet:500%;--w-mobile:100%;--aspect:auto;--aspect-mobile:auto"
        data-id="gfNfZDrcbk"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-end"
        style="--h:auto;--h-tablet:350px;--h-mobile:auto;--aspect:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_538962750320149290-a54857c3-e8ad-4fb2-a4d9-4305400dd335_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI1MCIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjUwLTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyNTAiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI1MCIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMjI1MC0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjI1MCIgdG89IjIyNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg3NSIgaGVpZ2h0PSI0ODc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00ODc1LTQ4NzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ4NzUiIGhlaWdodD0iNDg3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg3NSIgaGVpZ2h0PSI0ODc1IiBmaWxsPSJ1cmwoI2ctNDg3NS00ODc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDg3NSIgdG89IjQ4NzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg3NSIgaGVpZ2h0PSIxOTUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00ODc1LTE5NTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ4NzUiIGhlaWdodD0iMTk1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg3NSIgaGVpZ2h0PSIxOTUwIiBmaWxsPSJ1cmwoI2ctNDg3NS0xOTUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDg3NSIgdG89IjQ4NzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:auto;--d:block;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:350px;--h-mobile:auto;--w:100%;--w-mobile:100%;--w-tablet:500%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg3NSIgaGVpZ2h0PSIxOTUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00ODc1LTE5NTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ4NzUiIGhlaWdodD0iMTk1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg3NSIgaGVpZ2h0PSIxOTUwIiBmaWxsPSJ1cmwoI2ctNDg3NS0xOTUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDg3NSIgdG89IjQ4NzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDg3NSIgaGVpZ2h0PSI0ODc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00ODc1LTQ4NzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ4NzUiIGhlaWdodD0iNDg3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDg3NSIgaGVpZ2h0PSI0ODc1IiBmaWxsPSJ1cmwoI2ctNDg3NS00ODc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDg3NSIgdG89IjQ4NzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI1MCIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjUwLTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyNTAiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI1MCIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMjI1MC0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjI1MCIgdG89IjIyNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png" | file_url }}" data-srcset="{{ "gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675_1024x.png" | file_url }}" data-srcset="{{ "gempages_538962750320149290-4db700fe-1630-463f-85a5-c17f605be675_1024x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_538962750320149290-a54857c3-e8ad-4fb2-a4d9-4305400dd335_768x.png" | file_url }}" data-srcset="{{ "gempages_538962750320149290-a54857c3-e8ad-4fb2-a4d9-4305400dd335_768x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-relative mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--d-mobile:none"
      class="gHTEZe1loZ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-560281265996039024 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559424894262051653&sectionId=560281265996039024)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
