

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557571646643307600.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557571646643307600.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557571646643307600.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557571646643307600.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557571646643307600.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557571646643307600.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557571646643307600.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557571646643307600.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557571646643307600.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557571646643307600.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557571646643307600.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557571646643307600.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-557571646643307600.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557571646643307600.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557571646643307600.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557571646643307600.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-557571646643307600.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557571646643307600.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557571646643307600.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557571646643307600.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557571646643307600.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-557571646643307600.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557571646643307600.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557571646643307600.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-557571646643307600.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557571646643307600.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-557571646643307600.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557571646643307600.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557571646643307600.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557571646643307600.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557571646643307600.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-557571646643307600.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557571646643307600.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557571646643307600.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557571646643307600.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557571646643307600.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557571646643307600.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557571646643307600.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557571646643307600.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-557571646643307600.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557571646643307600.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557571646643307600.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557571646643307600.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557571646643307600.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557571646643307600.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557571646643307600.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557571646643307600.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557571646643307600.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557571646643307600.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-557571646643307600.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557571646643307600.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557571646643307600.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557571646643307600.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557571646643307600.gps.gpsil [style*="--gg-tablet:"]{grid-gap:var(--gg-tablet)}.gps-557571646643307600.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557571646643307600.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557571646643307600.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557571646643307600.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557571646643307600.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557571646643307600.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557571646643307600.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557571646643307600.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557571646643307600.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557571646643307600.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-557571646643307600.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557571646643307600.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557571646643307600.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557571646643307600.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557571646643307600.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557571646643307600.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557571646643307600.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557571646643307600.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557571646643307600 .-gp-rotate-90,.gps-557571646643307600 .gp-rotate-180,.gps-557571646643307600 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-557571646643307600 .gp-relative{position:relative}.gps-557571646643307600 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557571646643307600 .gp-mb-0{margin-bottom:0}.gps-557571646643307600 .gp-flex{display:flex}.gps-557571646643307600 .gp-inline-flex{display:inline-flex}.gps-557571646643307600 .gp-grid{display:grid}.gps-557571646643307600 .\!gp-hidden{display:none!important}.gps-557571646643307600 .gp-hidden{display:none}.gps-557571646643307600 .gp-min-h-0{min-height:0}.gps-557571646643307600 .gp-w-full{width:100%}.gps-557571646643307600 .gp-max-w-full{max-width:100%}.gps-557571646643307600 .-gp-rotate-90{--tw-rotate:-90deg}.gps-557571646643307600 .-gp-rotate-90,.gps-557571646643307600 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-557571646643307600 .gp-rotate-180{--tw-rotate:180deg}.gps-557571646643307600 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-557571646643307600 .gp-cursor-pointer{cursor:pointer}.gps-557571646643307600 .gp-flex-col{flex-direction:column}.gps-557571646643307600 .gp-items-center{align-items:center}.gps-557571646643307600 .gp-justify-center{justify-content:center}.gps-557571646643307600 .gp-gap-y-0{row-gap:0}.gps-557571646643307600 .gp-overflow-hidden{overflow:hidden}.gps-557571646643307600 .gp-overflow-clip{overflow:clip}.gps-557571646643307600 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557571646643307600 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557571646643307600 .gp-duration-200{transition-duration:.2s}.gps-557571646643307600 .gp-duration-500{transition-duration:.5s}.gps-557571646643307600 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-557571646643307600 .tablet\:\!gp-hidden{display:none!important}.gps-557571646643307600 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557571646643307600 .mobile\:\!gp-hidden{display:none!important}.gps-557571646643307600 .mobile\:gp-hidden{display:none}}.gps-557571646643307600 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-557571646643307600 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-557571646643307600 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557571646643307600 .\[\&_p\]\:gp-inline p{display:inline}.gps-557571646643307600 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557571646643307600 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="guD-dWZLbp" data-id="guD-dWZLbp"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:80px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guD-dWZLbp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQcmJuiIb3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5VIuwHQKf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5VIuwHQKf "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pb:12px;--mb-tablet:0px;--pb-tablet:42px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:40px;--size-tablet:35px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5VIuwHQKf_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guhl65Etw2" data-id="guhl65Etw2"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guhl65Etw2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gX9S3BVqbt gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gNosS_ZQbu ">
      
    <gp-accordion
      data-id="gNosS_ZQbu"
     uid="gNosS_ZQbu"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-tablet:14px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"1,2","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322350260573\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322263621981\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z\" /></svg>","iconCollapseSize":15,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gNosS_ZQbu","childListNumber":["0","1"],"chidlrenUid":["gqn29jgu3R","grmkHGbrt0","gXHkfKck-_","gmSPbKQoMN","g7lcB2QzJS"]},"styles":{"bgColor":{"normal":"#F8F8F8"},"color":{"active":"#242424","hover":"#242424","normal":"#161723"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"},"mobile":{"horizontal":"21px","vertical":"14px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#161723"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"24px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"24px","right":"24px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gNosS_ZQbu"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="0"
      class="gNosS_ZQbu gp-accordion-item gp-overflow-hidden gp-child-item-gNosS_ZQbu"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gqn29jgu3R"
        id="gqn29jgu3R"
        data-index="0"
        class="gNosS_ZQbu gp-accordion-item-gNosS_ZQbu-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-0:hover .gp-collapsible-icon, .gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:15px;height:15px"
            data-index="0"
            class="gNosS_ZQbu gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNosS_ZQbu_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gqn29jgu3R"
        data-index="0"
        data-show="true"
        class="gNosS_ZQbu gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gqn29jgu3R"
        data-index="0"
        class="gNosS_ZQbu gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:0px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gBKMZqCcTf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvXFIoyM5h">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gvXFIoyM5h "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvXFIoyM5h_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="1"
      class="gNosS_ZQbu gp-accordion-item gp-overflow-hidden gp-child-item-gNosS_ZQbu"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="grmkHGbrt0"
        id="grmkHGbrt0"
        data-index="1"
        class="gNosS_ZQbu gp-accordion-item-gNosS_ZQbu-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-1:hover .gp-collapsible-icon, .gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:15px;height:15px"
            data-index="1"
            class="gNosS_ZQbu gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNosS_ZQbu_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="grmkHGbrt0"
        data-index="1"
        data-show="true"
        class="gNosS_ZQbu gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="grmkHGbrt0"
        data-index="1"
        class="gNosS_ZQbu gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:0px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g2Xg3dg95E gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcSNg8BAzO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcSNg8BAzO "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggcSNg8BAzO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="2"
      class="gNosS_ZQbu gp-accordion-item gp-overflow-hidden gp-child-item-gNosS_ZQbu"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gXHkfKck-_"
        id="gXHkfKck-_"
        data-index="2"
        class="gNosS_ZQbu gp-accordion-item-gNosS_ZQbu-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-2:hover .gp-collapsible-icon, .gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="2"
            class="gNosS_ZQbu gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNosS_ZQbu_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gXHkfKck-_"
        data-index="2"
        data-show="false"
        class="gNosS_ZQbu gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gXHkfKck-_"
        data-index="2"
        class="gNosS_ZQbu gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gB3y0rdpiX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUGYnHHAvI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUGYnHHAvI "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUGYnHHAvI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="3"
      class="gNosS_ZQbu gp-accordion-item gp-overflow-hidden gp-child-item-gNosS_ZQbu"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gmSPbKQoMN"
        id="gmSPbKQoMN"
        data-index="3"
        class="gNosS_ZQbu gp-accordion-item-gNosS_ZQbu-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-3:hover .gp-collapsible-icon, .gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-3:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="3"
            class="gNosS_ZQbu gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNosS_ZQbu_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gmSPbKQoMN"
        data-index="3"
        data-show="false"
        class="gNosS_ZQbu gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gmSPbKQoMN"
        data-index="3"
        class="gNosS_ZQbu gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g_O1vpo2-m gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4Vjkkua0Z">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4Vjkkua0Z "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4Vjkkua0Z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gNosS_ZQbu-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="4"
      class="gNosS_ZQbu gp-accordion-item gp-overflow-hidden gp-child-item-gNosS_ZQbu"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g7lcB2QzJS"
        id="g7lcB2QzJS"
        data-index="4"
        class="gNosS_ZQbu gp-accordion-item-gNosS_ZQbu-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-4:hover .gp-collapsible-icon, .gNosS_ZQbu.gp-accordion-item-gNosS_ZQbu-4:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="4"
            class="gNosS_ZQbu gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNosS_ZQbu_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g7lcB2QzJS"
        data-index="4"
        data-show="false"
        class="gNosS_ZQbu gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g7lcB2QzJS"
        data-index="4"
        class="gNosS_ZQbu gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gEp3kVGd-F gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpsxGM162a">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpsxGM162a "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpsxGM162a_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfcAA32EJ6 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gOGzDiU2a8 ">
      
    <gp-accordion
      data-id="gOGzDiU2a8"
     uid="gOGzDiU2a8"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-tablet:14px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"1,2","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322350260573\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322263621981\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z\" /></svg>","iconCollapseSize":15,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gOGzDiU2a8","childListNumber":["0","1"],"chidlrenUid":["gKOMbGnced","gabNgh_lpw","gX6Yf6XSqZ","ghpBiE8Q3A","gH-dM9dgp6","g3bdY1hTGL"]},"styles":{"bgColor":{"normal":"#F8F8F8"},"color":{"active":"#242424","hover":"#242424","normal":"#161723"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"},"mobile":{"horizontal":"21px","vertical":"14px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#161723"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"24px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"24px","left":"24px","right":"24px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gOGzDiU2a8"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="0"
      class="gOGzDiU2a8 gp-accordion-item gp-overflow-hidden gp-child-item-gOGzDiU2a8"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gKOMbGnced"
        id="gKOMbGnced"
        data-index="0"
        class="gOGzDiU2a8 gp-accordion-item-gOGzDiU2a8-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-0:hover .gp-collapsible-icon, .gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:15px;height:15px"
            data-index="0"
            class="gOGzDiU2a8 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOGzDiU2a8_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gKOMbGnced"
        data-index="0"
        data-show="true"
        class="gOGzDiU2a8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gKOMbGnced"
        data-index="0"
        class="gOGzDiU2a8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:0px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gY4hHgdayK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gc3iseeHhU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gc3iseeHhU "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggc3iseeHhU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="1"
      class="gOGzDiU2a8 gp-accordion-item gp-overflow-hidden gp-child-item-gOGzDiU2a8"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gabNgh_lpw"
        id="gabNgh_lpw"
        data-index="1"
        class="gOGzDiU2a8 gp-accordion-item-gOGzDiU2a8-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#242424"
      >
       <style class="accordion-style">.gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-1:hover .gp-collapsible-icon, .gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:15px;height:15px"
            data-index="1"
            class="gOGzDiU2a8 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOGzDiU2a8_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gabNgh_lpw"
        data-index="1"
        data-show="true"
        class="gOGzDiU2a8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gabNgh_lpw"
        data-index="1"
        class="gOGzDiU2a8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:0px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gOkx_BvcFo gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPwovH1nYD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPwovH1nYD "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPwovH1nYD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="2"
      class="gOGzDiU2a8 gp-accordion-item gp-overflow-hidden gp-child-item-gOGzDiU2a8"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gX6Yf6XSqZ"
        id="gX6Yf6XSqZ"
        data-index="2"
        class="gOGzDiU2a8 gp-accordion-item-gOGzDiU2a8-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-2:hover .gp-collapsible-icon, .gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="2"
            class="gOGzDiU2a8 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOGzDiU2a8_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gX6Yf6XSqZ"
        data-index="2"
        data-show="false"
        class="gOGzDiU2a8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gX6Yf6XSqZ"
        data-index="2"
        class="gOGzDiU2a8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g42CRkkoEl gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXo_lLVPR6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXo_lLVPR6 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXo_lLVPR6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="3"
      class="gOGzDiU2a8 gp-accordion-item gp-overflow-hidden gp-child-item-gOGzDiU2a8"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="ghpBiE8Q3A"
        id="ghpBiE8Q3A"
        data-index="3"
        class="gOGzDiU2a8 gp-accordion-item-gOGzDiU2a8-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-3:hover .gp-collapsible-icon, .gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-3:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="3"
            class="gOGzDiU2a8 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOGzDiU2a8_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="ghpBiE8Q3A"
        data-index="3"
        data-show="false"
        class="gOGzDiU2a8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="ghpBiE8Q3A"
        data-index="3"
        class="gOGzDiU2a8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g8H0KZPlAM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpR0wkbVtL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpR0wkbVtL "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpR0wkbVtL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="4"
      class="gOGzDiU2a8 gp-accordion-item gp-overflow-hidden gp-child-item-gOGzDiU2a8"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gH-dM9dgp6"
        id="gH-dM9dgp6"
        data-index="4"
        class="gOGzDiU2a8 gp-accordion-item-gOGzDiU2a8-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-4:hover .gp-collapsible-icon, .gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-4:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="4"
            class="gOGzDiU2a8 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOGzDiU2a8_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gH-dM9dgp6"
        data-index="4"
        data-show="false"
        class="gOGzDiU2a8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gH-dM9dgp6"
        data-index="4"
        class="gOGzDiU2a8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gD2ws95zKR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gkU88jwewY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gkU88jwewY "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkU88jwewY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gOGzDiU2a8-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #242424 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#F8F8F8;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="5"
      class="gOGzDiU2a8 gp-accordion-item gp-overflow-hidden gp-child-item-gOGzDiU2a8"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g3bdY1hTGL"
        id="g3bdY1hTGL"
        data-index="5"
        class="gOGzDiU2a8 gp-accordion-item-gOGzDiU2a8-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:24px;--pb:24px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:14px;--pb-tablet:14px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F8F8F8;--hvr-c:#242424;--c:#161723;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-5:hover .gp-collapsible-icon, .gOGzDiU2a8.gp-accordion-item-gOGzDiU2a8-5:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#161723;width:15px;height:15px"
            data-index="5"
            class="gOGzDiU2a8 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOGzDiU2a8_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g3bdY1hTGL"
        data-index="5"
        data-show="false"
        class="gOGzDiU2a8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g3bdY1hTGL"
        data-index="5"
        class="gOGzDiU2a8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:14px;--pr-tablet:14px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g28skrgX5P gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUDQ5yK80P">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUDQ5yK80P "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424153;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUDQ5yK80P_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-557571646643307600 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557571646509024336&sectionId=557571646643307600)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5VIuwHQKf_text","label":"gg5VIuwHQKf_text","default":"<p>Frequently Asked Questions</p>"},{"type":"html","id":"ggNosS_ZQbu_childItem_0","label":"ggNosS_ZQbu_childItem_0","default":"<p>Will there be any quality issues with your refurbished bikes?&nbsp;</p>"},{"type":"html","id":"ggNosS_ZQbu_childItem_1","label":"ggNosS_ZQbu_childItem_1","default":"<p>If my battery or motor, or other core components are damaged, can I return the product? &nbsp;</p>"},{"type":"html","id":"ggNosS_ZQbu_childItem_2","label":"ggNosS_ZQbu_childItem_2","default":"<p>If other parts of my product are damaged, such as my kickstand breaking, what should I do? &nbsp;</p>"},{"type":"html","id":"ggNosS_ZQbu_childItem_3","label":"ggNosS_ZQbu_childItem_3","default":"<p>Can I return the product?&nbsp;</p>"},{"type":"html","id":"ggNosS_ZQbu_childItem_4","label":"ggNosS_ZQbu_childItem_4","default":"<p>Can a refurbished products be exchanged?</p>"},{"type":"html","id":"ggvXFIoyM5h_text","label":"ggvXFIoyM5h_text","default":"<p>Our refurbished bikes undergo more than 100 quality inspections and over 100 official tests before they are officially sold, so you can ride them with complete confidence!</p>"},{"type":"html","id":"ggcSNg8BAzO_text","label":"ggcSNg8BAzO_text","default":"<p>We are very sorry if this happens. There are two options provided: &nbsp;<br>1. Refund only: We will refund the full amount to your account, and you can keep the product. &nbsp;<br>2. Replacement: We can send you a refurbished product.</p>"},{"type":"html","id":"ggUGYnHHAvI_text","label":"ggUGYnHHAvI_text","default":"<p>You can contact our customer service on our official website, and we will offer you a special discount, you can purchase our original parts at 50% of the price.</p>"},{"type":"html","id":"gg4Vjkkua0Z_text","label":"gg4Vjkkua0Z_text","default":"<p>We are very sorry, but we do not support returns for non-quality issues.</p>"},{"type":"html","id":"ggpsxGM162a_text","label":"ggpsxGM162a_text","default":"<p>Product replacement is not allowed unless there is damage to the core components when you receive the vehicle.</p>"},{"type":"html","id":"ggOGzDiU2a8_childItem_0","label":"ggOGzDiU2a8_childItem_0","default":"<p>Can I still enjoy all the freebies that come with a new bike? &nbsp;</p>"},{"type":"html","id":"ggOGzDiU2a8_childItem_1","label":"ggOGzDiU2a8_childItem_1","default":"<p>Can I still enjoy all the discounts that come with a new bike?&nbsp;</p>"},{"type":"html","id":"ggOGzDiU2a8_childItem_2","label":"ggOGzDiU2a8_childItem_2","default":"<p>Is there anything I should do after receiving the product?</p>"},{"type":"html","id":"ggOGzDiU2a8_childItem_3","label":"ggOGzDiU2a8_childItem_3","default":"<p>Can I return the product?&nbsp;</p>"},{"type":"html","id":"ggOGzDiU2a8_childItem_4","label":"ggOGzDiU2a8_childItem_4","default":"<p>When will you discontinue this promotion?&nbsp;</p>"},{"type":"html","id":"ggOGzDiU2a8_childItem_5","label":"ggOGzDiU2a8_childItem_5","default":"<p>Will there be other refurbished products for sale?</p>"},{"type":"html","id":"ggc3iseeHhU_text","label":"ggc3iseeHhU_text","default":"<p>Sorry, refurbished vehicles are not eligible for the freebies promotion.</p>"},{"type":"html","id":"ggPwovH1nYD_text","label":"ggPwovH1nYD_text","default":"<p>Sorry, refurbished vehicles are not eligible for any discount promotions.</p>"},{"type":"html","id":"ggXo_lLVPR6_text","label":"ggXo_lLVPR6_text","default":"<p>We recommend that you conduct a self-check of the vehicle's core components. If you notice any abnormalities, please report them to us promptly, and we will address the issue as soon as possible.</p>"},{"type":"html","id":"ggpR0wkbVtL_text","label":"ggpR0wkbVtL_text","default":"<p>We are very sorry, but we do not support returns for non-quality issues.</p>"},{"type":"html","id":"ggkU88jwewY_text","label":"ggkU88jwewY_text","default":"<p>This promotion releases only 10 units each week until the stock is sold out.</p>"},{"type":"html","id":"ggUDQ5yK80P_text","label":"ggUDQ5yK80P_text","default":"<p>Currently, this is the only E-BIKE model we have this offer for. I suggest subscribing to our official website so we can notify you immediately if we have similar refurbishment sales for other models in the future.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
