

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555508952595432225.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-555508952595432225.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555508952595432225.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-555508952595432225.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555508952595432225.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555508952595432225.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555508952595432225.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555508952595432225.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555508952595432225.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555508952595432225.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555508952595432225.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-555508952595432225.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555508952595432225.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555508952595432225.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555508952595432225.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555508952595432225.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555508952595432225.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555508952595432225.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555508952595432225.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555508952595432225.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555508952595432225.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555508952595432225.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555508952595432225.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-555508952595432225.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555508952595432225.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555508952595432225.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555508952595432225.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555508952595432225.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555508952595432225.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555508952595432225.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555508952595432225.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555508952595432225.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-555508952595432225.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-555508952595432225.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555508952595432225.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-555508952595432225.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-555508952595432225.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555508952595432225.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555508952595432225.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-555508952595432225.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-555508952595432225.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555508952595432225.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555508952595432225.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555508952595432225.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555508952595432225.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555508952595432225.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555508952595432225.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555508952595432225.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555508952595432225.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-555508952595432225.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555508952595432225.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-555508952595432225.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555508952595432225.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555508952595432225.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555508952595432225.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-555508952595432225.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-555508952595432225.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555508952595432225.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-555508952595432225.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-555508952595432225.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-555508952595432225.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555508952595432225.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-555508952595432225.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555508952595432225.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555508952595432225.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-555508952595432225.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-555508952595432225.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-555508952595432225.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555508952595432225.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555508952595432225.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-555508952595432225.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555508952595432225.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555508952595432225.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-555508952595432225.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-555508952595432225.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555508952595432225.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-555508952595432225.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555508952595432225.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555508952595432225.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555508952595432225.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555508952595432225.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-555508952595432225.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-555508952595432225.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-555508952595432225.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555508952595432225.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555508952595432225 .gp-relative{position:relative}.gps-555508952595432225 .gp-sticky{position:sticky}.gps-555508952595432225 .gp-z-1{z-index:1}.gps-555508952595432225 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555508952595432225 .gp-mb-0{margin-bottom:0}.gps-555508952595432225 .gp-flex{display:flex}.gps-555508952595432225 .gp-inline-flex{display:inline-flex}.gps-555508952595432225 .gp-grid{display:grid}.gps-555508952595432225 .gp-contents{display:contents}.gps-555508952595432225 .\!gp-hidden{display:none!important}.gps-555508952595432225 .gp-hidden{display:none}.gps-555508952595432225 .gp-h-full{height:100%}.gps-555508952595432225 .gp-w-full{width:100%}.gps-555508952595432225 .gp-max-w-full{max-width:100%}.gps-555508952595432225 .gp-flex-col{flex-direction:column}.gps-555508952595432225 .gp-items-center{align-items:center}.gps-555508952595432225 .gp-justify-center{justify-content:center}.gps-555508952595432225 .gp-gap-y-0{row-gap:0}.gps-555508952595432225 .gp-overflow-hidden{overflow:hidden}.gps-555508952595432225 .gp-break-words{overflow-wrap:break-word}.gps-555508952595432225 .gp-rounded-none{border-radius:0}.gps-555508952595432225 .gp-text-center{text-align:center}.gps-555508952595432225 .gp-line-through{text-decoration-line:line-through}.gps-555508952595432225 .gp-no-underline{text-decoration-line:none}.gps-555508952595432225 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-555508952595432225 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555508952595432225 .gp-duration-200{transition-duration:.2s}.gps-555508952595432225 .gp-duration-300{transition-duration:.3s}.gps-555508952595432225 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555508952595432225 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-555508952595432225 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-555508952595432225 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-555508952595432225 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-555508952595432225 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-555508952595432225 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible,.gps-555508952595432225 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-555508952595432225 .tablet\:\!gp-hidden{display:none!important}.gps-555508952595432225 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555508952595432225 .mobile\:\!gp-hidden{display:none!important}.gps-555508952595432225 .mobile\:gp-hidden{display:none}}.gps-555508952595432225 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555508952595432225 .\[\&_p\]\:gp-inline p{display:inline}.gps-555508952595432225 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-555508952595432225 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-555508952595432225 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

    
    <gp-sticky
    data-id="gWnR_tkr76"
      gp-data='{"uid":"gWnR_tkr76","setting":{"display":{"desktop":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gWnR_tkr76"
      data-id="gWnR_tkr76"
      class="gWnR_tkr76 {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  "
      style="margin:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F4EEE2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--top:0;--pos:sticky;--top-tablet:0;--pos-tablet:sticky;--top-mobile:0;--pos-mobile:sticky;--left:0;--t:unset;--left-tablet:0;--t-tablet:unset;--left-mobile:0;--t-mobile:unset;z-index:100000"
    >
      <div >
        <div
      enableLazyloadImage="true"
      
      class="gcOScvF3Ib gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="glpDRo-mRH" data-id="glpDRo-mRH"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:0px;--pr:0px;--pl-tablet:20px;--pr-tablet:20px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:1320px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glpDRo-mRH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHoJhfV-nN gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gO1FtFs1me"
    role="presentation"
    class="gp-group/image gO1FtFs1me"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_538962750320149290-014686b8-9520-4ba6-b25d-bcbc865f99ca_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjE0LTE2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgZmlsbD0idXJsKCNnLTYxNC0xNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTQiIHRvPSI2MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_538962750320149290-014686b8-9520-4ba6-b25d-bcbc865f99ca_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjE0LTE2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgZmlsbD0idXJsKCNnLTYxNC0xNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTQiIHRvPSI2MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjE0LTE2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjE0IiBoZWlnaHQ9IjE2MCIgZmlsbD0idXJsKCNnLTYxNC0xNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MTQiIHRvPSI2MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_538962750320149290-014686b8-9520-4ba6-b25d-bcbc865f99ca.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:307px;--w-tablet:307px;--w-mobile:307px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gO1FtFs1me">
        .gO1FtFs1me {

}
.gO1FtFs1me > figure > img {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3YK5kfnJ3 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 41110800072766 -%}
      {%- assign product_form_id = 'product-form-' | append: "gbPBSbOvtP" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%- assign productSelectedVariant = product.variants | where: 'id', initVariantId | first -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gbPBSbOvtP" data-id="gbPBSbOvtP"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gbPBSbOvtP" data-id="gbPBSbOvtP-row"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pt:4px;--pl:12px;--pb:4px;--pr:12px;--pt-mobile:8px;--pl-mobile:8px;--pb-mobile:8px;--pr-mobile:8px;--cg:56px;--cg-tablet:12px;--pc:end;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="gbPBSbOvtP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqoZUgMNx0 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gdWnTpF8Df" data-id="gdWnTpF8Df"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:Auto;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdWnTpF8Df gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpyc3zNbtu gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gWq6QOrofh"
        class="gWq6QOrofh gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"gWq6QOrofh","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gWq6QOrofh"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gaERz8b19- gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gN9oo2TQKE"
        class="gN9oo2TQKE gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"gN9oo2TQKE","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gN9oo2TQKE"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1px;--ta:left;--hvr-c:#B4B4B4;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_Fgf-1LRk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_Fgf-1LRk "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#1B100E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_Fgf-1LRk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g_Fgf-1LRk">
        .g_Fgf-1LRk {

}
.g_Fgf-1LRk p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3A9FMqJGT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--ta:left"
    
  >
    <style>
    .gwY9_9_zfJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gwY9_9_zfJ:hover::before {
      
      
    }

    .gwY9_9_zfJ:hover .gp-button-icon {
      color: undefined;
    }

     .gwY9_9_zfJ .gp-button-icon {
      color: #242424;
    }

    .gwY9_9_zfJ:hover .gp-button-price {
      color: undefined;
    }

    .gwY9_9_zfJ .gp-button-price {
      color: #242424;
    }

    .gwY9_9_zfJ .gp-product-dot-price {
       color: #242424;
    }

    .gwY9_9_zfJ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#go9qWhm6fT" target="_self" data-id="gwY9_9_zfJ" aria-label="Buy Now"
      
      data-state="idle"
      class="gwY9_9_zfJ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FF6823;--bg:#FF8852;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:195px;--w-tablet:195px;--w-mobile:195px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:13px;--pb:13px;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424"
      >
        {{ section.settings.ggwY9_9_zfJ_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gwY9_9_zfJ">
        button.gwY9_9_zfJ {

}
      </style>
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-555508952595432225 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555508919728866547&sectionId=555508952595432225)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_Fgf-1LRk_text","label":"gg_Fgf-1LRk_text","default":"<p>Gem Road Bike</p>"},{"type":"html","id":"ggwY9_9_zfJ_label","label":"ggwY9_9_zfJ_label","default":"Buy Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
