

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557571646643438672.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557571646643438672.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557571646643438672.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557571646643438672.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557571646643438672.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557571646643438672.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557571646643438672.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557571646643438672.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557571646643438672.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557571646643438672.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557571646643438672.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-557571646643438672.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557571646643438672.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557571646643438672.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557571646643438672.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557571646643438672.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557571646643438672.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557571646643438672.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557571646643438672.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557571646643438672.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557571646643438672.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557571646643438672.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557571646643438672.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557571646643438672.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557571646643438672.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557571646643438672.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557571646643438672.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557571646643438672.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557571646643438672.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557571646643438672.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557571646643438672.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557571646643438672.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557571646643438672.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557571646643438672.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557571646643438672.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557571646643438672.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557571646643438672.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557571646643438672.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557571646643438672.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557571646643438672.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557571646643438672.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-557571646643438672.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557571646643438672.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557571646643438672.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557571646643438672.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557571646643438672.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557571646643438672.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557571646643438672.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557571646643438672.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557571646643438672.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557571646643438672.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557571646643438672.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-557571646643438672.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557571646643438672.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557571646643438672.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557571646643438672.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557571646643438672.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557571646643438672.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557571646643438672.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557571646643438672.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557571646643438672.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557571646643438672 .gp-relative{position:relative}.gps-557571646643438672 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557571646643438672 .gp-mb-0{margin-bottom:0}.gps-557571646643438672 .gp-flex{display:flex}.gps-557571646643438672 .gp-grid{display:grid}.gps-557571646643438672 .gp-contents{display:contents}.gps-557571646643438672 .\!gp-hidden{display:none!important}.gps-557571646643438672 .gp-hidden{display:none}.gps-557571646643438672 .gp-h-full{height:100%}.gps-557571646643438672 .gp-w-full{width:100%}.gps-557571646643438672 .gp-max-w-full{max-width:100%}.gps-557571646643438672 .gp-flex-col{flex-direction:column}.gps-557571646643438672 .gp-gap-y-0{row-gap:0}.gps-557571646643438672 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557571646643438672 .gp-duration-200{transition-duration:.2s}.gps-557571646643438672 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-557571646643438672 .tablet\:\!gp-hidden{display:none!important}.gps-557571646643438672 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557571646643438672 .mobile\:\!gp-hidden{display:none!important}.gps-557571646643438672 .mobile\:gp-hidden{display:none}}.gps-557571646643438672 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557571646643438672 .\[\&_p\]\:gp-inline p{display:inline}.gps-557571646643438672 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557571646643438672 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gjfwPFPd_H" data-id="gjfwPFPd_H"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:80px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjfwPFPd_H gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaBUXVT32J gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gaxRKbIenD" data-id="gaxRKbIenD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaxRKbIenD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBh6OXIWsJ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gGFS5ZPfKK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gGFS5ZPfKK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:40px;--size-tablet:35px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGFS5ZPfKK_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTKChdGAbZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTKChdGAbZ "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:var(--g-s-l);--mb-tablet:0px;--pt-tablet:14px;--pb-tablet:42px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:877px;--w-tablet:877px;--w-mobile:877px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTKChdGAbZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3qRs5nshb" data-id="g3qRs5nshb"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3qRs5nshb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gs63zveTz4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g8huGTWNot"
    role="presentation"
    class="gp-group/image g8huGTWNot"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_538962750320149290-b0cd5670-4364-44e6-8099-0d98bb345651_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIxMDM4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM4LTEwMzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzgiIGhlaWdodD0iMTAzOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIxMDM4IiBmaWxsPSJ1cmwoI2ctMTUzOC0xMDM4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzOCIgdG89IjE1MzgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_538962750320149290-b0cd5670-4364-44e6-8099-0d98bb345651_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIxMDM4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM4LTEwMzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzgiIGhlaWdodD0iMTAzOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIxMDM4IiBmaWxsPSJ1cmwoI2ctMTUzOC0xMDM4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzOCIgdG89IjE1MzgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIxMDM4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM4LTEwMzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzgiIGhlaWdodD0iMTAzOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzOCIgaGVpZ2h0PSIxMDM4IiBmaWxsPSJ1cmwoI2ctMTUzOC0xMDM4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzOCIgdG89IjE1MzgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_538962750320149290-b0cd5670-4364-44e6-8099-0d98bb345651.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-557571646643438672 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557571646509024336&sectionId=557571646643438672)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGFS5ZPfKK_text","label":"ggGFS5ZPfKK_text","default":"Warranty Policy"},{"type":"html","id":"ggTKChdGAbZ_text","label":"ggTKChdGAbZ_text","default":"<p>Refurbished E-Bikes adhere to the following warranty policy as a standard.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
