

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559424922330334021.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559424922330334021.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559424922330334021.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559424922330334021.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559424922330334021.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559424922330334021.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559424922330334021.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559424922330334021.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559424922330334021.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559424922330334021.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559424922330334021.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559424922330334021.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559424922330334021.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559424922330334021.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559424922330334021.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559424922330334021.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559424922330334021.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559424922330334021.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559424922330334021.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559424922330334021.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559424922330334021.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559424922330334021.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559424922330334021.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559424922330334021.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559424922330334021.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559424922330334021.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-559424922330334021.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559424922330334021.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559424922330334021.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559424922330334021.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559424922330334021.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559424922330334021.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559424922330334021.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559424922330334021.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559424922330334021.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-559424922330334021.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559424922330334021.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-559424922330334021.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559424922330334021.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559424922330334021.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559424922330334021.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-559424922330334021.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559424922330334021.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559424922330334021.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559424922330334021.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-559424922330334021.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-559424922330334021.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559424922330334021.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559424922330334021.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559424922330334021.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559424922330334021.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559424922330334021.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-559424922330334021.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559424922330334021.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559424922330334021.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559424922330334021.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559424922330334021.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559424922330334021.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-559424922330334021.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559424922330334021.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559424922330334021.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559424922330334021.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559424922330334021.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559424922330334021.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-559424922330334021.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-559424922330334021.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559424922330334021.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559424922330334021 .gp-relative{position:relative}.gps-559424922330334021 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559424922330334021 .gp-mb-0{margin-bottom:0}.gps-559424922330334021 .gp-flex{display:flex}.gps-559424922330334021 .gp-inline-flex{display:inline-flex}.gps-559424922330334021 .gp-grid{display:grid}.gps-559424922330334021 .\!gp-hidden{display:none!important}.gps-559424922330334021 .gp-hidden{display:none}.gps-559424922330334021 .gp-w-full{width:100%}.gps-559424922330334021 .gp-max-w-full{max-width:100%}.gps-559424922330334021 .gp-flex-col{flex-direction:column}.gps-559424922330334021 .gp-items-center{align-items:center}.gps-559424922330334021 .gp-justify-center{justify-content:center}.gps-559424922330334021 .gp-gap-y-0{row-gap:0}.gps-559424922330334021 .gp-overflow-hidden{overflow:hidden}.gps-559424922330334021 .gp-leading-\[0\]{line-height:0}.gps-559424922330334021 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-559424922330334021 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559424922330334021 .gp-duration-200{transition-duration:.2s}.gps-559424922330334021 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559424922330334021 .tablet\:\!gp-hidden{display:none!important}.gps-559424922330334021 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559424922330334021 .mobile\:\!gp-hidden{display:none!important}.gps-559424922330334021 .mobile\:gp-hidden{display:none}}.gps-559424922330334021 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-559424922330334021 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-559424922330334021 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-559424922330334021 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-559424922330334021 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559424922330334021 .\[\&_p\]\:gp-inline p{display:inline}.gps-559424922330334021 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559424922330334021 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gszWCAlcKO" data-id="gszWCAlcKO"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:49px;--pl:25px;--pb:42px;--pr:25px;--pt-mobile:17px;--pl-mobile:25px;--pb-mobile:17px;--pr-mobile:25px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gszWCAlcKO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-9vaQT9Vx gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gzSRNDOrsx" data-id="gzSRNDOrsx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pr:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:30px;--cg-tablet:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzSRNDOrsx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOZWA_cRCE gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gIinV00pnI" data-id="gIinV00pnI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:16px;--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIinV00pnI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPJbuX-u5- gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gbqGlWv42B ">
      
    
    <div
      uid="gbqGlWv42B"
      data-id="gbqGlWv42B"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--ta:center;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l);--rg-mobile:8px"
        >
        
    <li
       data-index="0"
       data-id="g-3ujia5rs"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gbqGlWv42B"
      style="--cg:12px;--cg-mobile:6px"
    >
    <div
      enableLazyloadImage="true"
      
      class="gLLVxJBhwd gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ta:left"
      class="gp-leading-[0] gUmfR-Kj7N"
    >
      <div 
      data-id="gUmfR-Kj7N"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:58px;--w-tablet:58px;--w-mobile:36px;--h:58px;--h-tablet:58px;--h-mobile:36px;--minw:58px;--minw-tablet:58px;--minw-mobile:36px;--height-desktop:58px;--height-tablet:58px;--height-mobile:36px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg data-id="523771796185416466" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
<g clip-path="url(#clip0_36_102)">
<path d="M44.2621 34.6182C40.2308 34.6182 36.9512 37.8978 36.9512 41.9291C36.9512 45.9604 40.2308 49.2401 44.2621 49.2401C48.2941 49.2401 51.5731 45.9604 51.5731 41.9291C51.5731 37.8978 48.2935 34.6182 44.2621 34.6182ZM44.2621 45.5846C42.2462 45.5846 40.6066 43.9451 40.6066 41.9291C40.6066 39.9132 42.2462 38.2736 44.2621 38.2736C46.2781 38.2736 47.9176 39.9132 47.9176 41.9291C47.9176 43.9452 46.2781 45.5846 44.2621 45.5846Z" fill="#4B6D13"/>
<path d="M19.2836 34.6182C15.2523 34.6182 11.9727 37.8978 11.9727 41.9291C11.9727 45.9604 15.2523 49.2401 19.2836 49.2401C23.3149 49.2401 26.5945 45.9604 26.5945 41.9291C26.5945 37.8978 23.3149 34.6182 19.2836 34.6182ZM19.2836 45.5846C17.2676 45.5846 15.6281 43.9451 15.6281 41.9291C15.6281 39.9132 17.2676 38.2736 19.2836 38.2736C21.299 38.2736 22.9391 39.9132 22.9391 41.9291C22.9391 43.9452 21.2996 45.5846 19.2836 45.5846Z" fill="#4B6D13"/>
<path d="M49.1853 13.6916C48.8745 13.0744 48.2428 12.6851 47.5519 12.6851H37.9258V16.3405H46.4247L51.4016 26.2395L54.6684 24.5969L49.1853 13.6916Z" fill="#4B6D13"/>
<path d="M38.779 40.1621H24.9492V43.8176H38.779V40.1621Z" fill="#4B6D13"/>
<path d="M13.7985 40.1621H7.46245C6.45288 40.1621 5.63477 40.9803 5.63477 41.9898C5.63477 42.9994 6.453 43.8175 7.46245 43.8175H13.7986C14.8082 43.8175 15.6263 42.9992 15.6263 41.9898C15.6263 40.9802 14.8081 40.1621 13.7985 40.1621Z" fill="#4B6D13"/>
<path d="M58.0723 28.9886L54.4772 24.3583C54.1318 23.9123 53.5987 23.6516 53.0339 23.6516H39.7524V10.8575C39.7524 9.8479 38.9341 9.02979 37.9247 9.02979H7.46245C6.45288 9.02979 5.63477 9.84802 5.63477 10.8575C5.63477 11.8669 6.453 12.6851 7.46245 12.6851H36.0969V25.4792C36.0969 26.4888 36.9151 27.3069 37.9246 27.3069H52.1389L54.8006 30.7357V40.162H49.7439C48.7343 40.162 47.9162 40.9802 47.9162 41.9896C47.9162 42.9992 48.7344 43.8173 49.7439 43.8173H56.6283C57.6379 43.8173 58.456 42.9991 58.4561 41.9896V30.1096C58.4561 29.7038 58.3209 29.3091 58.0723 28.9886Z" fill="#4B6D13"/>
<path d="M13.6767 30.9014H5.26909C4.25952 30.9014 3.44141 31.7196 3.44141 32.729C3.44141 33.7386 4.25964 34.5567 5.26909 34.5567H13.6766C14.6862 34.5567 15.5043 33.7385 15.5043 32.729C15.5044 31.7196 14.6862 30.9014 13.6767 30.9014Z" fill="#4B6D13"/>
<path d="M17.8814 23.7124H2.28471C1.27526 23.7124 0.457031 24.5306 0.457031 25.5402C0.457031 26.5498 1.27526 27.3679 2.28471 27.3679H17.8814C18.8909 27.3679 19.7091 26.5496 19.7091 25.5402C19.7091 24.5307 18.8909 23.7124 17.8814 23.7124Z" fill="#4B6D13"/>
<path d="M20.8658 16.5234H5.26909C4.25952 16.5234 3.44141 17.3417 3.44141 18.3511C3.44141 19.3607 4.25964 20.1788 5.26909 20.1788H20.8658C21.8753 20.1788 22.6934 19.3606 22.6934 18.3511C22.6936 17.3417 21.8753 16.5234 20.8658 16.5234Z" fill="#4B6D13"/>
</g>
<defs>
<clipPath id="clip0_36_102">
<rect width="58" height="58" fill="white" transform="translate(0.457031 0.134766)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true"
      
      class="g3o5sIpL5a gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHKTgo66Wt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHKTgo66Wt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:500;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:18px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHKTgo66Wt_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gf9Dz4CSrn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gf9Dz4CSrn "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:23px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggf9Dz4CSrn_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6daE4cWuM gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="geFKe1OZr5 ">
      
    
    <div
      uid="geFKe1OZr5"
      data-id="geFKe1OZr5"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--ta:center;--ta-mobile:right;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l);--rg-mobile:8px"
        >
        
    <li
       data-index="0"
       data-id="gmfBfyqxpJ"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-geFKe1OZr5"
      style="--cg:12px;--cg-mobile:6px"
    >
    <div
      enableLazyloadImage="true"
      
      class="gdlbSTJCNl gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gVPcWbxZzY"
    >
      <div 
      data-id="gVPcWbxZzY"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#4B6D13;--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:26px;--h:40px;--h-tablet:40px;--h-mobile:26px;--minw:40px;--minw-tablet:40px;--minw-mobile:26px;--height-desktop:40px;--height-tablet:40px;--height-mobile:26px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817580801327464">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M219.71,117.38a12,12,0,0,0-7.25-8.52L161.28,88.39l10.59-70.61a12,12,0,0,0-20.64-10l-112,120a12,12,0,0,0,4.31,19.33l51.18,20.47L84.13,238.22a12,12,0,0,0,20.64,10l112-120A12,12,0,0,0,219.71,117.38ZM113.6,203.55l6.27-41.77a12,12,0,0,0-7.41-12.92L68.74,131.37,142.4,52.45l-6.27,41.77a12,12,0,0,0,7.41,12.92l43.72,17.49Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true"
      
      class="gvztnK6o9G gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSw4nehAZN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSw4nehAZN "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:500;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:18px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSw4nehAZN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBuzOLNQAu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBuzOLNQAu "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:23px;--lh-tablet:18px;--lh-mobile:14px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBuzOLNQAu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUcXLOIP7K gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="g480fx2oLL ">
      
    
    <div
      uid="g480fx2oLL"
      data-id="g480fx2oLL"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center;--ta-mobile:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l);--rg-mobile:8px"
        >
        
    <li
       data-index="0"
       data-id="gLVVUGGdAd"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-g480fx2oLL"
      style="--cg:12px;--cg-mobile:6px"
    >
    <div
      enableLazyloadImage="true"
      
      class="gt8vwfNU0c gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gkLgTBbfBF"
    >
      <div 
      data-id="gkLgTBbfBF"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#4B6D13;--t:rotate(0deg);--w:48px;--w-tablet:48px;--w-mobile:32px;--h:48px;--h-tablet:48px;--h-mobile:32px;--minw:48px;--minw-tablet:48px;--minw-mobile:32px;--height-desktop:48px;--height-tablet:48px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817641566896488">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M222.72,67.91l-88-48.18a13.9,13.9,0,0,0-13.44,0l-88,48.18A14,14,0,0,0,26,80.18v95.64a14,14,0,0,0,7.28,12.27l88,48.18a13.92,13.92,0,0,0,13.44,0l88-48.18A14,14,0,0,0,230,175.82V80.18A14,14,0,0,0,222.72,67.91ZM127,30.25a2,2,0,0,1,1.92,0L212.51,76,178.57,94.57,94.05,48.31ZM122,223,39,177.57a2,2,0,0,1-1-1.75V86.66l84,46ZM43.49,76,81.56,55.15l84.51,46.26L128,122.24ZM218,175.82a2,2,0,0,1-1,1.75h0L134,223V132.64l36-19.71V152a6,6,0,0,0,12,0V106.37l36-19.71Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true"
      
      class="gLi_ygEC7h gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFWS03aOhm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFWS03aOhm "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:500;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:18px;--lh-tablet:18px;--lh-mobile:15px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFWS03aOhm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNYB80vS_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqNYB80vS_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:23px;--lh-tablet:18px;--lh-mobile:15px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqNYB80vS__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-559424922330334021 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559424894262051653&sectionId=559424922330334021)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHKTgo66Wt_text","label":"ggHKTgo66Wt_text","default":"<p>Delivered quarterly</p>"},{"type":"html","id":"ggf9Dz4CSrn_text","label":"ggf9Dz4CSrn_text","default":"<p>to your drop.</p>"},{"type":"html","id":"ggSw4nehAZN_text","label":"ggSw4nehAZN_text","default":"<p>Fast Return</p>"},{"type":"html","id":"ggBuzOLNQAu_text","label":"ggBuzOLNQAu_text","default":"<p>worry-free</p>"},{"type":"html","id":"ggFWS03aOhm_text","label":"ggFWS03aOhm_text","default":"<p>Free Shipping</p>"},{"type":"html","id":"ggqNYB80vS__text","label":"ggqNYB80vS__text","default":"<p>for every refill.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
