

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559424921575359301.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-559424921575359301.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-559424921575359301.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559424921575359301.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559424921575359301.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559424921575359301.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559424921575359301.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559424921575359301.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559424921575359301.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559424921575359301.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559424921575359301.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559424921575359301.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559424921575359301.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559424921575359301.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-559424921575359301.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559424921575359301.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559424921575359301.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-559424921575359301.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559424921575359301.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-559424921575359301.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559424921575359301.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-559424921575359301.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559424921575359301.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559424921575359301.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-559424921575359301.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559424921575359301.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-559424921575359301.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559424921575359301.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-559424921575359301.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559424921575359301.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559424921575359301.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559424921575359301.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559424921575359301.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-559424921575359301.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559424921575359301.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-559424921575359301.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559424921575359301.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559424921575359301.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559424921575359301.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-559424921575359301.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-559424921575359301.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559424921575359301.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559424921575359301.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-559424921575359301.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-559424921575359301.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559424921575359301.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559424921575359301.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559424921575359301.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559424921575359301.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559424921575359301.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559424921575359301.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559424921575359301.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559424921575359301.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-559424921575359301.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-559424921575359301.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559424921575359301.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-559424921575359301.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-559424921575359301.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559424921575359301.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559424921575359301.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-559424921575359301.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-559424921575359301.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-559424921575359301.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-559424921575359301.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-559424921575359301.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-559424921575359301.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-559424921575359301.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-559424921575359301.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559424921575359301.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559424921575359301.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-559424921575359301.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-559424921575359301.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-559424921575359301.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-559424921575359301.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-559424921575359301.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-559424921575359301.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559424921575359301.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559424921575359301.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-559424921575359301.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-559424921575359301.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-559424921575359301.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-559424921575359301.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-559424921575359301.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-559424921575359301.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-559424921575359301.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-559424921575359301.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559424921575359301.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-559424921575359301.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-559424921575359301.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-559424921575359301.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559424921575359301.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559424921575359301.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559424921575359301.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-559424921575359301.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-559424921575359301.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-559424921575359301.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-559424921575359301.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-559424921575359301.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559424921575359301.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559424921575359301.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559424921575359301.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559424921575359301.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-559424921575359301.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-559424921575359301.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-559424921575359301.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-559424921575359301 .gp-absolute{position:absolute}.gps-559424921575359301 .gp-relative{position:relative}.gps-559424921575359301 .gp-z-1{z-index:1}.gps-559424921575359301 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559424921575359301 .gp-mb-0{margin-bottom:0}.gps-559424921575359301 .gp-flex{display:flex}.gps-559424921575359301 .gp-inline-flex{display:inline-flex}.gps-559424921575359301 .gp-grid{display:grid}.gps-559424921575359301 .gp-contents{display:contents}.gps-559424921575359301 .\!gp-hidden{display:none!important}.gps-559424921575359301 .gp-hidden{display:none}.gps-559424921575359301 .gp-h-full{height:100%}.gps-559424921575359301 .gp-w-full{width:100%}.gps-559424921575359301 .gp-max-w-full{max-width:100%}.gps-559424921575359301 .gp-shrink-0{flex-shrink:0}.gps-559424921575359301 .gp-flex-col{flex-direction:column}.gps-559424921575359301 .gp-items-center{align-items:center}.gps-559424921575359301 .\!gp-justify-center{justify-content:center!important}.gps-559424921575359301 .gp-justify-center{justify-content:center}.gps-559424921575359301 .gp-gap-y-0{row-gap:0}.gps-559424921575359301 .gp-overflow-hidden{overflow:hidden}.gps-559424921575359301 .gp-break-words{overflow-wrap:break-word}.gps-559424921575359301 .gp-rounded-none{border-radius:0}.gps-559424921575359301 .gp-text-left{text-align:left}.gps-559424921575359301 .gp-text-center{text-align:center}.gps-559424921575359301 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-559424921575359301 .gp-no-underline{text-decoration-line:none}.gps-559424921575359301 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559424921575359301 .gp-duration-200{transition-duration:.2s}.gps-559424921575359301 .gp-duration-300{transition-duration:.3s}.gps-559424921575359301 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559424921575359301 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-559424921575359301 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-559424921575359301 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-559424921575359301 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-559424921575359301 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-559424921575359301 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-559424921575359301 .tablet\:gp-relative{position:relative}.gps-559424921575359301 .tablet\:\!gp-hidden{display:none!important}.gps-559424921575359301 .tablet\:gp-hidden{display:none}.gps-559424921575359301 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-559424921575359301 .mobile\:gp-relative{position:relative}.gps-559424921575359301 .mobile\:\!gp-hidden{display:none!important}.gps-559424921575359301 .mobile\:gp-hidden{display:none}.gps-559424921575359301 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-559424921575359301 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-559424921575359301 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-559424921575359301 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-559424921575359301 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-559424921575359301 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-559424921575359301 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-559424921575359301 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-559424921575359301 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-559424921575359301 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-559424921575359301 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559424921575359301 .\[\&_p\]\:gp-inline p{display:inline}.gps-559424921575359301 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-559424921575359301 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-559424921575359301 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gZZ5R3Z1qt" data-id="gZZ5R3Z1qt"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZZ5R3Z1qt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfc35LSNz6 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:760px;--h-tablet:fit-content;--h-mobile:950px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"#00000000","lazyLoad":false,"position":{"x":0,"y":100},"repeat":"no-repeat","size":"contain","type":"color"},"tablet":{"attachment":"scroll","color":"#00000000","lazyLoad":false,"position":{"x":0,"y":100},"repeat":"no-repeat","size":"contain","type":"color"},"mobile":{"attachment":"scroll","color":"#00000000","lazyLoad":false,"position":{"x":0,"y":100},"repeat":"no-repeat","size":"contain","type":"color"}},"uid":"gWUtdIBblQ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gWUtdIBblQ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-tablet:100%;--h:760px;--h-tablet:fit-content;--h-mobile:950px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gWUtdIBblQ"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
        style="--h:760px;--h-tablet:fit-content;--h-mobile:950px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:#00000000;--bgc-tablet:#00000000;--bgc-mobile:#00000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:760px;--h-tablet:fit-content;--h-mobile:950px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#00000000;--bgc-tablet:#00000000;--bgc-mobile:#00000000;--bgp:0% 100%;--bgp-tablet:0% 100%;--bgp-mobile:0% 100%;--bgs:contain;--bgs-tablet:contain;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:25px;--pr:25px;--pt:106px;--pb:76px;--pl-tablet:25px;--pr-tablet:25px;--pt-tablet:106px;--pb-tablet:76px;--pl-mobile:25px;--pr-mobile:25px;--pt-mobile:77px;--pb-mobile:25px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1220px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="g0pCPOc7aQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyIJ3QHFeB">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gyIJ3QHFeB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:38px;--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:512px;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:44px;--size-tablet:43px;--size-mobile:32px;--lh:54px;--lh-tablet:120%;--lh-mobile:130%;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;overflow:hidden"
        >{{ section.settings.ggyIJ3QHFeB_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gQNdHiq2gA" data-id="gQNdHiq2gA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:-1px;--mb:57px;--pl:1px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:395px;--w-tablet:395px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQNdHiq2gA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmvqnWG2Zm gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gBTKSE8ifM ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gBTKSE8ifM"
      data-id="gBTKSE8ifM"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":18,"mobile":16,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:80px;--pr:0px;--mb-mobile:41px;--pr-mobile:0px;--mb-tablet:57px;--pr-tablet:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:18px;--rg-tablet:16px;--rg-mobile:13px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gBTKSE8ifM"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4B6D13;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:22px;--lh-tablet:120%;--lh-mobile:130%;--c:#4B6D13">
                {{ section.settings.ggBTKSE8ifM_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gBTKSE8ifM"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4B6D13;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:22px;--lh-tablet:120%;--lh-mobile:130%;--c:#4B6D13">
                {{ section.settings.ggBTKSE8ifM_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gBTKSE8ifM"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4B6D13;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:22px;--lh-tablet:120%;--lh-mobile:130%;--c:#4B6D13">
                {{ section.settings.ggBTKSE8ifM_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gBTKSE8ifM"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4B6D13;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045514088">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,80.49l-128,128a12,12,0,0,1-17,0l-56-56a12,12,0,1,1,17-17L96,183,215.51,63.51a12,12,0,0,1,17,17Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:22px;--lh-tablet:120%;--lh-mobile:130%;--c:#4B6D13">
                {{ section.settings.ggBTKSE8ifM_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:0px;--mb:23px;--ml-mobile:0px;--mb-mobile:14px;--ml-tablet:0px;--mb-tablet:18px;--ta:left"
    
  >
    <style>
    .gm-Mp6GTWX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gm-Mp6GTWX:hover::before {
      
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gm-Mp6GTWX:hover .gp-button-icon {
      color: undefined;
    }

     .gm-Mp6GTWX .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gm-Mp6GTWX:hover .gp-button-price {
      color: undefined;
    }

    .gm-Mp6GTWX .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gm-Mp6GTWX .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gm-Mp6GTWX:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.vanpowers.com/products/city-vanture" target="_blank" data-id="gm-Mp6GTWX" aria-label="<p>Learn More</p>"
      
      data-state="idle"
      class="gm-Mp6GTWX gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#4B6D13;--bg:#4B6D13;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:41px;--pr:40px;--pt:14px;--pb:14px;--pl-mobile:31px;--pr-mobile:31px;--pt-mobile:12px;--pb-mobile:11px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:16px;--size-mobile:16px;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--lh:35px;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggm-Mp6GTWX_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gm-Mp6GTWX">
        button.gm-Mp6GTWX {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:0px;--ml-mobile:0px;--mb-mobile:0px;--ml-tablet:0px;--mb-tablet:0px;--ta:left"
    
  >
    <style>
    .gzoa0zpmBH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gzoa0zpmBH:hover::before {
      
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gzoa0zpmBH:hover .gp-button-icon {
      color: undefined;
    }

     .gzoa0zpmBH .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gzoa0zpmBH:hover .gp-button-price {
      color: undefined;
    }

    .gzoa0zpmBH .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gzoa0zpmBH .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gzoa0zpmBH:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.vanpowers.com/pages/refurbished-city-vanture?_ab=0&key=1741874011901" target="_blank" data-id="gzoa0zpmBH" aria-label="<p>Refurbished City Vanutre</p>"
      
      data-state="idle"
      class="gzoa0zpmBH gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#4B6D13;--bg:#4B6D13;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:41px;--pr:40px;--pt:14px;--pb:14px;--pl-mobile:31px;--pr-mobile:31px;--pt-mobile:12px;--pb-mobile:11px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:16px;--size-mobile:16px;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--lh:35px;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggzoa0zpmBH_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gzoa0zpmBH">
        button.gzoa0zpmBH {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gAo4iv79fY gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="glcJ1hDKt4"
    role="presentation"
    class="gp-group/image glcJ1hDKt4"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_538962750320149290-2b6d50e5-bfee-4085-aa02-287065245453_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMTgwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_538962750320149290-2b6d50e5-bfee-4085-aa02-287065245453_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMTgwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xODAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE4MDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMTgwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTgwMCIgdG89IjE4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_538962750320149290-2b6d50e5-bfee-4085-aa02-287065245453.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-559424921575359301 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559424894262051653&sectionId=559424921575359301)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyIJ3QHFeB_text","label":"ggyIJ3QHFeB_text","default":"City Vanture"},{"type":"html","id":"ggBTKSE8ifM_childItem_0","label":"ggBTKSE8ifM_childItem_0","default":"<p>Top Speed <strong>20 MPH</strong></p>"},{"type":"html","id":"ggBTKSE8ifM_childItem_1","label":"ggBTKSE8ifM_childItem_1","default":"<p>Long Range <strong>80 miles</strong>(with Extender Battery)</p>"},{"type":"html","id":"ggBTKSE8ifM_childItem_2","label":"ggBTKSE8ifM_childItem_2","default":"<p>Ultra-Lightweight <strong>34.17 lbs</strong></p>"},{"type":"html","id":"ggBTKSE8ifM_childItem_3","label":"ggBTKSE8ifM_childItem_3","default":"<p><strong>350W (Peak 500W) </strong>Hub Motor</p>"},{"type":"html","id":"ggm-Mp6GTWX_label","label":"ggm-Mp6GTWX_label","default":"<p>Learn More</p>"},{"type":"html","id":"ggzoa0zpmBH_label","label":"ggzoa0zpmBH_label","default":"<p>Refurbished City Vanutre</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
