

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555508953081971634.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555508953081971634.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555508953081971634.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555508953081971634.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555508953081971634.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555508953081971634.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555508953081971634.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555508953081971634.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555508953081971634.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555508953081971634.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555508953081971634.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555508953081971634.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555508953081971634.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555508953081971634.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555508953081971634.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555508953081971634.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555508953081971634.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555508953081971634.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555508953081971634.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555508953081971634.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555508953081971634.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555508953081971634.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555508953081971634.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-555508953081971634.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555508953081971634.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555508953081971634.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555508953081971634.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-555508953081971634.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555508953081971634.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555508953081971634.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555508953081971634.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555508953081971634.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555508953081971634.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555508953081971634.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555508953081971634.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555508953081971634.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555508953081971634.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555508953081971634.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555508953081971634.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555508953081971634.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555508953081971634.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-555508953081971634.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555508953081971634.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-555508953081971634.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-555508953081971634.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-555508953081971634.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555508953081971634.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555508953081971634.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-555508953081971634.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555508953081971634.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555508953081971634.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555508953081971634.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555508953081971634.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-555508953081971634.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555508953081971634.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555508953081971634.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-555508953081971634.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-555508953081971634.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555508953081971634.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555508953081971634.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555508953081971634.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555508953081971634.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555508953081971634.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555508953081971634 .gp-relative{position:relative}.gps-555508953081971634 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555508953081971634 .gp-mb-0{margin-bottom:0}.gps-555508953081971634 .gp-flex{display:flex}.gps-555508953081971634 .gp-inline-flex{display:inline-flex}.gps-555508953081971634 .gp-grid{display:grid}.gps-555508953081971634 .\!gp-hidden{display:none!important}.gps-555508953081971634 .gp-hidden{display:none}.gps-555508953081971634 .gp-max-w-full{max-width:100%}.gps-555508953081971634 .gp-flex-col{flex-direction:column}.gps-555508953081971634 .gp-items-center{align-items:center}.gps-555508953081971634 .gp-justify-center{justify-content:center}.gps-555508953081971634 .gp-gap-y-0{row-gap:0}.gps-555508953081971634 .gp-overflow-hidden{overflow:hidden}.gps-555508953081971634 .gp-leading-\[0\]{line-height:0}.gps-555508953081971634 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555508953081971634 .gp-duration-200{transition-duration:.2s}.gps-555508953081971634 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-555508953081971634 .tablet\:\!gp-hidden{display:none!important}.gps-555508953081971634 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555508953081971634 .mobile\:\!gp-hidden{display:none!important}.gps-555508953081971634 .mobile\:gp-hidden{display:none}}.gps-555508953081971634 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-555508953081971634 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-555508953081971634 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-555508953081971634 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-555508953081971634 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555508953081971634 .\[\&_p\]\:gp-inline p{display:inline}.gps-555508953081971634 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-555508953081971634 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="ggFHRSVmdq" data-id="ggFHRSVmdq"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:26px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:var(--g-s-2xl);--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FEFDF8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggFHRSVmdq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2OR3ZN1DI gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gS9ONwr_eu" data-id="gS9ONwr_eu"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS9ONwr_eu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT9jml8NNP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCna9ndnfD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCna9ndnfD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:57px;--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCna9ndnfD_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g6EpHEzGXv" data-id="g6EpHEzGXv"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6EpHEzGXv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRhFy55oXU gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:12px;--mb-mobile:7px;--ta:center"
      class="gp-leading-[0] gcf0Ss3FlU"
    >
      <div 
      data-id="gcf0Ss3FlU"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:36px;--h:40px;--h-tablet:40px;--h-mobile:36px;--minw:40px;--minw-tablet:40px;--minw-mobile:36px;--height-desktop:40px;--height-tablet:40px;--height-mobile:36px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="518233907397657750" xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30" fill="none">
<path d="M29.6673 14.5939L27.4165 9.50146C27.3376 9.32086 27.2081 9.167 27.0436 9.05853C26.8791 8.95007 26.6867 8.89165 26.4896 8.89036H21.0407L21.3666 5.94693C21.3827 5.80404 21.3683 5.65938 21.3244 5.52245C21.2805 5.38553 21.2081 5.25945 21.112 5.15251C21.0168 5.047 20.9005 4.96259 20.7707 4.9047C20.6409 4.84682 20.5005 4.81674 20.3583 4.81641H6.33372C6.0636 4.81641 5.80455 4.92371 5.61354 5.11472C5.42254 5.30572 5.31523 5.56478 5.31523 5.8349C5.31523 6.10502 5.42254 6.36407 5.61354 6.55508C5.80455 6.74608 6.0636 6.85339 6.33372 6.85339H11.4262C11.6963 6.85339 11.9553 6.96069 12.1464 7.15169C12.3374 7.3427 12.4447 7.60175 12.4447 7.87188C12.4447 8.142 12.3374 8.40105 12.1464 8.59206C11.9553 8.78306 11.6963 8.89036 11.4262 8.89036H4.29674C4.02662 8.89036 3.76757 8.99767 3.57656 9.18867C3.38556 9.37968 3.27826 9.63873 3.27826 9.90885C3.27826 10.179 3.38556 10.438 3.57656 10.629C3.76757 10.82 4.02662 10.9273 4.29674 10.9273H14.4816C14.7518 10.9273 15.0108 11.0346 15.2018 11.2257C15.3928 11.4167 15.5001 11.6757 15.5001 11.9458C15.5001 12.216 15.3928 12.475 15.2018 12.666C15.0108 12.857 14.7518 12.9643 14.4816 12.9643H7.35221C7.08209 12.9643 6.82304 13.0716 6.63203 13.2626C6.44103 13.4536 6.33372 13.7127 6.33372 13.9828C6.33372 14.2529 6.44103 14.512 6.63203 14.703C6.82304 14.894 7.08209 15.0013 7.35221 15.0013H11.4262C11.6963 15.0013 11.9553 15.1086 12.1464 15.2996C12.3374 15.4906 12.4447 15.7497 12.4447 16.0198C12.4447 16.2899 12.3374 16.549 12.1464 16.74C11.9553 16.931 11.6963 17.0383 11.4262 17.0383H3.27826C3.00813 17.0383 2.74908 17.1456 2.55807 17.3366C2.36707 17.5276 2.25977 17.7867 2.25977 18.0568C2.25977 18.3269 2.36707 18.5859 2.55807 18.777C2.74908 18.968 3.00813 19.0753 3.27826 19.0753H5.31523C5.58535 19.0753 5.84441 19.1826 6.03542 19.3736C6.22642 19.5646 6.33372 19.8236 6.33372 20.0938C6.33372 20.3639 6.22642 20.6229 6.03542 20.8139C5.84441 21.0049 5.58535 21.1122 5.31523 21.1122H4.29674C4.02662 21.1122 3.76757 21.2195 3.57656 21.4105C3.38556 21.6016 3.27826 21.8606 3.27826 22.1307C3.27826 22.4009 3.38556 22.6599 3.57656 22.8509C3.76757 23.0419 4.02662 23.1492 4.29674 23.1492H7.19944C7.30942 23.5788 7.51873 23.9765 7.81053 24.3103C8.05781 24.5868 8.3608 24.8077 8.6996 24.9587C9.03839 25.1097 9.40531 25.1872 9.77622 25.1862C10.4039 25.1683 11.0122 24.9654 11.525 24.603C12.0378 24.2406 12.4321 23.7349 12.6585 23.1492H20.4398C20.5498 23.5788 20.7591 23.9765 21.0509 24.3103C21.2982 24.5868 21.6012 24.8077 21.94 24.9587C22.2788 25.1097 22.6457 25.1872 23.0166 25.1862C23.6442 25.1683 24.2526 24.9654 24.7654 24.603C25.2781 24.2406 25.6725 23.7349 25.8989 23.1492H27.9359C28.1877 23.1507 28.4311 23.059 28.6192 22.8916C28.8073 22.7242 28.9267 22.493 28.9544 22.2428L29.7386 15.1133C29.7665 14.937 29.7417 14.7562 29.6673 14.5939ZM9.77622 23.1492C9.69176 23.1529 9.60757 23.1374 9.52996 23.1038C9.45235 23.0703 9.38334 23.0197 9.32808 22.9557C9.24813 22.8568 9.18964 22.7423 9.15633 22.6196C9.12301 22.4969 9.1156 22.3685 9.13457 22.2428C9.16058 21.9568 9.28405 21.6885 9.48429 21.4826C9.68453 21.2768 9.9494 21.1461 10.2345 21.1122C10.319 21.1086 10.4032 21.1241 10.4808 21.1576C10.5584 21.1911 10.6274 21.2418 10.6827 21.3058C10.7626 21.4047 10.8211 21.5191 10.8544 21.6419C10.8877 21.7646 10.8952 21.8929 10.8762 22.0187C10.8502 22.3047 10.7267 22.573 10.5265 22.7788C10.3262 22.9846 10.0614 23.1154 9.77622 23.1492ZM23.0166 23.1492C22.9321 23.1529 22.8479 23.1374 22.7703 23.1038C22.6927 23.0703 22.6237 23.0197 22.5684 22.9557C22.4885 22.8568 22.43 22.7423 22.3967 22.6196C22.3634 22.4969 22.356 22.3685 22.3749 22.2428C22.4009 21.9568 22.5244 21.6885 22.7247 21.4826C22.9249 21.2768 23.1898 21.1461 23.4749 21.1122C23.5594 21.1086 23.6435 21.1241 23.7212 21.1576C23.7988 21.1911 23.8678 21.2418 23.923 21.3058C24.003 21.4047 24.0615 21.5191 24.0948 21.6419C24.1281 21.7646 24.1355 21.8929 24.1166 22.0187C24.0905 22.3047 23.9671 22.573 23.7668 22.7788C23.5666 22.9846 23.3017 23.1154 23.0166 23.1492ZM27.5998 16.0198H23.0981C22.9559 16.0195 22.8155 15.9894 22.6857 15.9315C22.5559 15.8736 22.4396 15.7892 22.3444 15.6837C22.2483 15.5767 22.1759 15.4507 22.132 15.3137C22.0881 15.1768 22.0737 15.0322 22.0898 14.8893L22.4259 11.8338C22.4559 11.5854 22.5763 11.3567 22.7642 11.1914C22.952 11.0261 23.1941 10.9357 23.4443 10.9375H25.8174L27.722 15.1643L27.5998 16.0198Z" fill="#242424"/>
<path d="M3.27917 15.0018C3.54929 15.0018 3.80834 14.8945 3.99935 14.7035C4.19035 14.5125 4.29766 14.2535 4.29766 13.9833C4.29766 13.7132 4.19035 13.4542 3.99935 13.2632C3.80834 13.0721 3.54929 12.9648 3.27917 12.9648H2.26068C1.99056 12.9648 1.7315 13.0721 1.5405 13.2632C1.34949 13.4542 1.24219 13.7132 1.24219 13.9833C1.24219 14.2535 1.34949 14.5125 1.5405 14.7035C1.7315 14.8945 1.99056 15.0018 2.26068 15.0018H3.27917Z" fill="#242424"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcLmHeH_V_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gcLmHeH_V_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcLmHeH_V__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gcLmHeH_V_">
        .gcLmHeH_V_ {

}
.gcLmHeH_V_ p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grjU1WTq_n">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="grjU1WTq_n "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:24px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrjU1WTq_n_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-grjU1WTq_n">
        .grjU1WTq_n {

}
.grjU1WTq_n p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd10TfBZFQ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:12px;--mb-mobile:7px;--ta:center"
      class="gp-leading-[0] gayER_U0qU"
    >
      <div 
      data-id="gayER_U0qU"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:36px;--h:40px;--h-tablet:40px;--h-mobile:36px;--minw:40px;--minw-tablet:40px;--minw-mobile:36px;--height-desktop:40px;--height-tablet:40px;--height-mobile:36px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817606065783144">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M230.47,67.5a12,12,0,0,0-19.26-4.32L172.43,99l-12.68-2.72L157,83.57l35.79-38.78a12,12,0,0,0-4.32-19.26A76.07,76.07,0,0,0,88.41,121.64L30.92,174.18a4.68,4.68,0,0,0-.39.38,36,36,0,0,0,50.91,50.91l.38-.39,52.54-57.49A76.05,76.05,0,0,0,230.47,67.5ZM160,148a51.5,51.5,0,0,1-23.35-5.52,12,12,0,0,0-14.26,2.62L64.31,208.66a12,12,0,0,1-17-17l63.55-58.07a12,12,0,0,0,2.62-14.26A51.5,51.5,0,0,1,108,96a52.06,52.06,0,0,1,52-52h.89L135.17,71.87a12,12,0,0,0-2.91,10.65l5.66,26.35a12,12,0,0,0,9.21,9.21l26.35,5.66a12,12,0,0,0,10.65-2.91L212,95.12c0,.3,0,.59,0,.89A52.06,52.06,0,0,1,160,148Z" /></svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1qx8CIAfS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1qx8CIAfS "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1qx8CIAfS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1qx8CIAfS">
        .g1qx8CIAfS {

}
.g1qx8CIAfS p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7UskK9mG-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7UskK9mG- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:24px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7UskK9mG-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7UskK9mG-">
        .g7UskK9mG- {

}
.g7UskK9mG- p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLJXnqtz_V gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:12px;--mb-mobile:7px;--ta:center"
      class="gp-leading-[0] gJfDEoBk1D"
    >
      <div 
      data-id="gJfDEoBk1D"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#242424;--t:rotate(0deg);--w:40px;--w-tablet:40px;--w-mobile:36px;--h:40px;--h-tablet:40px;--h-mobile:36px;--minw:40px;--minw-tablet:40px;--minw-mobile:36px;--height-desktop:40px;--height-tablet:40px;--height-mobile:36px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="517874500256138390" xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
<path d="M11.0938 17.1875C9.25209 17.1875 7.75391 18.6857 7.75391 20.5273V29.582C7.75391 31.4237 9.25209 32.9219 11.0938 32.9219C12.9354 32.9219 14.4336 31.4237 14.4336 29.582V20.5273C14.4336 18.6857 12.9354 17.1875 11.0938 17.1875Z" fill="#242424"/>
<path d="M5.52734 20.5275C5.52734 20.2064 5.56972 19.8961 5.6222 19.5898C4.28047 20.0235 3.30078 21.2698 3.30078 22.7541V27.3556C3.30078 28.8399 4.28047 30.0862 5.6222 30.5199C5.56972 30.2136 5.52734 29.9034 5.52734 29.5822V20.5275Z" fill="#242424"/>
<path d="M28.9062 17.1875C27.0646 17.1875 25.5664 18.6857 25.5664 20.5273V29.582C25.5664 31.4237 27.0646 32.9219 28.9062 32.9219C29.241 32.9219 29.558 32.8575 29.8631 32.7654C29.4486 34.1391 28.1867 35.1484 26.6797 35.1484H23.1348C22.6737 33.8554 21.4495 32.9219 20 32.9219C18.1583 32.9219 16.6602 34.4201 16.6602 36.2617C16.6602 38.1034 18.1583 39.6016 20 39.6016C21.4495 39.6016 22.6737 38.668 23.1348 37.375H26.6797C29.7489 37.375 32.2461 34.8778 32.2461 31.8086V29.582V20.5273C32.2461 18.6857 30.7479 17.1875 28.9062 17.1875Z" fill="#242424"/>
<path d="M34.3789 19.5898C34.4314 19.8961 34.4738 20.2064 34.4738 20.5275V29.5822C34.4738 29.9034 34.4314 30.2136 34.3789 30.5199C35.7206 30.0862 36.7003 28.8399 36.7003 27.3556V22.7541C36.7003 21.2698 35.7206 20.0235 34.3789 19.5898Z" fill="#242424"/>
<path d="M20 1.60156C10.7915 1.60156 3.30078 9.09231 3.30078 18.3008V18.3292C3.96407 17.827 4.7315 17.4596 5.57833 17.295C6.09868 9.78426 12.3595 3.82813 20 3.82813C27.6405 3.82813 33.9013 9.78426 34.4217 17.295C35.2684 17.4595 36.0359 17.827 36.6992 18.3291V18.3008C36.6992 9.09231 29.2085 1.60156 20 1.60156Z" fill="#242424"/>
</svg></span>
    </div>
      </div>
    </div>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKPr0kihtM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gKPr0kihtM "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKPr0kihtM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gKPr0kihtM">
        .gKPr0kihtM {

}
.gKPr0kihtM p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g809sqNBkH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g809sqNBkH "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg809sqNBkH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g809sqNBkH">
        .g809sqNBkH {

}
.g809sqNBkH p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-555508953081971634 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555508919728866547&sectionId=555508953081971634)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCna9ndnfD_text","label":"ggCna9ndnfD_text","default":"&nbsp;Vanpowers Guarantee"},{"type":"html","id":"ggcLmHeH_V__text","label":"ggcLmHeH_V__text","default":"<p>Lightning Fast &amp; Free Shipping</p>"},{"type":"html","id":"ggrjU1WTq_n_text","label":"ggrjU1WTq_n_text","default":"<p>Enjoy fast, free shipping on all your orders, ensuring your e-bike arrives quickly and at no extra cost.</p>"},{"type":"html","id":"gg1qx8CIAfS_text","label":"gg1qx8CIAfS_text","default":"<p>Up To 6-Year Warranty</p>"},{"type":"html","id":"gg7UskK9mG-_text","label":"gg7UskK9mG-_text","default":"<p>Ride with confidence with our up to 6-year warranty, covering your e-bike for years of worry-free use.</p>"},{"type":"html","id":"ggKPr0kihtM_text","label":"ggKPr0kihtM_text","default":"<p>Hassle-Free After Sale</p>"},{"type":"html","id":"gg809sqNBkH_text","label":"gg809sqNBkH_text","default":"<p>Experience a smooth, hassle-free buying process with easy returns and dedicated customer support.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
