

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555508952511546290.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-555508952511546290.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-555508952511546290.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555508952511546290.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555508952511546290.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555508952511546290.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555508952511546290.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555508952511546290.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555508952511546290.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555508952511546290.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555508952511546290.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555508952511546290.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555508952511546290.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555508952511546290.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555508952511546290.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555508952511546290.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555508952511546290.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555508952511546290.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555508952511546290.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555508952511546290.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555508952511546290.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555508952511546290.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555508952511546290.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555508952511546290.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555508952511546290.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555508952511546290.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555508952511546290.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555508952511546290.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555508952511546290.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555508952511546290.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555508952511546290.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-555508952511546290.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555508952511546290.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555508952511546290.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555508952511546290.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-555508952511546290.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555508952511546290.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555508952511546290.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555508952511546290.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555508952511546290.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555508952511546290.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555508952511546290.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555508952511546290.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555508952511546290.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-555508952511546290.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-555508952511546290.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555508952511546290.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-555508952511546290.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555508952511546290.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555508952511546290.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555508952511546290.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-555508952511546290.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-555508952511546290.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555508952511546290.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555508952511546290.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-555508952511546290.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-555508952511546290.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-555508952511546290.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555508952511546290.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555508952511546290.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-555508952511546290.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-555508952511546290.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-555508952511546290.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555508952511546290.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555508952511546290.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-555508952511546290.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-555508952511546290.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555508952511546290.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555508952511546290.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555508952511546290.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555508952511546290.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-555508952511546290.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-555508952511546290.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555508952511546290.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555508952511546290.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555508952511546290.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555508952511546290.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-555508952511546290.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-555508952511546290.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555508952511546290.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555508952511546290 .-gp-translate-x-1\/2,.gps-555508952511546290 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-555508952511546290 .gp-absolute{position:absolute}.gps-555508952511546290 .gp-relative{position:relative}.gps-555508952511546290 .gp-left-0{left:0}.gps-555508952511546290 .gp-left-1\/2{left:50%}.gps-555508952511546290 .gp-top-0{top:0}.gps-555508952511546290 .gp-top-1\/2{top:50%}.gps-555508952511546290 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555508952511546290 .gp-mb-0{margin-bottom:0}.gps-555508952511546290 .gp-flex{display:flex}.gps-555508952511546290 .gp-inline-flex{display:inline-flex}.gps-555508952511546290 .gp-grid{display:grid}.gps-555508952511546290 .\!gp-hidden{display:none!important}.gps-555508952511546290 .gp-hidden{display:none}.gps-555508952511546290 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-555508952511546290 .gp-h-full{height:100%}.gps-555508952511546290 .gp-w-14{width:56px}.gps-555508952511546290 .gp-w-5{width:20px}.gps-555508952511546290 .gp-w-full{width:100%}.gps-555508952511546290 .\!gp-max-w-none{max-width:none!important}.gps-555508952511546290 .gp-max-w-full{max-width:100%}.gps-555508952511546290 .gp-shrink-0{flex-shrink:0}.gps-555508952511546290 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-555508952511546290 .-gp-translate-x-1\/2,.gps-555508952511546290 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-555508952511546290 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-555508952511546290 .gp-flex-col{flex-direction:column}.gps-555508952511546290 .gp-items-center{align-items:center}.gps-555508952511546290 .gp-justify-center{justify-content:center}.gps-555508952511546290 .gp-gap-y-0{row-gap:0}.gps-555508952511546290 .gp-overflow-hidden{overflow:hidden}.gps-555508952511546290 .gp-rounded{border-radius:4px}.gps-555508952511546290 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-555508952511546290 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-555508952511546290 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-555508952511546290 .gp-text-left{text-align:left}.gps-555508952511546290 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-555508952511546290 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555508952511546290 .gp-duration-200{transition-duration:.2s}.gps-555508952511546290 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-555508952511546290 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-555508952511546290 .tablet\:\!gp-hidden{display:none!important}.gps-555508952511546290 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555508952511546290 .mobile\:\!gp-hidden{display:none!important}.gps-555508952511546290 .mobile\:gp-hidden{display:none}}.gps-555508952511546290 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-555508952511546290 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-555508952511546290 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-555508952511546290 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-555508952511546290 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-555508952511546290 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-555508952511546290 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555508952511546290 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-555508952511546290 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-555508952511546290 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-555508952511546290 .\[\&_p\]\:gp-inline p{display:inline}.gps-555508952511546290 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-555508952511546290 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g8FMgn2stO" data-id="g8FMgn2stO"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FEFDF8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8FMgn2stO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsOOGouCm9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g1uOh_rzS0" data-id="g1uOh_rzS0"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1uOh_rzS0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmvTOUH_LR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gu0VgtlFs_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gu0VgtlFs_ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:16px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggu0VgtlFs__text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyrcZkpcO0">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gyrcZkpcO0 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:32px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyrcZkpcO0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gyrcZkpcO0">
        .gyrcZkpcO0 {

}
.gyrcZkpcO0 p {

}
      </style>
    
    <div
      
      data-id="gXH3LUV-YR"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gXH3LUV-YR"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--aspect:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gXH3LUV-YR"
      class=" gp-w-full lazy"
      style="--aspect:auto"
      controls
      
      muted
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/9d345064c7c2496d8b2a7dbe68519b09.mp4"
      src=""
      poster="{{ 'gempages_538962750320149290-e0ee9694-8a77-48c8-a960-36abedd803fa.jpg' | file_url }}"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/9d345064c7c2496d8b2a7dbe68519b09.mp4" src="" type="video/mp4"></source>
  </video>
    <div
      style="--aspect:auto"
      class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
    >
      <img
        id="video-thumbnail"
        src="{{ 'gempages_538962750320149290-e0ee9694-8a77-48c8-a960-36abedd803fa.jpg' | file_url }}"
        class="gp-w-full gp-h-full gp-object-cover"
        alt="Video Thumbnail"
      ></img>
      <button
        type="button"
        class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
        aria-label="Play"
      >
        <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
          />
        </svg>
      </button>
    </div>
    </gp-lite-html5-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      <style id="custom-css-gXH3LUV-YR">
        .gXH3LUV-YR[data-component-label="Video"] {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gZQKmcMqwA" data-id="gZQKmcMqwA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:32px;--mt-mobile:21px;--mt-tablet:32px;--cg:30px;--cg-tablet:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZQKmcMqwA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxYk8MpU3v gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="geWTsfsuAd ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="geWTsfsuAd"
      data-id="geWTsfsuAd"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":73,"mobile":45,"tablet":73}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb-mobile:21px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-geWTsfsuAd"
            style="--cg:30px;--cg-tablet:30px;--cg-mobile:21px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:73px;--size-tablet:73px;--size-mobile:45px"
              >
               <svg data-id="517933418734945430" xmlns="http://www.w3.org/2000/svg" width="73" height="74" viewBox="0 0 73 74" fill="none">
<circle cx="36.5" cy="37.1016" r="36.5" fill="#FF8852"/>
<path d="M49.1108 37.4944L55.63 35.1283C56.1233 34.9493 56.1233 34.2523 55.63 34.0733L49.1108 31.7072C46.2194 30.658 43.9435 28.3807 42.8943 25.4907L40.5282 18.9715C40.3492 18.4782 39.6522 18.4782 39.4732 18.9715L37.1071 25.4907C36.0579 28.3821 33.7806 30.658 30.8906 31.7072L24.37 34.0748C23.8767 34.2538 23.8767 34.9508 24.37 35.1298L30.8892 37.4959C33.7806 38.5451 36.0565 40.8224 37.1057 43.7124L39.4718 50.2316C39.6508 50.7249 40.3478 50.7249 40.5268 50.2316L42.8929 43.7124C43.9421 40.821 46.2194 38.5451 49.1094 37.4959L49.1108 37.4944Z" fill="#242424"/>
<path d="M27.986 50.8672L30.8381 49.832C31.054 49.7537 31.054 49.4488 30.8381 49.3705L27.986 48.3353C26.721 47.8763 25.7253 46.8799 25.2663 45.6156L24.2311 42.7634C24.1528 42.5476 23.8478 42.5476 23.7695 42.7634L22.7344 45.6156C22.2753 46.8806 21.279 47.8763 20.0146 48.3353L17.1619 49.3711C16.946 49.4494 16.946 49.7544 17.1619 49.8327L20.014 50.8678C21.279 51.3269 22.2747 52.3232 22.7337 53.5876L23.7689 56.4397C23.8472 56.6555 24.1522 56.6555 24.2305 56.4397L25.2656 53.5876C25.7247 52.3226 26.721 51.3269 27.9854 50.8678L27.986 50.8672Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:20px;--c:#242424">
                {{ section.settings.ggeWTsfsuAd_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8EINZSaPe gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gqMZoI7g_h ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gqMZoI7g_h"
      data-id="gqMZoI7g_h"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":73,"mobile":45,"tablet":73}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pr:36px;--mb-mobile:21px;--pr-tablet:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gqMZoI7g_h"
            style="--cg:30px;--cg-tablet:30px;--cg-mobile:20px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:73px;--size-tablet:73px;--size-mobile:45px"
              >
               <svg data-id="517933436753675414" xmlns="http://www.w3.org/2000/svg" width="73" height="74" viewBox="0 0 73 74" fill="none">
<circle cx="36.5" cy="37.1016" r="36.5" fill="#FF8852"/>
<path d="M46.7637 33.2463C43.3672 33.2075 40.3083 34.5688 38.1975 36.7547C40.965 37.1599 43.2041 38.403 44.1686 40.0246C40.656 37.8144 36.8514 37.7753 32.4556 40.4901C31.4554 41.1077 28.771 43.5021 28.7919 43.3852C31.0582 30.6554 33.5366 26.7288 33.5366 26.7288C35.561 27.4038 37.782 27.3346 39.7545 26.5355L40.4003 26.2738L44.1451 26.6717C44.1655 26.6717 44.1873 26.6713 44.2104 26.6702C45.5008 26.6062 46.0379 25.0756 45.0729 24.2673L44.568 23.8442C44.568 23.8442 45.7204 23.0795 45.7761 22.6754C45.9476 21.4323 43.9118 19.5639 43.0314 18.3772C42.5101 17.6744 41.5378 17.411 40.6991 17.7458C37.7668 18.9166 30.8616 20.5448 29.5816 22.0524C23.3499 29.3938 16.1173 37.6243 15.0048 51.3528C14.9517 52.0092 15.3423 52.627 15.9774 52.9034C15.9774 52.9034 21.3264 55.1615 23.13 55.638C32.1816 58.0284 37.163 55.3482 43.7073 54.2894C43.9063 54.2573 44.6503 54.3151 45.7019 54.4268C52.2592 55.1227 58 50.2922 58 44.0858C58 38.2047 53.0165 33.3175 46.7637 33.2461V33.2463Z" fill="#1C1C1C"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:20px;--c:#242424">
                {{ section.settings.ggqMZoI7g_h_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goL75H2fx5 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="g5d2Oh-9eV ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g5d2Oh-9eV"
      data-id="g5d2Oh-9eV"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":73,"mobile":45,"tablet":73}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g5d2Oh-9eV"
            style="--cg:30px;--cg-tablet:30px;--cg-mobile:21px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:73px;--size-tablet:73px;--size-mobile:45px"
              >
               <svg data-id="517933428700611734" xmlns="http://www.w3.org/2000/svg" width="73" height="74" viewBox="0 0 73 74" fill="none">
<circle cx="36.5" cy="37.1016" r="36.5" fill="#FF8852"/>
<path d="M33.594 49.5169C33.594 49.5169 24.7833 22.5149 63.0002 23.6355C63.0002 23.6355 60.6434 26.8847 58.7915 32.8227C56.9395 38.7608 54.5827 52.3735 37.5225 51.365C37.5225 51.365 37.3544 38.7608 49.9807 30.6378C49.9807 30.6378 35.9229 35.0634 34.5764 56.6591H32.2852C32.2852 56.6591 32.8088 50.712 33.5946 49.5169H33.594Z" fill="#242424"/>
<path d="M33.0754 33.4319V33.4332C33.0754 33.4332 31.3115 36.2044 30.9377 41.0951C27.5396 31.5499 20.5183 29.256 20.3812 29.2118C30.4456 35.6877 30.3115 45.7357 30.3115 45.7357C16.7106 46.5395 14.8314 35.6865 13.355 30.9527C11.8781 26.2188 10 23.6287 10 23.6287C25.0614 23.1865 30.9607 28.2244 33.0754 33.4319Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:20px;--c:#242424">
                {{ section.settings.gg5d2Oh-9eV_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-555508952511546290 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555508919728866547&sectionId=555508952511546290)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggu0VgtlFs__text","label":"ggu0VgtlFs__text","default":"<span style=\"font-size:28px;\">Cycanon Riders' Experiences</span>"},{"type":"html","id":"ggyrcZkpcO0_text","label":"ggyrcZkpcO0_text","default":"<p><span style=\"font-size:18px;\">An E-Bike for Everyone - Perfect for All Ages and Genders</span></p>"},{"type":"html","id":"ggeWTsfsuAd_childItem_0","label":"ggeWTsfsuAd_childItem_0","default":"<p><span style=\"font-size:15px;\">Smooth and Comfortable</span></p>"},{"type":"html","id":"ggqMZoI7g_h_childItem_0","label":"ggqMZoI7g_h_childItem_0","default":"<p><span style=\"font-size:15px;\">Health Benefits of Cycling</span></p>"},{"type":"html","id":"gg5d2Oh-9eV_childItem_0","label":"gg5d2Oh-9eV_childItem_0","default":"<p><span style=\"font-size:15px;\">Eco-Friendly Transportation</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
