

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548276979556680584.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548276979556680584.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-548276979556680584.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548276979556680584.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548276979556680584.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-548276979556680584.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548276979556680584.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548276979556680584.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548276979556680584.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548276979556680584.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548276979556680584.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-548276979556680584.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548276979556680584.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-548276979556680584.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-548276979556680584.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548276979556680584.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-548276979556680584.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548276979556680584.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-548276979556680584.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548276979556680584.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548276979556680584.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-548276979556680584.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548276979556680584.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-548276979556680584.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548276979556680584.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-548276979556680584.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548276979556680584.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548276979556680584.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548276979556680584.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548276979556680584.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548276979556680584.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548276979556680584.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548276979556680584.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548276979556680584.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548276979556680584.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548276979556680584.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548276979556680584.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548276979556680584.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548276979556680584.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548276979556680584.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548276979556680584.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-548276979556680584.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-548276979556680584.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548276979556680584.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548276979556680584.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548276979556680584.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548276979556680584.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-548276979556680584.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-548276979556680584.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548276979556680584.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548276979556680584.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548276979556680584.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548276979556680584.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-548276979556680584.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-548276979556680584 .-gp-rotate-90,.gps-548276979556680584 .gp-rotate-180,.gps-548276979556680584 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-548276979556680584 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-548276979556680584 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-548276979556680584 .gp-relative{position:relative}.gps-548276979556680584 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548276979556680584 .gp-mb-0{margin-bottom:0}.gps-548276979556680584 .gp-flex{display:flex}.gps-548276979556680584 .gp-inline-flex{display:inline-flex}.gps-548276979556680584 .gp-grid{display:grid}.gps-548276979556680584 .\!gp-hidden{display:none!important}.gps-548276979556680584 .gp-hidden{display:none}.gps-548276979556680584 .gp-min-h-0{min-height:0}.gps-548276979556680584 .gp-w-full{width:100%}.gps-548276979556680584 .gp-max-w-full{max-width:100%}.gps-548276979556680584 .-gp-rotate-90{--tw-rotate:-90deg}.gps-548276979556680584 .-gp-rotate-90,.gps-548276979556680584 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-548276979556680584 .gp-rotate-180{--tw-rotate:180deg}.gps-548276979556680584 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-548276979556680584 .gp-cursor-pointer{cursor:pointer}.gps-548276979556680584 .gp-flex-col{flex-direction:column}.gps-548276979556680584 .gp-items-center{align-items:center}.gps-548276979556680584 .gp-justify-center{justify-content:center}.gps-548276979556680584 .gp-gap-y-0{row-gap:0}.gps-548276979556680584 .gp-overflow-hidden{overflow:hidden}.gps-548276979556680584 .gp-overflow-clip{overflow:clip}.gps-548276979556680584 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548276979556680584 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548276979556680584 .gp-duration-200{transition-duration:.2s}.gps-548276979556680584 .gp-duration-500{transition-duration:.5s}.gps-548276979556680584 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-548276979556680584 .tablet\:\!gp-hidden{display:none!important}.gps-548276979556680584 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-548276979556680584 .mobile\:\!gp-hidden{display:none!important}.gps-548276979556680584 .mobile\:gp-hidden{display:none}}.gps-548276979556680584 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-548276979556680584 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-548276979556680584 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548276979556680584 .\[\&_p\]\:gp-inline p{display:inline}.gps-548276979556680584 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548276979556680584 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gm6zA3ITN6" data-id="gm6zA3ITN6"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm6zA3ITN6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBE09n61T2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUpp9Q0taB">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUpp9Q0taB "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--size:37px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUpp9Q0taB_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="g36165tVQr ">
      
    <gp-accordion
      data-id="g36165tVQr"
     uid="g36165tVQr"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"g36165tVQr","childListNumber":["0"],"chidlrenUid":["gWCH4VzUe4","gIJG19A8jN","gWowoGuXP6"]},"styles":{"bgColor":{"normal":"transparent","hover":"transparent","active":"transparent"},"color":{"normal":"#121212","hover":"#121212","active":"#121212"},"headerBorder":{"normal":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"},"hover":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"},"active":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"}},"textColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"iconColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"contentSizePadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"},"gap":"16px"}},"headerContentPadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"g36165tVQr"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g36165tVQr-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g36165tVQr-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-g36165tVQr-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g36165tVQr-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="g36165tVQr gp-accordion-item gp-overflow-hidden gp-child-item-g36165tVQr"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gWCH4VzUe4"
        id="gWCH4VzUe4"
        data-index="0"
        class="g36165tVQr gp-accordion-item-g36165tVQr-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--bs:solid;--bw:0px 0px 1px 0px;--bc:#121212;--c:#121212"
      >
       <style class="accordion-style">.g36165tVQr.gp-accordion-item-g36165tVQr-0:hover .gp-collapsible-icon, .g36165tVQr.gp-accordion-item-g36165tVQr-0:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;width:16px;height:16px"
            data-index="0"
            class="g36165tVQr gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z"></path></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg36165tVQr_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gWCH4VzUe4"
        data-index="0"
        data-show="true"
        class="g36165tVQr gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gWCH4VzUe4"
        data-index="0"
        class="g36165tVQr gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:8px;--pb:8px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="gfu9AoJEew gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKAXI4SNyS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gKAXI4SNyS "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKAXI4SNyS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g36165tVQr-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g36165tVQr-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-g36165tVQr-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g36165tVQr-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="g36165tVQr gp-accordion-item gp-overflow-hidden gp-child-item-g36165tVQr"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gIJG19A8jN"
        id="gIJG19A8jN"
        data-index="1"
        class="g36165tVQr gp-accordion-item-g36165tVQr-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.g36165tVQr.gp-accordion-item-g36165tVQr-1:hover .gp-collapsible-icon, .g36165tVQr.gp-accordion-item-g36165tVQr-1:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;--hvr-c:#121212;width:16px;height:16px"
            data-index="1"
            class="g36165tVQr gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg36165tVQr_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gIJG19A8jN"
        data-index="1"
        data-show="false"
        class="g36165tVQr gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gIJG19A8jN"
        data-index="1"
        class="g36165tVQr gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="goZ-EOVdSE gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWSSA6S4Hm">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWSSA6S4Hm "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWSSA6S4Hm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g36165tVQr-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g36165tVQr-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-g36165tVQr-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g36165tVQr-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="g36165tVQr gp-accordion-item gp-overflow-hidden gp-child-item-g36165tVQr"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gWowoGuXP6"
        id="gWowoGuXP6"
        data-index="2"
        class="g36165tVQr gp-accordion-item-g36165tVQr-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.g36165tVQr.gp-accordion-item-g36165tVQr-2:hover .gp-collapsible-icon, .g36165tVQr.gp-accordion-item-g36165tVQr-2:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;--hvr-c:#121212;width:16px;height:16px"
            data-index="2"
            class="g36165tVQr gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg36165tVQr_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gWowoGuXP6"
        data-index="2"
        data-show="false"
        class="g36165tVQr gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gWowoGuXP6"
        data-index="2"
        class="g36165tVQr gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="grDNNvZ88d gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOSMo0qCT9">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gOSMo0qCT9 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOSMo0qCT9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="g3joy8v52F ">
      
    <gp-accordion
      data-id="g3joy8v52F"
     uid="g3joy8v52F"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"g3joy8v52F","childListNumber":["0"],"chidlrenUid":["gyGqNdaM3r","g9JjO4VS8m","gOalGqRNbu"]},"styles":{"bgColor":{"normal":"transparent","hover":"transparent","active":"transparent"},"color":{"normal":"#121212","hover":"#121212","active":"#121212"},"headerBorder":{"normal":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"},"hover":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"},"active":{"border":"solid","width":"0px 0px 1px 0px","position":"bottom","color":"#121212","isCustom":true,"borderWidth":"Mixed"}},"textColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"iconColor":{"normal":"#121212","hover":"#121212","active":"#121212"},"contentSizePadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"},"gap":"16px"}},"headerContentPadding":{"desktop":{"padding":{"type":"medium","top":"8px","left":"24px","bottom":"8px","right":"24px"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"g3joy8v52F"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g3joy8v52F-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g3joy8v52F-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-g3joy8v52F-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g3joy8v52F-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="g3joy8v52F gp-accordion-item gp-overflow-hidden gp-child-item-g3joy8v52F"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gyGqNdaM3r"
        id="gyGqNdaM3r"
        data-index="0"
        class="g3joy8v52F gp-accordion-item-g3joy8v52F-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--bs:solid;--bw:0px 0px 1px 0px;--bc:#121212;--c:#121212"
      >
       <style class="accordion-style">.g3joy8v52F.gp-accordion-item-g3joy8v52F-0:hover .gp-collapsible-icon, .g3joy8v52F.gp-accordion-item-g3joy8v52F-0:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;width:16px;height:16px"
            data-index="0"
            class="g3joy8v52F gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z"></path></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3joy8v52F_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gyGqNdaM3r"
        data-index="0"
        data-show="true"
        class="g3joy8v52F gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gyGqNdaM3r"
        data-index="0"
        class="g3joy8v52F gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:8px;--pb:8px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="gQ0ABQuFdo gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gv44WGSqEN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gv44WGSqEN "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggv44WGSqEN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g3joy8v52F-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g3joy8v52F-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-g3joy8v52F-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g3joy8v52F-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="g3joy8v52F gp-accordion-item gp-overflow-hidden gp-child-item-g3joy8v52F"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g9JjO4VS8m"
        id="g9JjO4VS8m"
        data-index="1"
        class="g3joy8v52F gp-accordion-item-g3joy8v52F-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.g3joy8v52F.gp-accordion-item-g3joy8v52F-1:hover .gp-collapsible-icon, .g3joy8v52F.gp-accordion-item-g3joy8v52F-1:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;--hvr-c:#121212;width:16px;height:16px"
            data-index="1"
            class="g3joy8v52F gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3joy8v52F_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g9JjO4VS8m"
        data-index="1"
        data-show="false"
        class="g3joy8v52F gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g9JjO4VS8m"
        data-index="1"
        class="g3joy8v52F gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="g_rAR1vVYQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5OStV9oEV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g5OStV9oEV "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5OStV9oEV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-g3joy8v52F-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-g3joy8v52F-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #121212 !important
      }
    .gp-accordion-item .gp-accordion-item-g3joy8v52F-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-g3joy8v52F-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="g3joy8v52F gp-accordion-item gp-overflow-hidden gp-child-item-g3joy8v52F"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gOalGqRNbu"
        id="gOalGqRNbu"
        data-index="2"
        class="g3joy8v52F gp-accordion-item-g3joy8v52F-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--hvr-bgc:transparent;--c:#121212;--hvr-c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.g3joy8v52F.gp-accordion-item-g3joy8v52F-2:hover .gp-collapsible-icon, .g3joy8v52F.gp-accordion-item-g3joy8v52F-2:hover .gp-icon {
                  color: #121212
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;--hvr-c:#121212;width:16px;height:16px"
            data-index="2"
            class="g3joy8v52F gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden gp-g-paragraph-1"
          style="--w:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3joy8v52F_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gOalGqRNbu"
        data-index="2"
        data-show="false"
        class="g3joy8v52F gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gOalGqRNbu"
        data-index="2"
        class="g3joy8v52F gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      
      class="ga3xK8Hosl gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4i8KC6BIL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4i8KC6BIL "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4i8KC6BIL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-548276979556680584 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/vanpowers-bike/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=548122004570506187&sectionId=548276979556680584)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUpp9Q0taB_text","label":"ggUpp9Q0taB_text","default":"FAQs"},{"type":"html","id":"gg36165tVQr_childItem_0","label":"gg36165tVQr_childItem_0","default":"<p>1. Commission &amp; Payment</p>"},{"type":"html","id":"gg36165tVQr_childItem_1","label":"gg36165tVQr_childItem_1","default":"<p>2. Partnership Requirements &amp; Rules</p>"},{"type":"html","id":"gg36165tVQr_childItem_2","label":"gg36165tVQr_childItem_2","default":"<p>3. Promotional Support</p>"},{"type":"html","id":"ggKAXI4SNyS_text","label":"ggKAXI4SNyS_text","default":"<p><strong>Q: What is your commission rate?</strong><br>A: We offer a <strong>8%-20%</strong> commission, depending on the promotion channel and performance.</p><p><strong>Q: How is the commission calculated?</strong><br>A: Commissions are based on the sales amount of valid orders, excluding taxes and shipping fees.</p><p><strong>Q: When and how is the commission paid?</strong><br>A: We typically <strong>pay commissions monthly</strong> via <strong>bank transfer or PayPal</strong>, depending on the affiliate platform’s payment policies.</p>"},{"type":"html","id":"ggWSSA6S4Hm_text","label":"ggWSSA6S4Hm_text","default":"<p><strong>Q: What are the requirements to join your affiliate program?</strong><br>A: Anyone with relevant traffic sources, including websites, blogs, social media accounts, coupon/cashback sites, or content creators, can apply. We review applications to ensure a good match.</p><p><strong>Q: Can I use paid ads to promote your products?</strong><br>A: Yes, but <strong>bidding on our brand keywords is strictly prohibited</strong>. Please contact us for detailed advertising guidelines.</p>"},{"type":"html","id":"ggOSMo0qCT9_text","label":"ggOSMo0qCT9_text","default":"<p><strong>Q: What marketing materials do you provide?</strong><br>A: We provide <strong>banners, promotional videos, product images, tracking links, and discount coupons</strong> to make promotion easy.</p><p><strong>Q: Do you offer exclusive discounts or special deals?</strong><br>A: Yes, we can provide <strong>exclusive discount codes</strong> for top-performing affiliates to boost conversions.</p>"},{"type":"html","id":"gg3joy8v52F_childItem_0","label":"gg3joy8v52F_childItem_0","default":"<p>4. Tracking &amp; Orders</p>"},{"type":"html","id":"gg3joy8v52F_childItem_1","label":"gg3joy8v52F_childItem_1","default":"<p>5. Program Rules</p>"},{"type":"html","id":"gg3joy8v52F_childItem_2","label":"gg3joy8v52F_childItem_2","default":"<p>6. Application Process</p>"},{"type":"html","id":"ggv44WGSqEN_text","label":"ggv44WGSqEN_text","default":"<p><strong>Q: How are orders tracked?</strong><br>A: You can track clicks, conversions, and commissions in real time through our affiliate platform.</p><p><strong>Q: How long does the cookie tracking last?</strong><br>A: Our standard cookie tracking period is <strong>30 days</strong>. If a visitor clicks your affiliate link and places an order within <strong>30 days</strong>, you will earn a commission.</p>"},{"type":"html","id":"gg5OStV9oEV_text","label":"gg5OStV9oEV_text","default":"<p><strong>Q: Are there any restrictions on promotions?</strong><br>A: Affiliates must comply with our program policies. <strong>Trademark bidding, spam, and misleading promotions</strong> are strictly prohibited. For a full list of rules, please contact us.</p><p><strong>Q: Can I promote through social media?</strong><br>A: Yes! You can share your affiliate link on your social media accounts, including Instagram, Facebook, YouTube, and more.</p>"},{"type":"html","id":"gg4i8KC6BIL_text","label":"gg4i8KC6BIL_text","default":"<p><strong>Q: How can I apply?</strong><br>A: Click <a href=\"https://af.uppromote.com/vanpowers-bike/register\"><i><u>[Application Link]</u></i></a> to submit your details. We will review your application and respond within <strong>2-3 business days</strong>.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
