<style>
    #hnz-bottom-banner {
        background: url('{{ section.settings.background_image | img_url: "master" }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<section id="hnz-bottom-banner">
    <div class="container section-content h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-8 col-md-12 col-sm-12 mx-auto text-center">

                {% if template == 'page.support' %}
                    <h2 class="title sm mb-4">
                        {{ section.settings.title }}
                    </h2>
                {% else %}
                    <h2 class="title mb-4">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}

                {% if section.settings.body != blank %}
                    <p class="body">
                        {{ section.settings.body | newline_to_br }}
                    </p>
                {% endif %}

                {% if template == 'page.support' %}
                    <a class="btn btn-white openTidio" href="javascript:void(0)">
                        {{ section.settings.button_text }}
                    </a>
                {% else %}
                    <a class="btn btn-white" href="{{ section.settings.button_url }}">
                        {{ section.settings.button_text }}
                    </a>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Bottom Banner",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "body",
                "label": "Body"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button URL"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
            }
        ]
    }
{% endschema %}