<section id={{section.id}} class="search-section">
    <div class="container container-panel">
        <div class="row">
            <div class="col-xl-12">
                <div class="search-container d-table mx-auto w-100">
                    {% paginate search.results by 8 %}
                        {% if search.performed %}
                            
                            <div class="search-form d-table mx-auto mt-4">
                                <form action="{{ routes.search_url }}">
                                    <input type="text"
                                        placeholder="Search"
                                        name="q"
                                        value="{{ search.terms | escape }}"
                                        autocomplete="off"
                                    >
                                    <input type="submit" value="Search">
                                </form>
                            </div>
                            
                            {% if search.results.size > 0 %}
                            
                                <div id="loader" class="loader">
                                    <!--img class="loader-icon" src="{{ 'animated-dots.gif' | asset_url }}" alt="Loader"-->
                                </div>

                                <div class="has-result d-table mx-auto my-4">
                                    <h4 class="text-center">Search results</h4>
                                </div>

                                <div id="results-container" class="row searchResults-list pb-5">
                                    {% for result in search.results %}
                                        {% if result.object_type == "product" %}
                                            
                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 result-item product-item">
                                                <div class="resultItem-wrapper position-relative">
                                                    {% if result.compare_at_price > result.price %}
                                                        <span class="vanpowers-badge-sale badge position-absolute">Sale</span>
                                                    {% endif %}
                                                    <a href="{{ result.url }}" class="item-url">
                                                        {%- if result.featured_image != blank -%}
                                                            <div class="image-card">
                                                                <img src="{{ result.featured_image | img_url: 'medium' }}" alt="{{ result.title }}" class="item-image">
                                                            </div>
                                                            {% else %}
                                                            <div class="image-card">
                                                                <img class="placeholder" src="{{  'placeholder.jpg' | asset_url }}" alt="placeholder" class="item-image w-100">
                                                            </div>
                                                        {% endif %}
                                                    </a>

                                                    <div class="variant-colors-wrapper d-table mx-auto">
                                                        {% render 'product-variant-colors', product: result %}
                                                    </div>

                                                    <div class="itemTitle-wrapper">
                                                        <div class="item-title">
                                                            <a href="{{ result.url }}" class="item-url">
                                                                <h5>{{ result.title }}</h5>
                                                            </a>
                                                        </div>
                                                        
                                                        <div class="star-reviews d-table mx-auto my-2">
                                                            <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ result.id }}'
                                                                data-template='{% if concierge_install == true or concierge_install == nil %}{{ template }}{% else %}manual-installation{% endif %}'
                                                                data-auto-install='{% if auto_install != nil %}{{ auto_install }}{% else %}false{% endif %}'>
                                                                <div class="d-flex jdm-review-wrapper">
                                                                    {{ result.metafields.judgeme.badge }} <span class="review-count">{{ result.metafields.reviews.rating_count }}</span>
                                                                </div>
                
                                                            </div>
                                                        </div>

                                                        <div class="item-price">
                                                            {% if result.compare_at_price and  result.compare_at_price != result.price %}
                                                                <div class="money-wrapper">
                                                                    <span class="discounted-price" id="discounted_price">{{ result.price | money }}</span>
                                                                    <span class="original-price" id="original_price"><s>{{ result.compare_at_price | money }}</s></span>
                                                                </div>
                                                            {%else%}
                                                                <div class="money-wrapper"><span class="price">{{ result.price | money }}</span></div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        {% elsif result.object_type == "article" %}
                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 result-item blog-item">
                                                <div class ="resultItem-wrapper">
                                                    <a href="{{ result.url }}" class="item-url">
                                                        {%- if result.image != blank -%}
                                                            <div class="image-card">
                                                                <img src="{{ result.image | img_url: 'master' }}" alt="{{ result.title }}" class="item-image">
                                                            </div>
                                                            {% else %}
                                                            <div class="image-card">
                                                                <img class="placeholder" src="{{  'placeholder.jpg' | asset_url }}" alt="placeholder" class="item-image w-100">
                                                            </div>
                                                        {% endif %}
                                                        <div class="itemTitle-wrapper">
                                                            <div class="item-title">
                                                                <h5>{{ result.title }}</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 result-item any-item">
                                                <div class ="resultItem-wrapper">
                                                    <a href="{{ result.url }}" class="item-url">
                                                        {%- if result.image != blank -%}
                                                            <div class="image-card">
                                                                <img src="{{ result.image | img_url: 'master' }}" alt="{{ result.title }}" class="item-image">
                                                            </div>
                                                            {% else %}
                                                            <div class="image-card">
                                                                <img src="{{  'placeholder.jpg' | asset_url }}" alt="placeholder" class="placeholder item-image w-100">
                                                            </div>
                                                        {% endif %}
                                                        <div class="itemTitle-wrapper">
                                                            <div class="item-title">
                                                                <h5>{{ result.title }}</h5>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {% else %}
                                    <div class="no-result d-table mx-auto mt-4">
                                        <h4>No results found!</h4>
                                    </div>

                            {% endif %}

                        {% else %}
                            <h4 class="text-center"> Try searching for something </h4>
                            <div class="search-form d-table mx-auto mt-4">
                                <form action="{{ routes.search_url }}">
                                    <input type="text"
                                        placeholder="Search"
                                        name="q"
                                        value="{{ search.terms | escape }}"
                                        autocomplete="off"
                                    >
                                    <input type="submit" value="Search">
                                </form>
                            </div>
                        {% endif %}
                        <div class="pagination">
                            {{ paginate | default_pagination }}
                        </div>
                    {% endpaginate %}
                </div>
            </div>
        </div>
    </div>
</section>

<style>

    section.search-section {
        padding-top:  {{section.settings.section_paddingTop}}px;
        padding-bottom: {{section.settings.section_paddingBottom}}px;
    }
    section.search-section .result-item {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .search-form input[type="text"] {
        border: 1px solid #D3D3D3;
        width: 320px;
        border-radius: 25px;
        padding: 10px 20px;
    }
    .search-form input[type="submit"] {
        background-color: #333;
        border: 1px solid #333;
        color: #fff;
        padding: 10px 30px;
        border-radius: 25px;
    }
    .resultItem-wrapper {
        border: 1px solid #eee;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }
    .resultItem-wrapper .vanpowers-badge-sale {
        background: #B7011C;
        font-size: 12px;
        border-radius: 10px;
        top: 29px;
        left: 22px;
        padding: 5px 7px;
    }
    .resultItem-wrapper .image-card {
        background-color: #f8f8f8;
        padding: 30px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .item-price #discounted_price {
        color: #B7011C;
        font-weight: 600;
        font-size: 18px;
    }
    .item-price #original_price, .item-price .price {
        font-size: 15px;
        font-weight: 600;
    }
    section.search-section .result-item.blog-item img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        height: 302px;
    }
    section.search-section .result-item.any-item img {
        height: 302px;
        object-fit: cover;
    }
    .result-item.blog-item .image-card {
        padding: 0;
    }
    .resultItem-wrapper .item-title h5 {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1.4em;
    }
    .resultItem-wrapper .image-card img {
        mix-blend-mode: multiply;
    }
    section.search-section .result-item.product-item .image-card img {
        max-width: 240px;
    }
    .result-item.product-item .jdgm-prev-badge__text {
        display: none;
    }
    .result-item.product-item span.review-count {
        margin-left: 6px;
        margin-top: 1px;
    }
    .resultItem-wrapper .itemTitle-wrapper {
        padding: 35px 20px;
    }
    .result-item.product-item .itemTitle-wrapper {
        padding-top: 0;
    }
    .variant-colors-wrapper {
        margin-top: 35px;
    }
    section.search-section .result-item .item-url {
        text-decoration: none;
        display: block;
    }
    section.search-section .result-item .item-url .item-title {
        text-align: center;
        font-weight: 600;
        color: #303030;
    }
    .search-container .pagination {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .search-container span.page a,
    .search-container span.page.current,
    .search-container span.prev a, 
    .search-container span.next a {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0f0;
        transition: .4s ease;
    }
    .search-container span.page.current {
        font-weight: 600;
        background-color: #1f1f1f;
        color: #ffff;
    }
    .search-container span.page a {
        text-decoration: none;
        color: #1f1f1f;
        font-weight: 600;
    }
    .search-container .pagination span.next a, 
    .search-container .pagination span.prev a {
        font-size: 0;
    }
    .search-container .pagination span.next a::after,
    .search-container .pagination span.prev a::after {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        border-top: 2px solid #1f1f1f;
        border-left: 2px solid #1f1f1f;
        transition: .4s ease;
    }
    .search-container .pagination span.next a::after {
        transform: rotate(135deg);
    }
    .search-container .pagination span.prev a::after {
        transform: rotate(318deg);
    }
    .search-container .pagination span.page a:hover, 
    .search-container .pagination span.next a:hover,
    .search-container .pagination span.prev a:hover {
        background-color: #b7011d;
        color: #fff;
    }
    .search-container .pagination span.next a:hover::after,
    .search-container .pagination span.prev a:hover::after {
        border-color: #ffffff;
    }
    section.search-section .result-item.any-item img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px
    }
    section.search-section .result-item.any-item .image-card {
        padding: 0;
    }

    /* Loader */
    .loader {
        display: none;
        border: 8px solid #f3f3f3;
        border-top: 8px solid #B7011C;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        margin: 30px auto 20px;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    #results-container {
        display: none;
    }


    /* Responsive */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        section.search-section .result-item.blog-item img, section.search-section .result-item.any-item img {
            height: 273px;
        }
        section.search-section .result-item img {
            width: 100%;
        }
        .resultItem-wrapper .item-title h5 {
            margin-bottom: 0;
            font-size: 17px;
        }
    }

    @media (max-width: 991px) {
        section.search-section .result-item {
            margin-bottom: 24px;
        }
        section.search-section .result-item.blog-item img, section.search-section .result-item.any-item img {
            height: 300px;
        }
    }
    
    @media (max-width: 575px) {
        section.search-section .result-item.blog-item img, section.search-section .result-item.any-item img {
            height: auto;
        }
        .searchResults-list {

            padding-bottom: 20px !important;
        }
    }

    @media (max-width: 464px) {
        .search-form input[type="text"] {
            width: 250px;
        }
    }

    @media (max-width: 420px) {
        .search-container span.page a, .search-container span.page.current, 
        .search-container span.prev a, .search-container span.next a {
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
        .search-container .pagination span.next a::after, .search-container .pagination span.prev a::after {
            width: 7px;
            height: 7px;;
        }
    }

    @media (max-width: 394px) {
        .search-form input[type="text"] {
            width: 200px;
        }
    }
    
    @media (max-width: 344px) {
        .search-form, .search-form input[type="text"] {
            width: 100%;
        }
        .search-form input[type="submit"] {
            display: table;
            margin: 10px auto;
        }
    }

</style>

{% javascript  %}

    //loader
    document.addEventListener("DOMContentLoaded", function () {
        // Display loader initially
        const loader = document.getElementById("loader");
        const resultsContainer = document.getElementById("results-container");

        loader.style.display = "flex";
        resultsContainer.style.display = "none";

        // set time out
        setTimeout(function () {
            // Hide loader and display results after a delay
            loader.style.display = "none";
            resultsContainer.style.display = "flex";
        }, 2000);
    });



    //update the product image based on the variant dots colors
    $(function(){
        $(".variant-option-block .variant-colors .variant-color-item").click(function(){
            $(this).addClass("on").siblings('.variant-color-item').removeClass('on');
            $(this).parents('.product-item').find('.image-card img').attr('src', $(this).attr('data-product-img'));
        })
    })

{% endjavascript %}
  
{% schema %}
    {
        "name": "Search",
        "settings": [
            {
                "type": "number",
                "id": "section_paddingTop",
                "label": "Section Padding Top",
                "default": 100
            },
            {
                "type": "number",
                "id": "section_paddingBottom",
                "label": "Section Padding Bottom",
                "default": 100
            }
        ],
        "blocks": [],
        "presets": [
            {
            "name": "Search"
            }
        ]
    }
{% endschema %}