<section id="shopify-section--{{ section.id }}" class="main-article">
    <div class="container container-panel">
        <div class="row header-article">
            <div class="col-12">
                <h1 class="article-title mb-3" itemprop="headline">
                    {{ article.title | escape }}
                </h1>
                <div class="article-publishDate d-table mx-auto">
                    <span>Vanpowers Official: </span>
                    <span class="published-data" itemprop="dateCreated pubdate datePublished">
                        {{- article.published_at | time_tag: format: 'date' -}}
                    </span>
                </div>

                <div class="article-socialIcons d-flex justify-content-center mt-4">
                    <a href="https://www.facebook.com/Vanpowers.bikes?utm_source=press&utm_medium=link&utm_campaign=Vanpowers+Bike+launch+on+IGG+2" target="_blank">
                        <img src="{{  'Facebook-icon.svg' | asset_url }}" alt="Facebook" class="article-socialIcon">
                    </a>
                    <a href="https://www.youtube.com/channel/UCFUMqJ2espnaFZ-Kn27JWLA?utm_source=press&utm_medium=link&utm_campaign=Vanpowers+Bike+launch+on+IGG+2" target="_blank">
                        <img src="{{  'Youtube-icon.svg' | asset_url }}" alt="Youtube" class="article-socialIcon">
                    </a>
                    <a href="https://www.instagram.com/vanpowers.bikes/?utm_source=press&utm_medium=link&utm_campaign=Vanpowers%20Bike%20launch%20on%20IGG%202" target="_blank">
                        <img src="{{  'instagram-icon.svg' | asset_url }}" alt="Instagram" class="article-socialIcon">
                    </a>
                    <a href="https://www.tiktok.com/@vanpowersbike" target="_blank">
                        <img src="{{  'tiktok-icon.svg' | asset_url }}" alt="Tiktok" class="article-socialIcon">
                    </a>
                    <a href="https://www.pinterest.com/pin/914653005557916280/" target="_blank">
                        <img src="{{  'pinterest-icon.svg' | asset_url }}" alt="Pinterest" class="article-socialIcon">
                    </a>
                    <a href="https://twitter.com/VanpowersBike?utm_source=press&utm_medium=link&utm_campaign=Vanpowers+Bike+launch+on+IGG+2" target="_blank">
                        <img src="{{  'twitter-icon.svg' | asset_url }}" alt="Twitter" class="article-socialIcon">
                    </a>
                </div>

            </div>
        </div>
        <div class="row article-content pt-5 mt-3">
            <div class="col-xl-9 col-lg-8 col-md-7 article-innerContent">

                <div class="article-featuredImage mb-4">
                    {%- if article.image -%}
                        <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt | escape }}">
                        {% else %}
                        <img class="placeholder" src="{{  'placeholder.jpg' | asset_url }}" alt="placeholder" class="w-100">
                    {% endif %}
                </div>

                <div class="article-templateContent" itemprop="articleBody">
                    {{ article.content }}
                </div>
                
            </div>
            <div class="col-xl-3 col-lg-4 col-lg-5 article-sideBar">
                <div class="articleInner-sideBar">
                    <h4>Most Popular</h4>
                    {% assign articles = blogs.news.articles | sort: 'popularity' | reverse %}
                    <ul>
                        {% for article in articles limit:6 %}
                            {% unless article.id == page.id %}
                                <li>
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                </li>
                            {% endunless %}
                        {% endfor %}
                    </ul>
                    <div class="sideBar-featureThumbnail position-relative d-lg-block d-md-block d-sm-none">
                        <a href="{{ section.settings.feature_url }}">
                            <img src="{{ section.settings.feature_thumbnail | img_url: 'master' }}" alt="{{ article.image.alt | escape }}">
                            <div class="sideBar-featureText">
                                {{ section.settings.feature_text }} <img class="forward-icon" src="{{ 'dark-right-arrow.png' | asset_url }}" alt="forward">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section.main-article {
        padding-top: {{ section.settings.section_paddingTop }}px;
        padding-bottom: {{ section.settings.section_paddingBottom }}px;
    }
    h1.article-title {
        font-weight: 700;
        font-size: 34px;
        text-align: center;
    }
    .article-publishDate span {
        font-weight: 600;
    }
    .article-socialIcons {
        gap: 10px;
    }
    .article-socialIcons a {
        text-decoration: none;
    }
    .article-socialIcon {
        max-width: 30px;
    }
    .article-innerContent {
        padding-right: 40px;
    }
    .article-featuredImage img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 10px;
        height: 558px;
    }
    .article-socialIcons a img {
        transition: 0.4s ease;
    }
    .article-socialIcons a:hover img {
        opacity: 0.4;
    }
    .article-templateContent p {
        margin-bottom: 0;
    }
    .article-templateContent p strong, .article-templateContent p strong b {
        font-weight: 800 !important;
        font-size: 22px;
    }
    .article-templateContent img {
        margin: 10px 0 25px !important;
        border-radius: 10px;
        width: 100%;
        height: auto;
        /*float: left;*/
    }
    .article-templateContent table img {
        width: 100%;
        border-radius: 10px;
        height: auto;
    }
    .article-templateContent .newssubtext img {
        width: 100%;
        height: auto;
        margin: 25px 0;
        border-radius: 10px;
    }
    .article-templateContent p a, .article-templateContent a, .article-templateContent a span {
        color: #B7011C;
        font-weight: 600;
    }
    .article-templateContent h1.newssubtext {
        margin: 20px 0 0;
        font-size: 22px;
    }
    .article-templateContent h2 {
        font-size: 22px;
        font-weight: 800;
        margin: 20px 0;
    }
    .article-templateContent .h1, .article-templateContent h1, .article-templateContent h3 {
        font-size: 22px;
        font-weight: 800;
    }
    .article-templateContent h4 {
        font-size: 18px;
        font-weight: 800;
    }
    .article-templateContent h5 span, .article-templateContent h6 span {
        color: #333333 !important;
    }
    .article-templateContent a h5 span {
        color: #B7011C !important;
        font-weight: 600;
    }
    .article-templateContent iframe {
        width: 100%;
        height: 500px;
        margin: 20px 0;
    }
    .articleInner-sideBar {
        background-color: #F5F5F7;
        border-radius: 10px;
        padding: 30px;
        position: sticky;
        top: 110px;
    }
    .article-sideBar ul {
        padding-left: 17px;
        margin-bottom: 30px;
    }
    .article-sideBar h4 {
        font-size: 20px;
        font-weight: 700;
    }
    .article-sideBar ul li {
        list-style: number;
        position: relative;
        padding: 15px 0;
    }
    .article-sideBar ul li a {
        text-decoration: none;
        color: #333333;
        font-weight: 500;
        transition: 0.4s ease;
        display: table;
    }
    .article-sideBar ul li a:hover {
        color: #B7011C;
    }
    .article-sideBar ul li::after {
        content: "";
        background-color: #CFCFCF;
        height: 1px;
        width: 308px;
        display: block;
        position: absolute;
        left: -17px;
        bottom: 0;
    }
    .sideBar-featureThumbnail::after {
        content: "";
        background: linear-gradient( 180deg, rgba(0,0,0,0) 0%, #000000 100%);
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        z-index: 100;
        height: 100px;
        opacity: 0.58;
        z-index: 1;
        border-radius: 10px;
    }
    .sideBar-featureThumbnail img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        height: 290px;
        border-radius: 10px;
    }
    .sideBar-featureText {
        position: absolute;
        bottom: 15px;
        left: 20px;
        color: #fff;
        font-weight: 600;
        z-index: 2;
        display: flex;
        gap: 7px;
        align-items: center;
    }

    .article-sideBar img.forward-icon {
        filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(235%) hue-rotate(109deg) brightness(118%) contrast(100%);
        height: 12px;
        width: 12px;
    }
    .article-templateContent #content, .article-templateContent .post-content {
        padding: 0;
    }

    /* Responsive */
    @media (max-width: 1599px) {
        .article-sideBar ul li::after {
            width: 246px;
        }
    }
    @media (max-width: 1399px) {
        .article-innerContent {
            width: 70%;
        }
        .article-sideBar {
            width: 30%;
        }
        .article-sideBar ul li::after {
            width: 258px;
        }
    }
    @media (max-width: 1199px) {
        section.main-article {
            padding-top: 50px;
        }
        .article-innerContent {
            width: 65%;
        }
        .article-sideBar {
            width: 35%;
        }
        .sideBar-featureThumbnail img {
            height: 230px;
        }
    }
    @media (max-width: 991px) {
        .article-innerContent {
            width: 60%;
        }
        .article-sideBar {
            width: 40%;
        }
        .article-sideBar ul li::after {
            width: 100% !important;
            left: 0 !important;
        }
        .article-content {
            margin-top: 0 !important;
            padding-top: 30px !important;
        }
    }
    
    @media (max-width: 767px) {
        .article-featuredImage img {
            height: auto;
        }
        .article-innerContent {
            padding-right: 20px;
        }
        .sideBar-featureThumbnail img {
            height: 190px;
        }
        .articleInner-sideBar {
            padding: 30px 20px;
        }
    }
    
    @media (max-width: 576px) {
        section.main-article {
            padding-top: 40px !important;
        }
        h1.article-title {
            font-size: 26px;
            line-height: 1.4em;
        }
        .article-featuredImage {
            margin-top: 0 !important;
        }
        .article-innerContent {
            width: 100%;
            padding-right: 12px;
        }
        .article-sideBar {
            width: 100%;
            margin-top: 30px;
        }
        .sideBar-featureThumbnail img {
            height: auto;
        }
    }
</style>

{% schema %}
    {
      "name": "Main Article",
      "settings": [
        {
            "type": "number",
            "id": "section_paddingTop",
            "label": "Section Padding Top",
            "default": 100
        },
        {
            "type": "number",
            "id": "section_paddingBottom",
            "label": "Section Padding Bottom",
            "default": 100
        },
        {
            "type": "image_picker",
            "id": "feature_thumbnail",
            "label": "Sidebar Feature Thumbnail"
        },
        {
            "type": "text",
            "id": "feature_text",
            "label": "Sidebar Feature Text"
        },
        {
            "type": "url",
            "id": "feature_url",
            "label": "Sidebar Feature URL"
        }
      ],
      "presets": [
        {
          "name": "Main Article"
        }
      ]
    }
{% endschema %}